﻿
@model CHMIS.Models.CoreCaseContactsMutitpleTests
@using Syncfusion.EJ2
@using Newtonsoft.Json

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div >
        <div hidden="hidden">
            <input type="number" id="Code" name="Code" value="@Model.Code" />
            @*<ejs-textbox id="Code" ejs-for="Code" cssClass="e-filled" placeholder="Code" floatLabelType="Auto" name="Code" disabled type="text" value="@Model.Code"></ejs-textbox>*@
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" >
                        1. Personal Information Details
                    </a>
                </h5>
            </div>

            @*<div id="collapse2" class="panel-collapse collapse in">*@
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="CaseNo" ejs-for="CaseNo" cssClass="e-filled" placeholder="Case No." floatLabelType="Always" name="CaseNo" disabled type="text" value="@Model.CaseNo.ToString()"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="ContactCaseNo" ejs-for="ContactCaseNo" cssClass="e-filled" placeholder="Contact Case No." floatLabelType="Always" name="ContactCaseNo" disabled type="text" value="@Model.ContactCaseNo.ToString()"></ejs-textbox>
                        </div>
                    </div>
                    <hr />

                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="LabTestDate" value="@Model.LabTestDate" cssClass="e-outline" ejs-for="LabTestDate" name="LabTestDate" format="yyyy-MM-dd hh:mm" placeholder="Date of Lab Test" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="LabResults" value="@Model.LabResults" cssClass="e-outline" dataSource="@ViewBag.LabResults" placeholder="Lab Results" filterBarPlaceholder="Search Lab Results" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Hospital" ejs-for="Hospital" cssClass="e-outline" placeholder="Hospital" floatLabelType="Auto" name="Hospital" type="text" value="@Model.Hospital"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="GeneralComments" ejs-for="GeneralComments" cssClass="e-outline" placeholder="GeneralComments" floatLabelType="Auto" name="GeneralComments" type="text" value="@Model.GeneralComments"></ejs-textbox>
                        </div>

                    </div>

                    <hr />
                </div>
            @*</div>*@
        </div>

    </div>
</div>
<ejs-scripts></ejs-scripts>
<script>
        function onFileRemove(args) {
            args.postRawFile = false;
        }
        //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>


