﻿@model CHMIS.Models.CoreCaseContactsMutitpleTests
@using Syncfusion.EJ2

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    @*<div class="panel-group" id="accordion">*@
        <div hidden="hidden">
            <input type="number" id="Code" name="Code" value="@Model.Code" />
            @*<ejs-textbox id="Code" ejs-for="Code" cssClass="e-filled" placeholder="Code" floatLabelType="Auto" name="Code" disabled type="text" value="@Model.Code"></ejs-textbox>*@
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                        1. Contacts Multiple Testing Results
                </h5>
            </div>

            @*<div id="collapse2" class="panel-collapse collapse in">*@
            <div class="panel-body">
                <hr />
                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="CaseNo" ejs-for="CaseNo" cssClass="e-filled" disabled placeholder=" Case No." floatLabelType="Always" name="CaseNo" type='text' value="@Model.CaseNo"></ejs-textbox>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="ContactCaseNo" ejs-for="ContactCaseNo" cssClass="e-filled" disabled placeholder="Contact Case No." floatLabelType="Always" name="ContactCaseNo" type='text' value="@Model.ContactCaseNo"></ejs-textbox>
                    </div>

                </div>

                <hr />
                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="LabResults" cssClass="e-outline" value="@Model.LabResults" dataSource="@ViewBag.TestResults" floatLabelType="Auto" placeholder="Choose a Lab Results" allowFiltering="true" filterBarPlaceholder="Lab Results" popupHeight="300px">
                            <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-datetimepicker id="LabTestDate" max="DateTime.Now" value="@Model.LabTestDate" cssClass="e-outline" ejs-for="LabTestDate" name="LabTestDate" format="dd/MMMM/yyyy" placeholder="Lab Test Date" floatLabelType="Auto"></ejs-datetimepicker>
                    </div>

                </div>

                <hr />
                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="Hospital"  ejs-for="Hospital" cssClass="e-outline" placeholder="Hospital" floatLabelType="Auto" name="Hospital" type="text" value="@Model.Hospital"></ejs-textbox>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="GeneralComments" ejs-for="GeneralComments" cssClass="e-outline" placeholder="General Comments" floatLabelType="Auto" name="GeneralComments" type="text" value="@Model.GeneralComments"></ejs-textbox>
                    </div>

                </div>
                <hr />

            </div>
            @*</div>*@
        </div>
    @*</div>*@

</div>

<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>
