﻿
@model CHMIS.Models.CoreCaseContacts
@using Syncfusion.EJ2
@using Newtonsoft.Json
@{
    var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = @Url.Content("~/Contacts/Save?CaseNo=" + @Model.CaseNo), RemoveUrl = @Url.Content("~/Contacts/Remove?CaseNo=" + @Model.CaseNo) };
    var asyncSettingsPhoto = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = @Url.Content("~/Contacts/SavePhoto?CaseNo=" + @Model.CaseNo), RemoveUrl = @Url.Content("~/Contacts/RemovePhoto?CaseNo=" + @Model.CaseNo) };
}
@*<div style="width:1600px"></div>*@
<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        1. Personal Information Details
                    </a>
                </h5>
            </div>

            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="CaseNo" ejs-for="CaseNo" cssClass="e-filled" placeholder="Case No." floatLabelType="Always" name="CaseNo" disabled type="text" value="@Model.CaseNo.ToString()"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="ContactCaseNo" ejs-for="ContactCaseNo" cssClass="e-filled" placeholder="Contact No." disabled floatLabelType="Always" name="ContactCaseNo" type="text" value="@Model.ContactCaseNo"></ejs-textbox>
                        </div>

                    </div>
                    <hr />

                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="DateOfReporting" max="DateTime.Now" value="@Model.DateOfReporting" cssClass="e-outline" ejs-for="DateOfReporting" name="DateOfReporting" format="yyyy-MM-dd hh:mm" placeholder="Date of Reporting" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="FirstName" ejs-for="FirstName" cssClass="e-outline" placeholder="First-Name" floatLabelType="Auto" name="FirstName" type="text" value="@Model.FirstName"></ejs-textbox>
                        </div>
                        @*<div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="RiskLevel" value="@Model.RiskLevel" cssClass="e-outline" dataSource="@ViewBag.Risk" placeholder="Risk Level" allowFiltering="true" filterBarPlaceholder="Search Risk levels" floatLabelType="Always" popupHeight="300px">
                                    <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>

                            </div>*@
                    </div>
                    <hr />
                    <div class="row material2">

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="MiddleName" ejs-for="MiddleName" cssClass="e-outline" placeholder="Middle-Name" floatLabelType="Auto" name="MiddleName" type="text" value="@Model.MiddleName"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="LastName" ejs-for="LastName" cssClass="e-outline" placeholder="Last-Name" floatLabelType="Auto" name="LastName" type="text" value="@Model.LastName"></ejs-textbox>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="ExposureType" cssClass="e-outline" value="@Model.ExposureType" dataSource="@ViewBag.ExposureType" floatLabelType="Auto" placeholder="Exposure Type ?" allowFiltering="true" filterBarPlaceholder="Search Exposure Type?" popupHeight="300px">
                                <e-dropdownlist-fields text="ExposureType" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="ExposureTypeSpecify" ejs-for="ExposureTypeSpecify" cssClass="e-outline" placeholder="Exposure Type (Please Specify if applicable)" floatLabelType="Auto" name="ExposureTypeSpecify" type="text" value="@Model.ExposureTypeSpecify"></ejs-textbox>
                        </div>
                    </div>
                    @*<hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="Occupation" cssClass="e-outline" value="@Model.Occupation" dataSource="@ViewBag.Occupation" placeholder="Occupation" allowFiltering="true" filterBarPlaceholder="Search Occupation" floatLabelType="Always" popupHeight="300px">
                                    <e-dropdownlist-fields text="Occupation" value="OccupationId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>


                        </div>*@
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="Sex" value="@Model.Sex" cssClass="e-outline" dataSource="@ViewBag.Sex" placeholder="Gender" filterBarPlaceholder="Search Gender" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Age" ejs-for="Age" cssClass="e-outline" placeholder="Age" floatLabelType="Auto" name="Age" type="number" step="any" value="@Model.Age"></ejs-textbox>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">
                        @*<div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="DoB" value="@Model.DoB" cssClass="e-outline" ejs-for="DoB" name="DoB" format="yyyy-MM-dd hh:mm" placeholder="Date of Birth" floatLabelType="Auto"></ejs-datetimepicker>
                            </div>*@
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-maskedtextbox id="Tel" mask="000-000-0000" ejs-for="Tel" cssClass="e-outline" placeholder="Telephone No." floatLabelType="Auto" value="@Model.Tel"></ejs-maskedtextbox>
                            @*<ejs-textbox id="Tel" ejs-for="Tel" cssClass="e-outline" placeholder="Telephone No." floatLabelType="Auto" name="Tel" type="number" step="any" value="@Model.Tel"></ejs-textbox>*@
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="OccupationSpecify" ejs-for="OccupationSpecify" cssClass="e-outline" placeholder="Occupation (Specify)" floatLabelType="Auto" name="OccupationSpecify" type="text" value="@Model.OccupationSpecify"></ejs-textbox>
                        </div>

                    </div>
                    @*<hr />
                        <div class="row material2">
                            <div class="form-group col-md-12">
                                <ejs-textbox id="ExposureTypeSpecify" multiline="true" ejs-for="ExposureTypeSpecify" cssClass="e-outline" placeholder="Exposure Type (Please Specify if applicable)" floatLabelType="Auto" name="ExposureTypeSpecify" type="text" value="@Model.ExposureTypeSpecify"></ejs-textbox>
                            </div>
                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="form-group col-md-12">
                                <ejs-textbox id="RiskReason" multiline="true" ejs-for="RiskReason" cssClass="e-outline" placeholder="Risk Reason." floatLabelType="Auto" name="RiskReason" type="text" value="@Model.RiskReason"></ejs-textbox>
                            </div>
                        </div>*@
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="Relationship" value="@Model.Relationship" cssClass="e-outline" dataSource="@ViewBag.Relationship" allowFiltering="true" filterBarPlaceholder="Serch the list Relationship" placeholder="Relationship" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Relationship" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="RelationshipSpecify" ejs-for="RelationshipSpecify" cssClass="e-outline" placeholder="Relationship (Please Specify if not in list)" floatLabelType="Auto" name="RelationshipSpecify" type="text" value="@Model.RelationshipSpecify"></ejs-textbox>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="complaintAddress">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse1">
                        2. Address Details
                    </a>
                </h5>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="Address" value="@Model.Address" cssClass="e-outline" dataSource="@ViewBag.Address" placeholder="Address" filterBarPlaceholder="Search Address" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="VillageName" value="VillageId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Email" ejs-for="Email" cssClass="e-outline" placeholder="Email" floatLabelType="Auto" name="Email" type="email" value="@Model.Email"></ejs-textbox>
                        </div>

                        @*<div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="FacilityUnit" cssClass="e-outline" value="@Model.FacilityUnit" dataSource="@ViewBag.Facility" allowFiltering="true" filterBarPlaceholder="Search Facilities" placeholder="Choose Facility /Community Unit (If Applicable)" floatLabelType="Auto" popupHeight="300px">
                                    <e-dropdownlist-fields text="Facility" value="FacilityCode"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>*@
                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Longitude" ejs-for="Longitude" cssClass="e-outline" placeholder="Longitude" floatLabelType="Auto" name="Longitude" type="number" step="any" value="@Model.Longitude"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Latitude" ejs-for="Latitude" cssClass="e-outline" placeholder="Latitude" floatLabelType="Auto" name="Latitude" type="number" step="any" value="@Model.Latitude"></ejs-textbox>
                        </div>
                    </div>
                    @*<hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="DistrictId" value="@Model.DistrictId" cssClass="e-outline" dataSource="@ViewBag.District" placeholder="Address" filterBarPlaceholder="District" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                                  change="CountyChange">
                                    <e-dropdownlist-fields text="DistrictName" value="DistrictId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="CountyId" value="@Model.CountyId" cssClass="e-outline" dataSource="@ViewBag.County" placeholder="County" filterBarPlaceholder="Choose a County" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                                  change="DivisionChange">
                                    <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="SubcountyId" value="@Model.SubcountyId" cssClass="e-outline" dataSource="@ViewBag.SubCounty" placeholder="SubCounty" filterBarPlaceholder="Choose a SubCounty" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                                  change="ParishChange">
                                    <e-dropdownlist-fields text="SubcountyName" value="SubcountyId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="ParishId" value="@Model.ParishId" cssClass="e-outline" dataSource="@ViewBag.Parish" placeholder="Parish" filterBarPlaceholder="Choose a Parish" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                                  change="VillageChange">
                                    <e-dropdownlist-fields text="ParishName" value="ParishId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        </div>*@
                    @*<hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="VillageId" value="@Model.VillageId" cssClass="e-outline" dataSource="@ViewBag.Village" placeholder="Village" filterBarPlaceholder="Choose a Village" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                                    <e-dropdownlist-fields text="VillageName" value="VillageId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="Email" ejs-for="Email" cssClass="e-outline" placeholder="Email" floatLabelType="Auto" name="Email" type="email" value="@Model.Email"></ejs-textbox>
                            </div>
                        </div>*@
                    <hr />
                </div>
            </div>
        </div>

        @*<div class="panel panel-default" id="complaintEpidemiology">
                <div class="panel-heading">
                    <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                        <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapseEpidemiology">
                            3. Epidemiology Details
                        </a>
                    </h5>
                </div>
                <div id="collapseEpidemiology" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="Classification" cssClass="e-outline" value="@Model.Classification" dataSource="@ViewBag.Classification" allowFiltering="true" filterBarPlaceholder="Search Classification" placeholder="Classification" floatLabelType="Auto" popupHeight="300px">
                                    <e-dropdownlist-fields text="Classification" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="ClassificationSpecify" ejs-for="ClassificationSpecify" cssClass="e-outline" placeholder="ClassificationSpecify" floatLabelType="Auto" name="ClassificationSpecify" type="text" value="@Model.ClassificationSpecify"></ejs-textbox>
                            </div>

                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datetimepicker id="DateOnset" value="@Model.DateOnset" cssClass="e-outline" ejs-for="DateOnset" name="DateOnset" format="yyyy-MM-dd hh:mm" placeholder="Date of On-set" floatLabelType="Auto"></ejs-datetimepicker>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datetimepicker id="DateOfInfection" value="@Model.DateOfInfection" cssClass="e-outline" ejs-for="DateOfInfection" name="DateOfInfection" format="yyyy-MM-dd hh:mm" placeholder="Date of Infection" floatLabelType="Auto"></ejs-datetimepicker>
                            </div>

                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datetimepicker id="CaseDate" value="@Model.CaseDate" cssClass="e-outline" ejs-for="CaseDate" name="CaseDate" format="yyyy-MM-dd hh:mm" placeholder="Date of becoming Case" floatLabelType="Auto"></ejs-datetimepicker>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="Outcome" value="@Model.Outcome" cssClass="e-outline" dataSource="@ViewBag.Outcomes" placeholder="Outcomes" allowFiltering="true" filterBarPlaceholder="Search Outcomes" floatLabelType="Auto" popupHeight="300px">
                                    <e-dropdownlist-fields text="Outcome" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="OutcomeSpecify" ejs-for="OutcomeSpecify" cssClass="e-outline" placeholder="Outcomes (Specify if not in list)" floatLabelType="Auto" name="OutcomeSpecify" type="text" value="@Model.OutcomeSpecify"></ejs-textbox>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datetimepicker id="DateOfOutcome" value="@Model.DateOfOutcome" cssClass="e-outline" ejs-for="DateOfOutcome" name="DateOfOutcome" format="yyyy-MM-dd hh:mm" placeholder="Date of Outcome" floatLabelType="Auto"></ejs-datetimepicker>
                            </div>

                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datetimepicker id="LabTestDate" value="@Model.LabTestDate" cssClass="e-outline" ejs-for="LabTestDate" name="LabTestDate" format="yyyy-MM-dd hh:mm" placeholder="Lab Test Date" floatLabelType="Auto"></ejs-datetimepicker>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="LabResults" value="@Model.LabResults" cssClass="e-outline" dataSource="@ViewBag.LabResults" allowFiltering="true" filterBarPlaceholder="Search Lab results" placeholder="Lab Results" floatLabelType="Auto" popupHeight="300px">
                                    <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datetimepicker id="DateOfFirstContact" value="@Model.DateOfFirstContact" cssClass="e-outline" ejs-for="DateOfFirstContact" name="DateOfFirstContact" format="yyyy-MM-dd hh:mm" placeholder="Date of the first contact" floatLabelType="Auto"></ejs-datetimepicker>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datetimepicker id="DateOfLastContact" value="@Model.DateOfLastContact" cssClass="e-outline" ejs-for="DateOfLastContact" name="DateOfLastContact" format="yyyy-MM-dd hh:mm" placeholder="Date of the last contact" floatLabelType="Auto"></ejs-datetimepicker>
                            </div>
                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="IsContactDateEstimated" value="@Model.IsContactDateEstimated" cssClass="e-outline" dataSource="@ViewBag.YesNo" allowFiltering="true" filterBarPlaceholder="Serch the list" placeholder="Is contact Dates Estimated?" floatLabelType="Auto" popupHeight="300px">
                                    <e-dropdownlist-fields text="YesNo" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="CertaintyLevel" value="@Model.CertaintyLevel" cssClass="e-outline" dataSource="@ViewBag.Risk" allowFiltering="true" filterBarPlaceholder="Search Certainty Level" placeholder="Certainty Level" floatLabelType="Auto" popupHeight="300px">
                                    <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@

        <div class="panel panel-default" id="complaintSymptoms">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapseSymptoms">
                        3. Next Action taken Details
                    </a>
                </h5>
            </div>
            <div id="collapseSymptoms" class="panel-collapse collapse in">

                <div class="panel-body">
                    <hr />
                    @*<div class="row material2">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-multiselect id="Symptoms" dataSource="@ViewBag.Symptoms" mode="CheckBox" floatLabelType="Auto" allowFiltering="true" placeholder="Choose one or more Symptom(s)"
                                 showSelectAll="true" showDropDownIcon="true" cssClass="e-outline"
                                 value="@ViewBag.SymptomsValue"
                                 filterBarPlaceholder="Search Symptom(s)" popupHeight="350px">
                    <e-multiselect-fields text="Symptoms" value="Id"></e-multiselect-fields>
                </ejs-multiselect>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-textbox id="SymptomsOthers" ejs-for="SymptomsOthers" cssClass="e-outline" placeholder="Symptoms (Specify if not in list)" floatLabelType="Auto" name="SymptomsOthers" type="text" value="@Model.SymptomsOthers"></ejs-textbox>
            </div>

        </div>
        <hr />*@
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="NextAction" ejs-for="NextAction" cssClass="e-outline" placeholder="Next-Action to be taken" floatLabelType="Auto" name="NextAction" type="text" value="@Model.NextAction"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="LostFollowUp" ejs-for="LostFollowUp" value="@Model.LostFollowUp" cssClass="e-outline" dataSource="@ViewBag.YesNo" allowFiltering="true" filterBarPlaceholder="Serch Lost Follow-Up" placeholder="Lost Follow-Up?" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="YesNo" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                        <hr />

                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="form-group col-md-12">
                            <ejs-textbox id="GeneralComments" multiline="true" ejs-for="GeneralComments" cssClass="e-outline" placeholder="General Comments" floatLabelType="Auto" name="GeneralComments" type="text" value="@Model.GeneralComments"></ejs-textbox>
                        </div>

                    </div>
                    <hr />
                </div>
            </div>
        </div>

        @*<div class="panel panel-default" id="complaintSymptomsDocuments">
                <div class="panel-heading">
                    <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                        <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapseDocuments">
                            5. Case Supporting Documents/Evidence/Passport Photo (If Applicable)
                        </a>
                    </h5>
                </div>
                <div id="collapseDocuments" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <div class="row material2">
                            <div class="form-group col-md-12">
                                <h6><strong>Uploaded Supporting Documents/Evidence</strong></h6>
                                <div id="PreInvestGrd"> </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="e-float-input e-control-wrapper">
                                    <ejs-uploader id="UploadFiles" removing="onFileRemove" dropArea=".control-fluid" asyncSettings="@asyncSettings" beforeUpload="onFileUpload" success="OnFileSuccess">
                                    </ejs-uploader>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="form-group col-md-12">
                                <h6><b>Upload Passport Photo</b></h6>
                                <div id="PreInvestGrd_photo"> </div>
                            </div>

                            <div class="row material2">
                                <div class="form-group col-md-12">
                                    <div class="e-float-input e-control-wrapper">
                                        <ejs-uploader id="UploadPhoto" removing="onFileRemove" dropArea=".control-fluid" asyncSettings="@asyncSettingsPhoto" beforeUpload="onFileUpload" success="OnFileSuccess">
                                        </ejs-uploader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@


        <div class="panel panel-default" id="complaintcollapsetracing">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapsetracing">
                        4. Assign Contact Managment / Follow-Up Person
                    </a>
                </h5>
            </div>
            <div id="collapsetracing" class="panel-collapse collapse in">

                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="AssignFollowUpContactPerson" value="@Model.AssignFollowUpContactPerson" cssClass="e-outline" dataSource="@ViewBag.Employee" allowFiltering="true" filterBarPlaceholder="Search the Follow-Up list" placeholder="Assign Follow Up Contact Person" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="EmployeeId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>

        @*elevate a contact*@
        <div class="panel panel-default" id="complaintEpidemiologyelevate">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: darkred; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapseEpidemiologyeve">
                        5. Elevate a Contact to Case - Details
                    </a>
                </h5>
            </div>
            <div id="collapseEpidemiologyeve" class="panel-collapse collapse in">
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="StatusFlag" value="@Model.StatusFlag" cssClass="e-outline" dataSource="@ViewBag.Elevate" allowFiltering="true" filterBarPlaceholder="Search..." placeholder="Elevate a contact to case" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="CaseDate" value="@Model.CaseDate" max="DateTime.Now" cssClass="e-outline" ejs-for="CaseDate" name="CaseDate" format="yyyy-MM-dd hh:mm" placeholder="Date of becoming Case" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>
                        @*<div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datetimepicker id="DateOfInfection" value="@Model.DateOfInfection" cssClass="e-outline" ejs-for="DateOfInfection" name="DateOfInfection" format="yyyy-MM-dd hh:mm" placeholder="Date of Infection" floatLabelType="Auto"></ejs-datetimepicker>
                            </div>*@
                    </div>

                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="LabTestDate" max="DateTime.Now" value="@Model.LabTestDate" cssClass="e-outline" ejs-for="LabTestDate" name="LabTestDate" format="yyyy-MM-dd hh:mm" placeholder="Lab Test Date" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="LabResults" value="@Model.LabResults" cssClass="e-outline" dataSource="@ViewBag.LabResults" allowFiltering="true" filterBarPlaceholder="Search Lab results" placeholder="Lab Results" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </div>

                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="DateOfFirstContact" value="@Model.DateOfFirstContact" max="DateTime.Now" cssClass="e-outline" ejs-for="DateOfFirstContact" name="DateOfFirstContact" format="yyyy-MM-dd hh:mm" placeholder="Date of the first contact" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="DateOfLastContact" value="@Model.DateOfLastContact" max="DateTime.Now" cssClass="e-outline" ejs-for="DateOfLastContact" name="DateOfLastContact" format="yyyy-MM-dd hh:mm" placeholder="Date of the last contact" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>
                    </div>

                    <hr />
                </div>
            </div>
        </div>

        @*elevate a contact*@
        <div class="panel panel-default" id="testresults1">
            <div class="panel-heading">
                <h5 style="width:100%; background-color:darkgreen; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#testresults">
                        6. Capture Multiple lab tests results for Case-Contacts - Details
                    </a>
                </h5>
            </div>
            <div id="testresults" class="panel-collapse collapse in">
                <div class="panel-body">
                    <hr />
                    <div id="TestDetailsGrid"> </div>

                    <hr />
                </div>
            </div>
        </div>

    </div>
</div>

<ejs-scripts></ejs-scripts>
@*<script id='dialogtemplate' type="text/x-template">
    <div id="detailTemp">
    </div>
</script>*@
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>

<script type="text/javascript">
        function onfiltering(e) {
            var query = new ej.data.Query();
            query = (e.text !== '') ? query.where('VillageName', 'startswith', e.text, true) : query;
            e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Address)), query);
        }
</script>

