﻿@*DefaultContact*@

@model CHMIS.Models.CoreCaseContacts
@*@model CHMIS.Models.spView_Core_CaseContacts_Result*@
@using Syncfusion.EJ2

@{
    var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = @Url.Content("~/Contact/Save?Contact_CaseNo=" + @Model.ContactCaseNo), RemoveUrl = @Url.Content("~/Contact/Remove?Contact_CaseNo=" + @Model.ContactCaseNo) };
    var asyncSettingsPhoto = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = @Url.Content("~/Cases/SavePhoto?CaseNo=" + @Model.ContactCaseNo), RemoveUrl = @Url.Content("~/Cases/RemovePhoto?CaseNo=" + @Model.ContactCaseNo) };
}

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        1. Personal Information Details
                    </a>
                </h5>
            </div>

            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="ContactCaseNo" asp-for="ContactCaseNo" cssClass="e-filled" placeholder="Contact Case No." floatLabelType="Auto" name="ContactCaseNo" disabled type="text" value="@Model.ContactCaseNo"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="CaseNo" asp-for="CaseNo" cssClass="e-outline" placeholder="CaseNo" floatLabelType="Auto" name="CaseNo" disabled type="text" value="@Model.CaseNo"></ejs-textbox>
                        </div>

                    </div>

                    <hr />

                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="FirstName" asp-for="FirstName" cssClass="e-outline" placeholder="First-Name" floatLabelType="Auto" name="FirstName" type="text" value="@Model.FirstName"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="MiddleName" asp-for="MiddleName" cssClass="e-outline" placeholder="Middle-Name" floatLabelType="Auto" name="MiddleName" type="text" value="@Model.MiddleName"></ejs-textbox>
                        </div>
                    </div>

                    <hr />

                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="LastName" asp-for="LastName" cssClass="e-outline" placeholder="Last-Name" floatLabelType="Auto" name="LastName" type="text" value="@Model.LastName"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="RiskReason" asp-for="RiskReason" cssClass="e-outline" placeholder="Risk-Reason" floatLabelType="Auto" name="RiskReason" type="text" value="@Model.RiskReason"></ejs-textbox>
                        </div>
                    </div>

                    <hr />

                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="VaccinesReceived" cssClass="e-outline" value="@Model.VaccinesReceived" dataSource="@ViewBag.yesno" floatLabelType="Auto" placeholder="Vaccines Received" allowFiltering="true" filterBarPlaceholder="Were the vaccines received ?" popupHeight="300px">
                                <e-dropdownlist-fields text="YesNo" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Vaccines" asp-for="Vaccines" cssClass="e-outline" placeholder="Vaccines" floatLabelType="Auto" name="Vaccines" type="text" value="@Model.Vaccines"></ejs-textbox>
                        </div>
                    </div>

                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="Occupation" cssClass="e-outline" value="@Model.Occupation" dataSource="@ViewBag.occupation" floatLabelType="Auto" placeholder="Occupation" allowFiltering="true" filterBarPlaceholder="Choose an Occupation" popupHeight="300px">
                                <e-dropdownlist-fields text="Occupation" value="OccupationId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>

                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="OccupationSpecify" asp-for="OccupationSpecify" cssClass="e-outline" placeholder="Occupation (Specify if not in list)" floatLabelType="Auto" name="OccupationSpecify" type="text" value="@Model.OccupationSpecify"></ejs-textbox>
                        </div>

                    </div>

                    <hr />

                    <div class="row material2">

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="Sex" value="@Model.Sex" cssClass="e-outline" dataSource="@ViewBag.Sex" placeholder="Gender" filterBarPlaceholder="Search Gender" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Age" asp-for="Age" cssClass="e-outline" placeholder="Age" floatLabelType="Auto" name="Age" type="text" value="@Model.Age"></ejs-textbox>
                        </div>

                    </div>

                    <hr />

                    <div class="row material2">

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="DoB" max="DateTime.Now" value="@Model.DoB" cssClass="e-outline" asp-for="DoB" name="DoB" format="yyyy-MM-dd hh:mm" placeholder="Date of Birth" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-maskedtextbox id="Tel" mask="000-000-0000" ejs-for="Tel" cssClass="e-outline" placeholder="Telephone No." floatLabelType="Auto" value="@Model.Tel"></ejs-maskedtextbox>
                            @*<ejs-textbox id="Tel" asp-for="Tel" cssClass="e-outline" placeholder="Telephone No." floatLabelType="Auto" name="Tel" type="text" value="@Model.Tel"></ejs-textbox>*@
                        </div>

                    </div>

                    <hr />

                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Email" asp-for="Email" cssClass="e-outline" placeholder="Email" floatLabelType="Auto" name="Email" type="text" value="@Model.Email"></ejs-textbox>
                        </div>
                    </div>

                    <hr />

                </div>
            </div>
        </div>

        @*add here*@

        <div class="panel panel-default" id="complaintAddress">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse1">
                        2. Address Details
                    </a>
                </h5>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="DistrictId" value="@Model.DistrictId" cssClass="e-outline" dataSource="@ViewBag.District" placeholder="Address" filterBarPlaceholder="District" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                              change="CountyChange">
                                <e-dropdownlist-fields text="DistrictName" value="DistrictId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="CountyId" value="@Model.CountyId" cssClass="e-outline" dataSource="@ViewBag.County" placeholder="County" filterBarPlaceholder="Choose a County" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                              change="DivisionChange">
                                <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </div>
                    <hr />

                    @*<div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="Division_Id" value="@Model.Division_Id" cssClass="e-outline" dataSource="@ViewBag.County" placeholder="Address" filterBarPlaceholder="Division" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                                  change="DivisionChange">
                                    <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>


                        </div>*@
                    <hr />

                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="SubcountyId" value="@Model.SubcountyId" cssClass="e-outline" dataSource="@ViewBag.SubCounty" placeholder="SubCounty" filterBarPlaceholder="Choose a SubCounty" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                              change="ParishChange">
                                <e-dropdownlist-fields text="SubcountyName" value="SubcountyId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="ParishId" value="@Model.ParishId" cssClass="e-outline" dataSource="@ViewBag.Parish" placeholder="Parish" filterBarPlaceholder="Choose a Parish" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                              change="VillageChange">
                                <e-dropdownlist-fields text="ParishName" value="ParishId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </div>

                    <hr />

                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="VillageId" value="@Model.VillageId" cssClass="e-outline" dataSource="@ViewBag.Village" placeholder="Village" filterBarPlaceholder="Choose a Village" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="VillageName" value="VillageId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Longitude" asp-for="Longitude" cssClass="e-outline" placeholder="Longitude" floatLabelType="Auto" name="Longitude" type="text" value="@Model.Longitude"></ejs-textbox>
                        </div>

                    </div>

                    <hr />

                    <div class="row material2">

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Latitude" asp-for="Latitude" cssClass="e-outline" placeholder="Latitude" floatLabelType="Auto" name="Latitude" type="text" value="@Model.Latitude"></ejs-textbox>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default" id="complaintEpidemiology">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapseEpidemiology">
                        3. Relationship
                    </a>
                </h5>
            </div>
            <div id="collapseEpidemiology" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="Classification" cssClass="e-outline" value="@Model.Classification" dataSource="@ViewBag.Classification" allowFiltering="true" filterBarPlaceholder="Search Classification" placeholder="Classification" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Classification" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="ClassificationSpecify" asp-for="ClassificationSpecify" cssClass="e-outline" placeholder="ClassificationSpecify" floatLabelType="Auto" name="ClassificationSpecify" type="text" value="@Model.ClassificationSpecify"></ejs-textbox>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="DateOnset" value="@Model.DateOnset" max="DateTime.Now" cssClass="e-outline" asp-for="DateOnset" name="DateOnset" format="yyyy-MM-dd hh:mm" placeholder="Date of On-set" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="DateOfInfection" max="DateTime.Now" value="@Model.DateOfInfection" cssClass="e-outline" asp-for="DateOfInfection" name="DateOfInfection" format="yyyy-MM-dd hh:mm" placeholder="Date of Infection" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="CaseDate" value="@Model.CaseDate" max="DateTime.Now" cssClass="e-outline" asp-for="CaseDate" name="CaseDate" format="yyyy-MM-dd hh:mm" placeholder="Date of becoming Case" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="Outcome" value="@Model.Outcome" cssClass="e-outline" dataSource="@ViewBag.Outcome" placeholder="Outcomes" allowFiltering="true" filterBarPlaceholder="Search Outcomes" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Outcome" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="OutcomeSpecify" asp-for="OutcomeSpecify" cssClass="e-outline" placeholder="Outcomes (Specify if not in list)" floatLabelType="Auto" name="OutcomeSpecify" type="text" value="@Model.OutcomeSpecify"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="DateOfOutcome" max="DateTime.Now" value="@Model.DateOfOutcome" cssClass="e-outline" asp-for="DateOfOutcome" name="DateOfOutcome" format="yyyy-MM-dd hh:mm" placeholder="Date of Outcome" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>

                    </div>

                    <hr />

                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="LabTestDate" max="DateTime.Now" value="@Model.LabTestDate" cssClass="e-outline" asp-for="LabTestDate" name="LabTestDate" format="yyyy-MM-dd hh:mm" placeholder="Lab Test Date" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="LabResults" value="@Model.LabResults" cssClass="e-outline" dataSource="@ViewBag.LabResults" allowFiltering="true" filterBarPlaceholder="Search Lab results" placeholder="Lab Results" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </div>

                    <hr />

                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="ExposureType" value="@Model.ExposureType" cssClass="e-outline" dataSource="@ViewBag.ExposureType" allowFiltering="true" filterBarPlaceholder="Choose an Exposure Type" placeholder="ExposureType" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="ExposureType" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default" id="complaintSymptomsDocuments">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapseDocuments">
                        5. Case Supporting Documents/Evidence/Passport Photo (If Applicable)
                    </a>
                </h5>
            </div>
            <div id="collapseDocuments" class="panel-collapse collapse in">
                <div class="panel-body">

                    <div class="row material2">
                        <div class="form-group col-md-12">
                            <h6><strong>Uploaded Supporting Documents/Evidence</strong></h6>
                            <div id="PreInvestGrd"> </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="e-float-input e-control-wrapper">
                                <ejs-uploader id="UploadFiles" removing="onFileRemove" dropArea=".control-fluid" asyncSettings="@asyncSettings" beforeUpload="onFileUpload" success="OnFileSuccess">
                                </ejs-uploader>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="form-group col-md-12">
                            <h6><b>Upload Passport Photo</b></h6>
                            <div id="PreInvestGrd_photo"> </div>
                        </div>

                        <div class="row material2">
                            <div class="form-group col-md-12">
                                <div class="e-float-input e-control-wrapper">
                                    <ejs-uploader id="UploadPhoto" removing="onFileRemove" dropArea=".control-fluid" asyncSettings="@asyncSettingsPhoto" beforeUpload="onFileUpload" success="OnFileSuccess">
                                    </ejs-uploader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

