﻿
@{
    ViewData["Title"] = "RegisterContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var promptanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.SlideLeft };
}
@*<partial name="MessagePartial" />*@

<ol class="breadcrumb" style="margin-top:5px;">
    @*<li class="breadcrumb-item">
            <a href="/DashBoard/Dashboard">Dashboard</a>
        </li>*@
    <li class="breadcrumb-item active" style="width:100%; background-color: black; color:white; font-family:Cambria; padding:5px; font:bolder"> <stong> Contact Tracing Management - Use this Module to trace and manage case contacts using this module including tracking of events involving cases and contacts. . </stong></li>
</ol>
@*<ejs-button id="addContacts" cssClass="e-danger" iconCss="e-btn-sb-icon e-stop-icon"  content="Assign Selected Records"></ejs-button>*@

@*button to Select Case Contact record(s) or a group of Case Contact records to assign a supervisor to*@

@*<div class="form-group col-sm-3">
        <button class="btn btn-danger btn-block" title="Select Case Contact record(s) or a group of Case Contact records to assign a supervisor to!" icon="e-icon e-handup" onclick="AssignRecord()" value="Approve Selected Appointment">Assign to Surveillance Officer</button>
    </div>*@

<div class=" col-lg-12 control-section" id="target2">
    <ejs-grid id="Grid"
              allowPaging="true" allowResizing="true" allowTextWrap="true" gridLines="Both"
              allowSorting="true" allowReordering="true" allowGrouping="true" showColumnChooser="true"
              toolbar="@(new List<string>() { "Search", "Add", "Edit", "Delete","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport","Assign to Surveillance Officer","ColumnChooser"})"
              allowFiltering="true" allowSelection="true" allowExcelExport="true"
              allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBeging" load="onLoad"
              queryCellInfo="queryCellInfo">
        <e-grid-groupSettings showDropArea="true" columns="@(new string[] { "AssignFollowUpContactPerson"})"></e-grid-groupSettings>
        <e-grid-searchSettings fields="@(new string[] {"CaseNo","ContactCaseNo","FirstName" ,"LastName" ,"AssignFollowUpContactPerson", "Address"})" operator="contains" ignoreCase="true"></e-grid-searchSettings>

        <e-data-manager url="/Contact/ContactsDataSource" insertUrl="/Contact/DialogInsert" updateUrl="/Contact/DialogUpdate" removeUrl="/Contact/DeleteChildUrl" adaptor="UrlAdaptor"></e-data-manager>
        @* <e-data-manager url="/Contact/ContactsDataSource"  adaptor="UrlAdaptor"></e-data-manager>*@

        <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4" />
        <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
        <e-grid-editSettings allowAdding="false" allowDeleting="true" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
        <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
        <e-grid-columns>
            <e-grid-column type="checkbox" width="50"></e-grid-column>
            <e-grid-column field="CaseNo" width="250" headerText="Case No." visible="false" isPrimaryKey="false" isIdentity="true"></e-grid-column>
            <e-grid-column field="ContactCaseNo" width="280" headerText="Contact-Case No." visible="false" isPrimaryKey="true" isIdentity="true"></e-grid-column>
            <e-grid-column field="FirstName" headerText="First Name" template="#persontemplate" allowEditing="false" visible="true"></e-grid-column>
            <e-grid-column field="LastName" headerText="Last Name" allowEditing="false" visible="true"></e-grid-column>
            <e-grid-column field="Sex" visible="false" allowEditing="true" headerText="Gender" foreignKeyField="Id" foreignKeyValue="Name" dataSource="@ViewBag.gender"></e-grid-column>
            <e-grid-column field="AssignFollowUpContactPerson" headerText="Surveillance Officer" foreignKeyField="EmployeeId" foreignKeyValue="Name" dataSource="@ViewBag.Employee"></e-grid-column>
            <e-grid-column field="StatusFlag" allowEditing="true" headerText="Elevated to Case" foreignKeyField="Id" foreignKeyValue="Name" dataSource="@ViewBag.Elevate"></e-grid-column>
            <e-grid-column field="Address" headerText="Address" foreignKeyField="VillageId" foreignKeyValue="VillageName" dataSource="@ViewBag.Village"></e-grid-column>
            <e-grid-column field="Longitude" headerText="Longitude" visible="false" template="#coltemplate"></e-grid-column>
            <e-grid-column field="Latitude" headerText="Latitude" visible="false" template="#coltemplate"></e-grid-column>
            <e-grid-column field="DateOnset" visible="false" headerText="Date of On set" allowEditing="false"></e-grid-column>
            <e-grid-column field="Classification" visible="false" allowEditing="true" headerText="Classification" foreignKeyField="Id" foreignKeyValue="Classification" dataSource="@ViewBag.classfn"></e-grid-column>
            <e-grid-column field="RiskLevel" visible="false" allowEditing="true" headerText="Risk Level" foreignKeyField="Id" foreignKeyValue="Name" dataSource="@ViewBag.risklevel"></e-grid-column>

        </e-grid-columns>
    </ejs-grid>
    <script type="text/x-jsrender" id="CountryTemp">
        <label>CountryNames(${ImposingCountry})</label>
    </script>
    <script>
        function onLoad(args) {
            setToolbarItems();
            //var id = this;
            //debugger;
            //alert("we are here rr");
            //debugger;
            //var x = document.getElementsByClassName("e-tbar-btn");
            //alert(x.innerHTML);
            ////if (x.innerHTML.includes("Assign to Surveillance Officer"))
            //{
            //    //e-danger
            //    alert("we are here");
            //    x.classList.add("e-danger");
            //}
        }
    </script>

    @*<script>
            //County Change
            function CountyChange(e) {
                $.ajax({
                    url: 'getcounty?DistrictId=' + e.value,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: 'GET',
                    success: function (data) {

                        var DistrictObj = document.getElementById("CountyId").ej2_instances[0];
                        DistrictObj.dataSource = data;

                    },
                });
            }


            //Division Change
            function DivisionChange(e) {
                $.ajax({
                    url: 'getdivision?CountyId=' + e.value,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: 'GET',
                    success: function (data) {

                        var CountyObj = document.getElementById("SubcountyId").ej2_instances[0];
                        CountyObj.dataSource = data;

                    },
                });
            }

            //Parish Change
            function ParishChange(e) {
                $.ajax({
                    url: 'getparish?SubcountyId=' + e.value,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: 'GET',
                    success: function (data) {

                        var SubCountyObj = document.getElementById("ParishId").ej2_instances[0];
                        SubCountyObj.dataSource = data;

                    },
                });
            }

            //Village Change
            function VillageChange(e) {
                $.ajax({
                    url: 'getvillage?ParishId=' + e.value,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: 'GET',
                    success: function (data) {

                        var ParishObj = document.getElementById("VillageId").ej2_instances[0];
                        ParishObj.dataSource = data;

                    },
                });
            }

        </script>*@
    <style type="text/css">

        .High {
            background-color: red;
            color: whitesmoke;
            font-size: larger;
            font: bolder;
            /*font-weight: 700;*/
            animation: mymove 5s infinite;
        }

        .Medium {
            background-color: yellow;
            color: black;
            font-size: larger;
            /*font-weight:700;*/
            animation: mymove 5s infinite;
        }

        .Low {
            background-color: green;
            color: whitesmoke;
            font-size: larger;
            /*font-weight: 700;*/
            animation: mymove 5s infinite;
        }
    </style>

    <script>
    function queryCellInfo(args) {
        if (args.column.field == "StatusFlag" || args.column.field == "ContactCaseNo") {
            if (args.data.StatusFlag == "1") {
                $(args.cell).addClass("Medium");
            }
            //if (args.data.RiskLevel == "2") {
            //    $(args.cell).addClass("Medium");
            //}
            //if (args.data.RiskLevel == "3") {
            //    $(args.cell).addClass("High");
            //}

        }
        // event triggers on every cell render.
        //new ej.popups.Tooltip({
        //    content: args.data[args.column.field].toString() // add Essential JS2 tooltip for every cell.
        //}, args.cell);

    }
    function toolbarClick(args) {
        if (args.item.id === this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id === this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id === this.element.id + '_excelexport') {
            this.excelExport();
        }
        if (args.item.id === this.element.id + '_Assign to Surveillance Officer') {
           // console.log(args.item.id);
            window.promptObj.show();
            //this.prefixIcon = "e-expand";
        }


    }



        function OnBeging(args) {

            var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0]
            if (args.requestType == 'delete') {
                //debugger
                grid.dataSource.dataSource.headers = [];
                grid.dataSource.dataSource.headers.push({ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val(), "additional_key": args.data[0].ContactCaseNo, "additional_key1": args.data[0].CaseNo });
            }

            if (args.requestType == "delete") {
                var deleteMessage = "Please confirm you would wish to delete this record for " + args.data[0].FirstName + "  " + args.data[0].LastName
                if (confirm(deleteMessage)) {
                    //if yes ,record will delete
                }
                else
                    args.cancel = true // if no the record wont delete
            }

        if (args.requestType === 'save') {
            var DateOfReporting = document.getElementById("DateOfReporting").ej2_instances[0].value;
            var Sex = document.getElementById("Sex").ej2_instances[0].value;
            var AssignFollowUpContactPerson = document.getElementById("AssignFollowUpContactPerson").ej2_instances[0].value;
            var FName = document.getElementById("FirstName").ej2_instances[0].value;
            var LName = document.getElementById("LastName").ej2_instances[0].value;
            var Age = document.getElementById("Age").ej2_instances[0].value;
            var Address = document.getElementById("Address").ej2_instances[0].value;

            if (DateOfReporting == null || DateOfReporting == "0" || DateOfReporting == "" || DateOfReporting == "undifined") {
                alert("Date Of Reporting is required, Please provide the Date Of Reporting");
                args.cancel = true;
            }


            else if (Sex == null || Sex == "0" || Sex == "" || Sex == "undifined") {
                alert("Gender is required, Please provide the Gender");
                args.cancel = true;
            }


           // else if (FName == null || FName == "0" || FName == "" || FName == "undifined") {
           //     alert("First Name is required, Please provide the First-Name");
           //     args.cancel = true;
           // }


           //else  if (LName == null || LName == "0" || LName == "" || LName == "undifined") {
           //     alert("Last Name is required, Please provide the Last-Name");
           //     args.cancel = true;
           // }

            //var ExposureType = document.getElementById("ExposureType").ej2_instances[0].value;
            //if (ExposureType == null || ExposureType == "0" || ExposureType == "" || ExposureType == "undifined") {
            //    alert("Exposure Type is required, Please provide the Exposure Type");
            //    args.cancel = true;
            //}


            else if (Age == null || Age == "0" || Age == "" || Age == "undifined") {
                alert("Age is required, Please provide the Age");
                args.cancel = true;
            }


          else   if (Address == null || Address == "0" || Address == "" || Address == "undifined") {
                alert("Address is required, Please provide the Address");
                args.cancel = true;
            }


           //else  if (AssignFollowUpContactPerson == null || AssignFollowUpContactPerson == "0" || AssignFollowUpContactPerson == "" || AssignFollowUpContactPerson == "undifined") {
           //     alert("Assign Follow-Up Contact Person is required, Please provide the Assign Follow-Up Contact Person");
           //     args.cancel = true;
           // }


        }
    }
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    function onFileUpload(args) {

        // add addition data as key-value pair.
       var inputElement = document.getElementById('ContactCaseNo');
        if (inputElement.value == null || inputElement.value == " ") {
            args.cancel = true;
        }
        args.customFormData = [{'ContactCaseNo': inputElement.value}];
    }

    function onFileSelect(args) {
        var inputElement = document.getElementById('Photo_type');
        inputElement.value = args.filesData[0].type;
    }

    function onfilesuccess(args) {
        //alert()
        var _UserImage = document.getElementById("UserImage");
        _UserImage.src = "GetImage?userid=" + document.getElementById("User_Code").value;
    }


        function onEdit(args) {
        if (args.requestType === 'beginEdit' || args.requestType === 'add') {
            let spinner = ej.popups.createSpinner({ target: args.dialog.element });
            //ej.popups.showSpinner(args.dialog.element);

            //#####
            var data = args.rowData;

            window.args = args.requestType;

            // For custom save button
            args.dialog.btnObj[0].destroy();
            args.dialog.btnObj[0].element.id = "save";

            var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                content: 'Save',
                enableProgress: true,
                animationSettings: { effect: 'SlideRight' },
                spinSettings: { position: 'Center' },
                cssClass: 'e-success',
            }); progressSaveButton.appendTo('#save');

            // For custom cancel button
            args.dialog.btnObj[1].destroy();
            args.dialog.btnObj[1].element.id = "cancel";

            var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                content: 'Cancel',
                enableProgress: true,
                animationSettings: { effect: 'SlideRight' },
                spinSettings: { position: 'Center' },
                cssClass: 'e-danger',

            });
            progressCancelButton.appendTo('#cancel');

            // saving the edit action
            document.getElementById('save').addEventListener('click', function (args) {
                //onclick = savess();
            }.bind(this));

            // Cancelling the edit action
            document.getElementById('cancel').addEventListener('click', function (args) {
                //onclick = cancelss();

            }.bind(this));

             //#####

                if (args.requestType === 'beginEdit') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "Contact")", //render the partial view
                        type: "POST",
                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('ContactCaseNo').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                        LoadUploadedEvidence();
                        LoadUploadedPhoto();
                        LoadContactTestDetailsGrid();
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }

            if (args.requestType === 'add') {

                window.FirstName = new ej.inputs.TextBox({
                cssClass: 'e-outline',
                floatLabelType: 'Auto',
                multiline: false,
            }, args.form.elements.namedItem('FirstName'));

                    @*var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "Contacts")?CaseNo=" + args.rowData.CaseNo, //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: { "CaseNo": args.rowData.CaseNo } })
                    });*@
                  var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "Contacts")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('ContactCaseNo').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                        LoadUploadedEvidence();
                        LoadUploadedPhoto();
                        LoadContactTestDetailsGrid();
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
        }
        else if(args.requestType=="save") {
             var grid = document.getElementById("Grid").ej2_instances[0];
              grid.refresh(); // refresh the Grid.
         }
    }

     function OnFileSuccess(args) {
        var grid = document.getElementById("PreInvestGrd").ej2_instances[0];
         grid.refresh();
         var gridPhoto = document.getElementById("PreInvestGrd_photo").ej2_instances[0];
         gridPhoto.refresh();
         // refresh the Grid.
    }
    function appendElement(elementString, form) {
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
    }
        function appendElement2(elementString, form) {
            debugger;
            //document.getElementById("detailTemp").innerHTML = elementString;
            form.querySelector("#detailTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#detailTemp").querySelector('script');
            //var serverScript = document.getElementById("detailTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
        }


    function LoadUploadedEvidence() {
        var grid = new ej.grids.Grid({
            dataSource: new ej.data.DataManager({ url: "GetSupportingDocuments?ContactCaseNo=" + $("#ContactCaseNo").val(), adaptor: new ej.data.UrlAdaptor() }),

            commandClick:DownloadFile,
                columns: [
                    { field: "Id", visible: false, headerText: 'ID', width: 85, isPrimaryKey: true },
                    { field: "Details", headerText: 'File Name', width: 120 },
                    { field: "ContactCaseNo", visible: false, headerText: 'Contact Case No', width: 100 },
                    { field: "FileType", visible: true, headerText: 'Document Type', width: 50 },
                    { headerText: 'Manage Records', width: 50,
                        commands: [{ type: 'userstatus',  buttonOption: { /*iconCss: ' e-icons e-fe-download',*/ cssClass: 'e-flat e-details',content :'Download'} },

                        ]
                    }
                    ],
                //height: 280,
               // load:loads
            });
           grid.appendTo('#PreInvestGrd');
    }
    function DownloadFile(fileId) {
        var grid = document.getElementById("PreInvestGrd").ej2_instances[0];
        $.ajax({
            url: 'DownloadCoreCaseContactFile',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            data: {
                'DocumentCode': grid.getSelectedRecords()[0].Id,
            },
            success: function (data) {

            },
            error: function () {
                //memberFound = false;
            },
        });
    };
    //Photoz
    function LoadUploadedPhoto() {
        var grid = new ej.grids.Grid({
            dataSource: new ej.data.DataManager({ url: "GetPhotoz?CaseNo=" + $("#CaseNo").val(), adaptor: new ej.data.UrlAdaptor() }),

            commandClick: DownloadFilePhoto,
            columns: [
                { field: "CaseNo", visible: false, headerText: 'Case No.', width: 150, isPrimaryKey: true },
                { field: "FileType", visible: true, headerText: 'Document Type', width: 50 },
                {
                    headerText: 'Manage Records', width: 50,
                    commands: [{ type: 'userstatus', buttonOption: { /*iconCss: ' e-icons e-fe-download',*/ cssClass: 'e-flat e-details', content: 'Download' } },
                        //{ type: 'Delete', buttonOption: { iconCss: 'e-icons e-delete', cssClass: 'e-flat' } },
                        //{ type: 'Save', buttonOption: { iconCss: 'e-icons e-update', cssClass: 'e-flat' } },
                        //{ type: 'Cancel', buttonOption: { iconCss: 'e-icons e-cancel-icon', cssClass: 'e-flat' } }
                    ]
                }
            ],
        });
        grid.appendTo('#PreInvestGrd_photo');
    }
    function DownloadFilePhoto(fileId) {
        var grid = document.getElementById("PreInvestGrd_photo").ej2_instances[0];
        $.ajax({
            url: 'DownloadCasePhotoFile',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            data: {
                'DocumentCode': grid.getSelectedRecords()[0].CaseNo,
            },
            success: function (data) {

            },
            error: function () {
                //memberFound = false;
            },
        });
    };
    </script>
    <script id='dialogtemplate' type="text/x-template">
        <div id="dialogTemp">
        </div>
    </script>

    <script id="coltemplate" type="text/x-template">
        <div class="image">
            <img src="@Url.Content("~/location2.png")" class="e-image" alt="${Address}" /> &nbsp
            <span id="locationtext">${Address}</span>
        </div>
    </script>
    <script id="persontemplate" type="text/x-template">
        <div class="image">
            <img src="@Url.Content("~/person.png")" class="e-image" alt="${FirstName}" /> &nbsp
            <span id="locationtext">${FirstName}</span>
        </div>
    </script>


    <div>
        <ejs-dialog id="prompt_dialog" animationSettings="promptanimation" visible="false" created="onLoadprompt" target="#target2" width="80%" header="Assign Case Contact Records">
            <e-content-template>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="e-float-input e-control-wrapper">
                            <ejs-dropdownlist id="EmployeeID" dataSource="@ViewBag.EmployeeContacts" placeholder="Select Supervisor" allowFiltering="true" filterBarPlaceholder="Search Supervisor Officer"  floatLabelType="Always" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="EmployeeId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label id="Approving"></label>
                    </div>
                </div>
            </e-content-template>
            <e-dialog-buttons>
                <e-dialog-dialogbutton buttonModel="ViewBag.promptbutton" click="AssignRecordbtn"></e-dialog-dialogbutton>
                <e-dialog-dialogbutton buttonModel="ViewBag.promptbutton1" click="promptCancelBtnClick"></e-dialog-dialogbutton>
            </e-dialog-buttons>
        </ejs-dialog>


        <script>
            function AssignRecord() {
                window.promptObj.show();
            }
            function AssignRecordbtn() {
                var RPObj = document.getElementById("EmployeeID").ej2_instances[0];
                if (RPObj.value == null) {
                    alert("Please select a supervisor you would like to assign the selected case contact to.")
                }
                else {
                    var grid = document.getElementById("Grid").ej2_instances[0];
                    var selectedindex = grid.selectionModule.selectedRowIndexes;
                    var currentdata = grid.currentViewData;
                    //console.log(currentdata.ContactCaseNo);
                    //console.log(selectedindex.ContactCaseNo);
                    reCursive(0, selectedindex.length, selectedindex, currentdata, RPObj.value);
                }
            }
            function reCursive(curr, total, selecetedIndex, currentData, employee) {
                //debugger;
                //console.log(currentData.records[selecetedIndex[curr]].CaseNo);
                if (curr <= (total - 1)) {
                    document.getElementById('Approving').innerHTML = 'Assign Case Contact ' + (curr + 1) + ' out of ' + total;
                    $.ajax({
                        type: 'GET',
                        url: "SaveSupervisor",
                        data: {
                            "EmployeeID": employee,
                            "CaseNo": currentData.records[selecetedIndex[curr]].CaseNo,
                            "ContactCaseNo": currentData.records[selecetedIndex[curr]].ContactCaseNo,
                        },
                        success: function (result) {
                            curr++;
                            reCursive(curr, total, selecetedIndex, currentData, employee);
                        },
                    });
                }
                else {
                    alert("All seleceted Case Contacts have been successfully Allocated to monitoring officers.....");
                    var grid = document.getElementById("Grid").ej2_instances[0];
                    grid.refresh();
                    document.getElementById('Approving').innerHTML = "";
                    window.promptObj.hide();
                }
            }


            function onLoadprompt() {
                window.promptObj = this;
            }
            function promptCancelBtnClick() {
                window.promptObj.hide();
            }

        </script>
        <style>
            .e-float-input, .e-float-input.e-control-wrapper {
                line-height: 1.4;
                margin-bottom: 0;
                margin-top: 8px;
                padding-top: 0;
                position: relative;
                width: 100%;
            }
        </style>
    </div>

    @*another grid*@
    <script id='detailtemplate' type="text/x-template">
        <div id="detailTemp">
        </div>
    </script>

    <script>

        function LoadContactTestDetailsGrid() {
            var grid = new ej.grids.Grid({
                dataSource: new ej.data.DataManager({ url: "/Contact/ContactTestDetails?contactNo=" + $("#ContactCaseNo").val() + "&caseNo=" + $("#CaseNo").val(), insertUrl: "/Contact/UpdateDetailsUrl", updateUrl: "/Contact/UpdateDetailsUrl", removeUrl: "/Contact/UpdateDetailsUrl", adaptor: new ej.data.UrlAdaptor() }),
                allowGrouping: true,
                isResponsive: true,
                enableAltRow: true,
                allowScrolling: true,
                textWrapSettings: { wrapMode: "both" },
                allowPaging: true, pageSettings: { pageSize: 4 },
                    allowResizeToFit: true,
                    showStackedHeader: true,
                    enableResponsiveRow: true,
                    allowResizeToFit: true,
                editSettings: { allowAdding: true, allowDeleting: true, allowEditing: true, mode: "Normal"/*, template: '#detailtemplate'*/ },

                toolbar: ["Add", "Edit", "Delete",  "update", "cancel"],
                columns: [
                    { type: "checkbox", width: 50 },
                    { field: "Code", visible: false, headerText: ' Code', width: 85, isPrimaryKey: true, isPrimaryKey: true },
                    { field: "ContactCaseNo", allowEditing: false, visible: false, headerText: 'Contact-Case No.', width: 100, defaultValue: $('#ContactCaseNo').val() },
                    { field: "CaseNo", visible: false, allowEditing: false, headerText: 'Case No.', width: 100, defaultValue: $('#CaseNo').val() },
                    { field: "LabTestDate", allowEditing: true, visible: true, headerText: 'Lab Test Date', width: 100, type: 'date', format: { type: 'date', format: 'dd/MMM/yyyy' }, editType: 'datepickeredit', edit: { params: { format: 'dd/MMM/yyyy' } } },
                    { field: 'LabResults', allowEditing: true, headerText: 'Lab-Results', width: 100, visible: true, foreignKeyField: "Id", foreignKeyValue: "Name", dataSource:@Html.Raw(Json.Serialize(@ViewBag.Tests)) },
                    { field: "Hospital", allowEditing: true, visible: true, headerText: 'Hospital', width: 100 },
                    { field: "GeneralComments", allowEditing: true, visible: true, headerText: 'General Comments', width: 100 },
                ],
                //actionComplete: addDetails,
                actionBegin: OnTesBegin,
                cellSaved: cellSaved,
            });
            grid.appendTo('#TestDetailsGrid');
        }
        //Cell save
        function cellSaved(args) {
            this.editModule.batchSave();
        }
         function addDetails(args) {
              if (args.requestType === 'beginEdit' || args.requestType === 'add') {
                  let spinner = ej.popups.createSpinner({ target: args.dialog.element });
                  //ej.popups.showSpinner(args.dialog.element);
                  window.requestTypeChild = args.requestType;


             //     //#####
             //     var data = args.rowData;

             //     window.args = args.requestType;

             //     // For custom save button
             //     args.dialog.btnObj[0].destroy();
             //     args.dialog.btnObj[0].element.id = "save";

             //     var progressSaveButton = new ejs.splitbuttons.ProgressButton({
             //         content: 'Save',
             //         enableProgress: true,
             //         animationSettings: { effect: 'SlideRight' },
             //         spinSettings: { position: 'Center' },
             //         cssClass: 'e-success',
             //     }); progressSaveButton.appendTo('#save');

             //     // For custom cancel button
             //     args.dialog.btnObj[1].destroy();
             //     args.dialog.btnObj[1].element.id = "cancel";

             //     var progressCancelButton = new ejs.splitbuttons.ProgressButton({
             //         content: 'Cancel',
             //         enableProgress: true,
             //         animationSettings: { effect: 'SlideRight' },
             //         spinSettings: { position: 'Center' },
             //         cssClass: 'e-danger',

             //     });
             //     progressCancelButton.appendTo('#cancel');

             //     // saving the edit action
             //     document.getElementById('save').addEventListener('click', function (args) {
             //         //onclick = savess();
             //     }.bind(this));

             //     // Cancelling the edit action
             //     document.getElementById('cancel').addEventListener('click', function (args) {
             //         //onclick = cancelss();

             //     }.bind(this));

             ////#####

                if (args.requestType === 'beginEdit') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("UpdateDetails", "Contact")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        //debugger;
                        appendElement2(data, args.form); //Render the edit form with selected record
                        //args.form.elements.namedItem('LabResults').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
                if (args.requestType === 'add') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("UpdateDetails", "Contact")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: { "CaseNo": $('#CaseNo').val(), "ContactCaseNo": $('#ContactCaseNo').val() } })
                        //data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        //debugger;
                        appendElement2(data, args.form); //Render the edit form with selected record
                        //args.form.elements.namedItem('LabResults').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
            }
        }

        function OnTesBegin(args) {

             @*if (args.requestType == "cancel") {

             if (window.requestTypeChild == 'add') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveRecord2", "Contact")',
                        data: {
                            "code": $("#Code").val()
                        }
                        })
                            .done(function (response) {
                            })
                            .fail(function (a, b, c) {
                            alert("fail");
                        });
                    }
            }*@

            if (args.requestType == 'save') {


                //var projectCode = document.getElementById("ProjectCode").ej2_instances[0].value;
                //if (projectCode == null || projectCode == "0" || projectCode == "" || projectCode == undefined) {
                //    alert("Project(s) is required, Please select the Project");
                //    args.cancel = true;
                //}

                //var DateOfVisit = document.getElementById("DateOfVisit").ej2_instances[0].value;
                //if (DateOfVisit == null || DateOfVisit == "0" || DateOfVisit == "" || DateOfVisit == "undifined") {
                //    alert("Date Of Visit is required, Please provide the Date Of Visit");
                //    args.cancel = true;
                //}

            }
        }
    </script>

</div>

<style>
    .e-expand::before {
        content: '\e5b8';
    }
</style>
<script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>

