﻿@model CHMIS.ModelView.ReportsViewModel
@{
    ViewData["Title"] = "SitRep Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;"> <stong> SitRep - Summary of statistics as at -  @System.DateTime.Now.ToLongDateString(). </stong></li>
</ol>
<form method="post" asp-controller="Reports" asp-action="WordExportSitRep">
    <div class="form-row">
        <div class="form-group col-md-5">
            <ejs-datepicker id="StartDate" cssClass="e-outline" max="DateTime.Now" format="yyyy/MM/dd" value="@System.DateTime.Today" placeholder="Date of Reporting" floatLabelType="Auto"></ejs-datepicker>
        </div>
        <div class="form-group col-md-5">
            <ejs-dropdownlist id="Division" cssClass="e-outline" dataSource="@ViewBag.division" placeholder="Division" filterBarPlaceholder="Search Division" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
            </ejs-dropdownlist>
        </div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-danger e-btn-medium" style="margin-top:10px;">Generate SitRep Report</button>
        </div>
    </div>
</form>