﻿@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor accessor;
@inject CHMISContext Context;
@using CHMIS.BLL;
@inject IUserService userInfor;
@{
    UserService m = new UserService(Context, accessor);
    var user = await UserManager.GetUserAsync(User);
    var defaultanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.None };
    ViewBag.button = new
    {
        content = "New Message",
        isPrimary = true
    };
    ViewBag.buttonCancel = new
    {
        content = "Cancel",
        isPrimary = true
    };
}

@if (!SignInManager.IsSignedIn(User))
{
    <script>
            window.location.href = "@Url.Action("Login", "Account")";
    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CHIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ej2/material.css" />
    <script src="~/js/ej2/ej2.min.js"></script>
    <link rel="icon" href="~/kcca-logo.jpg" />
    @*<link href="~/MaterialCSS/compatibility/material.css" rel="stylesheet" />*@


    <style>
        #Grid_dialogEdit_wrapper {
            min-height: 750px;
            min-width: 90%;
        }

        #page-content-wrapper {
            margin-left: 20px;
            margin-right: 7px;
        }

        .container {
            margin-left: 2%;
            min-width: 97%;
            width: 97%;
            padding: 0px;
            margin-right: 2%;
        }

        .dropdown-menu .dropdown-toggle:after {
            border-top: .3em solid transparent;
            border-right: 0;
            border-bottom: .3em solid transparent;
            border-left: .3em solid;
        }

        .dropdown-menu .dropdown-menu {
            margin-left: 0;
            margin-right: 0;
        }

        .dropdown-menu li {
            position: relative;
        }

        .nav-item .submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -7px;
        }

        .nav-item .submenu-left {
            display: none;
            position: absolute;
            left: auto;
            right: 100%;
            margin-left: 0;
            margin-right: -1px;
            top: -7px;
        }

        .left-float {
            display: none;
            position: absolute;
            left: auto;
            right: 100%;
            margin-left: 0;
            margin-right: -1px;
        }


        .dropdown-menu > li:hover {
            background-color: #f1f1f1
        }

            .dropdown-menu > li:hover > .submenu {
                display: block;
            }

            .dropdown-menu > li:hover > .submenu-left {
                display: block;
            }

        .dropdown-menu-left > li:hover > .submenu-left {
            display: block;
        }

        #Message_Badge {
            border: none;
            cursor: pointer;
            position: fixed;
            bottom: 108px;
            right: 22px;
            /*width: 80px;
            height: 80px;
            border-radius: 80px;*/
        }

        .open-button {
            /*background-color: #555;*/
            background-color: black;
            color: white;
            font: 700, bold;
            /*padding: 16px 20px;*/
            border: none;
            cursor: pointer;
            /*opacity: 0.8;*/
            position: fixed;
            bottom: 70px;
            right: 28px;
            width: 60px;
            height: 60px;
            border-radius: 80px;
        }

        .message_container {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            width: 95%;
            padding: 10px;
            margin: 10px 0;
        }

        .darker {
            border-color: #ccc;
            background-color: #ddd;
        }

        .message_container::after {
            content: "";
            clear: both;
            display: table;
        }

        .message_container img {
            float: left;
            max-width: 60px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

            .message_container img.right {
                float: right;
                margin-left: 20px;
                margin-right: 0;
            }

        .time-right {
            float: right;
            color: #aaa;
        }

        .time-left {
            float: left;
            color: #999;
        }
    </style>


    <style>
        .e-grid .e-groupdroparea, /*GroupDropArea */
        .e-grid .e-groupdroparea:hover, /*GroupDropArea Hover*/
        .e-grid .e-cloneproperties, /*Column header clone during dragging header*/
        .e-grid .e-groupheadercell:hover, /*HeaderCell in GroupDropArea*/
        .e-grid td.e-active, /*During Row Selected*/
        /*For pager items and their hover*/
        .e-pager .e-currentitem,
        .e-pager .e-currentitem:hover,
        .e-pager .e-link:hover,
        .e-pager .e-icon:hover {
            background-color: #8adff6;
            /*font-size: 12px;*/
        }

        .e-grid .e-gridheader /*For line that separates the grid header and content*/ {
            border-bottom-color: #ea1b8d;
            /*font-size: 12px;*/
        }

        .e-grid tr.e-hover /*For row hover*/ {
            background-color: #e66aae;
            color: #FFFFFF;
            /*font-size: 12px;*/
        }

        .e-grid .e-alt_row /*For Alternate row color*/ {
            background-color: #E5E4E2; /*#99CFE3;*/
            /*font-size: 12px;*/
        }
    </style>

    <style>
        .gridfont, .e-grid .e-headercelldiv {
            font-size: 14px;
        }

        .e-grid .e-dialog .gridform .e-rowcell {
            padding: .5em;
            border-bottom: 1px solid #c8c8c8;
            border-left: 1px solid #c8c8c8;
            /*font-size: 12px;*/
        }

        .e-grid .e-headercell {
            color: whitesmoke;
            background-color: black;
            font-family: Cambria;
            font-weight: 700;
            font-size: 16px;
        }
    </style>
    <style>
        .panel-default > .panel-heading {
            background-color: #0071bc /*#3e1111*/;
            color: white;
            /*font-size: 12px;*/
            /*background-color:silver;*/
            /*color: white;*/
        }
    </style>

    <style type="text/css" class="cssStyles">
        .control {
            margin-left: 30px;
        }

        .ctrllabel {
            padding-top: 15px;
        }

        .control {
            margin-left: 20px;
        }


        .txt {
            display: block;
            margin-bottom: 12px;
        }
    </style>

    <style>
        #lblComplaintTitle {
            /*font-size: 24px;*/
            background-color: white;
            color: darkred;
            vertical-align: top;
            /*font-size: 12px;*/
            /*width: 700px;*/
        }

        .redLabels {
            /*font-size: 24px;*/
            background-color: white;
            color: #ff0000;
            vertical-align: top;
            font-weight: bold;
            /*font-size: 12px;*/
            /*width: 700px;*/
        }
    </style>

    <style>
        .e-grid .e-dialog .gridform .e-rowcell {
            padding: .5em;
        }

        .custom.e-js .e-header {
            background: #c9252b;
        }

        .custom.e-js .e-content {
            background: #ddd;
        }

        .custom .e-rbn-button.e-btn.e-select {
            background: #f5f5f5;
            color: #333;
        }

        .tabstyle {
            background: #F9F9F9;
            border-radius: 10px;
            border: 1px solid #99CFE3;
            display: block;
            /*font-size: 12px;*/
        }

        .longcolumns {
            width: 600px !important;
            margin: 0 auto !important;
            position: relative !important;
            border-right: 5px #666 outset !important;
            border-left: 5px #666 outset !important;
            /*font-size: 12px;*/
        }
    </style>


    @*<style>
            #menu {
                list-style: none;
            }

                #menu li {
                    display: inline;
                    border-left: solid 0.5px white;
                }

                    #menu li:first-child {
                        border-left: none;
                    }
        </style>*@
</head>
<body style='background: #d0d8db'>
    <header>
        @if (SignInManager.IsSignedIn(User))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm n navbar-success bg-success border-bottom box-shadow mb-3">
                <div class="container">

                    <img class="imgId" width="40" height="40" src="~/KCCALogo.png" />
                    <a class="navbar-brand" style="font:bolder; font-size:x-large" asp-area="" asp-controller="Home" asp-action="Index">CHIS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />

                        @if (User.IsInRole("Super Admin") || User.IsInRole("Administrator") || User.IsInRole("KCCA General") || User.IsInRole("Viewer"))
                        {

                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="SitRep" asp-action="SitRepGrid"> SitRep</a>
                        </li>
                        <li></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  text-light" href="#" data-toggle="dropdown">Cases</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Cases" asp-action="Cases"> Cases </a></li>
                                <li></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="UploadCases" asp-action="UploadCases"> Upload - Cases </a></li>
                            </ul>
                        </li>
                        <li></li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Contact" asp-action="RegisterContact">Contacts</a>
                        </li>
                        <li></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  text-light" href="#" data-toggle="dropdown">Contacts Follow-Ups</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Monitoring" asp-action="MonitoringTable"> Add-Contacts Follow-Ups </a></li>
                                <li></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Monitoring" asp-action="EditMonitoringTable"> Edit-Contacts Follow-Ups </a></li>
                            </ul>
                        </li>
                        <li></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  text-light" href="#" data-toggle="dropdown">Compliance Monitoring</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" asp-area="" asp-controller="Compliance" asp-action="ComplianceVisit">Compliance Monitoring</a></li>
                                <li></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="PublicTransport" asp-action="PublicTransport">Public Transport</a></li>
                            </ul>
                        </li>
                        <li></li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="CommunitySurveillance" asp-action="CommunitySurveillance">Community Surveillance </a>
                        </li>
                        <li></li>

                        @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Reports" asp-action="SitRepReports"> SitRep-Reports</a>
                        </li>*@
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle  text-light" href="#" data-toggle="dropdown">Reports</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="SitRepReports">SitRep-Reports</a></li>
                                <li></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Reports" asp-action="CombinedSitRepReports">Combined SitRep-Reports</a></li>
                            </ul>
                        </li>
                        <li></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" data-toggle="dropdown">Utilities</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">Employee/User-Management</a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="EmployeeManagement"> Register-Superviors </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register"> Register a New System-User </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="UserManagement"> Manage Users/Assign Roles </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="PasswordManagement"> Manage User Passwords </a></li>

                                    </ul>
                                </li>
                                <li></li>
                                <li>
                                    <a class="dropdown-item" href="#">Manage Utilities (Add/Edit)</a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Facility"> Facility </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Country"> Country </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="OperationalArea"> Operational Area </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Region"> Region </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="District"> District </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="County">  County/Division </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="SubCounty">  Sub-County </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Parish"> Parish </a></li>
                                        <li></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Utilities" asp-action="Village"> Village </a></li>

                                    </ul>
                                </li>
                                <li></li>
                                <li>
                                    <a class="dropdown-item" href="#">CHIS-User Manual</a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a href="~/UserManual.pdf" target="_blank"><span>CHIS User Manual</span></a></li>
                                        <li></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li></li>
                    </ul>

                        }
                        else
                        {
                    <ul class="navbar-nav flex-grow-1">

                        @{
                            var modules = userInfor.GetAssignedModules();
                            var sections = userInfor.GetAssignedSections();
                            if (modules.Count > 0)
                            {
                                foreach (var n in modules)
                                {
                                    //Cases
                                    if (n == 1)
                                    {
                                        //get assigned Cases
                                        var cases = sections.Where(o => o.ModuleId == n && o.SectionHeader == "Cases").ToList();
                                        if (cases.Count > 0)
                                        {
                                            foreach (var x in cases)
                                            {
                                                switch (x.SectionId)
                                                {
                                                    case 1:
                                                        <li class="nav-item">
                                                            <a class="nav-link text-light" asp-area="" asp-controller="Cases" asp-action="Cases">Cases</a>
                                                        </li>
                                                        <li></li>
                                                        break;
                                                }
                                            }
                                        }
                                    }

                                    //Contacts
                                    else if (n == 2)
                                    {

                                        //get assigned Contacts
                                        var contacts = sections.Where(o => o.ModuleId == n && o.SectionHeader == "Contacts").ToList();
                                        if (contacts.Count > 0)
                                        {
                                            foreach (var x in contacts)
                                            {
                                                switch (x.SectionId)
                                                {
                                                    case 2:
                                                        <li class="nav-item">
                                                            <a class="nav-link text-light" asp-area="" asp-controller="Contact" asp-action="RegisterContact">Contacts</a>
                                                        </li>
                                                        <li></li>
                                                        break;
                                                }
                                            }

                                        }

                                    }
                                    // Contacts follow ups
                                    else if (n == 3)
                                    {
                                        //get assigned Contacts Follow-Ups
                                        var Follow = sections.Where(o => o.ModuleId == n && o.SectionHeader == "Contacts Follow-Ups").ToList();
                                        if (Follow.Count > 0)
                                        {
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle  text-light" href="#" data-toggle="dropdown">Contacts Follow-Ups</a>
                                                <ul class="dropdown-menu">
                                                    @{
                                                        foreach (var x in Follow)
                                                        {
                                                            switch (x.SectionId)
                                                            {
                                                                case 3:
                                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Monitoring" asp-action="MonitoringTable"> Add-Contacts Follow-Ups </a></li>
                                                                    <li></li>
                                                                    break;
                                                                case 4:
                                                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Monitoring" asp-action="EditMonitoringTable"> Edit-Contacts Follow-Ups </a></li>
                                                                    break;
                                                            }
                                                        }
                                                    }

                                                </ul>
                                            </li>
                                            <li></li>
                                        }

                                    }

                                    // ComplianceMonitoring
                                    else if (n == 4)
                                    {
                                        //get assigned ComplianceMonitoring
                                        var compliance = sections.Where(o => o.ModuleId == n && o.SectionHeader == "Compliance Monitoring").ToList();
                                        if (compliance.Count > 0)
                                        {
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle  text-light" href="#" data-toggle="dropdown">Compliance Monitoring</a>
                                                <ul class="dropdown-menu">
                                                    @{ foreach (var x in compliance)
                                                        {
                                                            switch (x.SectionId)
                                                            {
                                                                case 5:
                                                                    <li class="nav-item">
                                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Compliance" asp-action="ComplianceVisit">Compliance Monitoring</a>
                                                                    </li>
                                                                    break;
                                                                case 8:
                                                                    <li class="nav-item">
                                                                        <a class="nav-link text-dark" asp-area="" asp-controller="PublicTransport" asp-action="PublicTransport">Public Transport</a>
                                                                    </li>
                                                                    break;
                                                            }
                                                        }}
                                                </ul>
                                            </li>
                                            <li></li>

                                        }

                                    }

                                    // get assigned Community Surveillance
                                    else if (n == 5)
                                    {
                                        //get assigned Community Surveillance
                                        var Surveillance = sections.Where(o => o.ModuleId == n && o.SectionHeader == "Community Surveillance").ToList();
                                        if (Surveillance.Count > 0)
                                        {
                                            foreach (var x in Surveillance)
                                            {
                                                switch (x.SectionId)
                                                {
                                                    case 6:
                                                        <li class="nav-item">
                                                            <a class="nav-link text-light" asp-area="" asp-controller="CommunitySurveillance" asp-action="CommunitySurveillance">Community Surveillance</a>
                                                        </li>
                                                        <li></li>
                                                        break;
                                                }
                                            }

                                        }

                                    }

                                    // get assigned Community Reports
                                    else if (n == 6)
                                    {
                                        //get assigned Reports
                                       var Reports = sections.Where(o => o.ModuleId == n && o.SectionHeader == "Reports").ToList();
                                        if (Reports.Count > 0)
                                        {
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle  text-light" href="#" data-toggle="dropdown">Reports</a>
                                                <ul class="dropdown-menu">
                                                    @{ foreach (var x in Reports)
                                                        {
                                                            switch (x.SectionId)
                                                            {

                                                                case 7:

                                                                    <li class="nav-item">
                                                                        <a class="nav-link text-light" asp-area="" asp-controller="Reports" asp-action="SitRepReports">SitRep-Reports</a>
                                                                    </li>
                                                                    <li></li>
                                                                    break;
                                                                case 10:

                                                                    <li class="nav-item">
                                                                        <a class="nav-link text-light" asp-area="" asp-controller="Reports" asp-action="CombinedSitRepReports">Combined SitRep-Reports</a>
                                                                    </li>
                                                                    <li></li>
                                                                    break;
                                                            }
                                                        }}
                                                </ul>
                                            </li>
                                            <li></li>

                                        }

                                    }
                                  

                                    // get assigned SITREP Reports
                                    else if (n == 7)
                                    {
                                        //get assigned Community Reports
                                        var SitRep = sections.Where(o => o.ModuleId == n && o.SectionHeader == "SitRep").ToList();
                                        if (SitRep.Count > 0)
                                        {
                                            foreach (var x in SitRep)
                                            {
                                                switch (x.SectionId)
                                                {
                                                    case 9:

                                                        <li class="nav-item">
                                                            <a class="nav-link text-light" asp-area="" asp-controller="SitRep" asp-action="SitRepGrid"> SitRep</a>
                                                        </li>
                                                        <li></li>
                                                        break;
                                                }
                                            }

                                        }

                                    }

                                }
                            }
                        }

                    </ul>



                        }

                    </div>
                </div>
            </nav>
        }
    </header>
    <div id="MainBody" class="container">
        <main role="main" class="pb-3">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container">
            <img class="imgId" width="40" height="40" src="~/COVID19 RESPONSE-02.png" />
            <img class="imgId" width="40" height="40" src="~/KCCALogo.png" />
            &copy; 2020 - KCCA- City Health Information System - CHIS - <a asp-area="" asp-controller="Home" asp-action="Privacy2" target="_blank">Privacy Policy</a>

        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/dashboard/scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @*<ej-script-manager></ej-script-manager>*@
    <ejs-scripts></ejs-scripts>

    @RenderSection("Scripts", required: false)

</body>
</html>

<style>
    .e-input-picture::before {
        content: '\e335';
        font-family: e-icons;
    }

    .bootstrap4 .e-input-picture:before {
        content: '\e776';
    }

    .e-input-calendar::before {
        content: '\e901';
        font-family: e-icons;
        font-size: 13px;
    }

    .fabric .e-input-calendar:before {
        content: '\e93a';
    }

    .bootstrap .e-input-calendar:before {
        content: '\e960';
    }

    .bootstrap4 .e-input-calendar:before {
        content: '\e7be';
    }

    .highcontrast .e-input-calendar:before {
        content: '\e93a';
    }

    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

        .content-wrapper div.row {
            padding: 15px 0px;
        }

    .custom-padding-05 {
        padding-top: 5px;
    }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-6,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    #description td {
        vertical-align: top;
    }

    .e-outline.e-float-input,
    .e-outline.e-float-input.e-control-wrapper {
        margin-top: 0;
    }

    .fabric .row.material2,
    .bootstrap .row.material2,
    .bootstrap4 .row.material2,
    .highcontrast .row.material2 {
        display: none;
    }
</style>

<style type="text/css" class="cssStyles">
    .imgId {
        margin: 0;
        /*padding: 3px 10px 3px 3px;*/
        border: 0 none;
        width: 40px;
        height: 40px;
        /*float: left;*/
    }
</style>

@section Scripts {
    <script>
        var inputObject = {};
        var input = document.querySelectorAll('.e-input-group .e-input,.e-float-input.e-input-group input');
        var inputIcon = document.querySelectorAll('.e-input-group-icon');
        var focusFn = function (index) {
            return function () {
                getParentNode(input[index]).classList.add('e-input-focus');
            };
        };
        var blurFn = function (index) {
            return function () { getParentNode(input[index]).classList.remove('e-input-focus'); };
        };
        var mouseupFn = function () {
            var ele = this; setTimeout(function () {
                ele.classList.remove('e-input-btn-ripple');
            }, 500);
        };
        for (var i = 0; i < input.length; i++) {
            input[i].addEventListener('focus', focusFn(i));
            input[i].addEventListener('blur', blurFn(i));
        }
        for (var j = 0; j < inputIcon.length; j++) {
            inputIcon[j].addEventListener('mousedown', function () {
                this.classList.add('e-input-btn-ripple');
            });
            inputIcon[j].addEventListener('mouseup', mouseupFn);
        }
        function getParentNode(element) {
            var parentNode = element.parentNode;
            if (parentNode.classList.contains('e-input-in-wrap')) {
                return parentNode.parentNode;
            }
            return parentNode;
        }
    </script>
}


<script>
    // Prevent closing from click inside dropdown
    $(document).on('click', '.dropdown-menu', function (e) {
        e.stopPropagation();
    });

    // make it as accordion for smaller screens
    if ($(window).width() < 992) {
        $('.dropdown-menu a').click(function (e) {
            e.preventDefault();
            if ($(this).next('.submenu').length) {
                $(this).next('.submenu').toggle();
            }
            $('.dropdown').on('hide.bs.dropdown', function () {
                $(this).find('.submenu').hide();
            })
        });
    }



    $(function () {
        $("body").on('click keypress', function () {
            ResetThisSession();
        });
    });


    //var timeInSecondsAfterSessionOut = 1800; // change this to change session time out (in seconds).(30 minutes)
    var timeInSecondsAfterSessionOut = 1100;
    var secondTick = 0;

    function ResetThisSession() {
        secondTick = 0;
    }

    function StartThisSessionTimer() {
        secondTick++;
        var timeLeft = ((timeInSecondsAfterSessionOut - secondTick) / 60).toFixed(0); // in minutes

        timeLeft = timeInSecondsAfterSessionOut - secondTick; // override, we have 30 secs only
        //document.getElementById("Timers").innerHTML = timeLeft + " Seconds " + secondTick;

        if (secondTick > timeInSecondsAfterSessionOut) {
            clearTimeout(tick);

              //alert("Your session has expired !");

              window.location.href = "@Url.Action("Logout", "Account")";
            return;
        }

        tick = setTimeout("StartThisSessionTimer()", 1000);
    }

    StartThisSessionTimer();
</script>




