﻿@using Syncfusion.EJ2;
@{
    var defaultanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.None };
    ViewBag.button = new
    {
        content = "New Message",
        isPrimary = true
    };
    ViewBag.SaveNewMessagebutton = new
    {
        content = "Send Message",
        isPrimary = true
    };
    ViewBag.buttonCancel = new
    {
        content = "Cancel",
        isPrimary = true
    };
}
<style>
    #New_Message_dialog {
       /* margin-top: 10%;*/
    }
    #Chat_dialog {
        margin-top: 20%;
       /*top:10%;*/
    }
    #Message_dialog_dialog-content {
        /*min-height: 70%;*/
    }
</style>
<style>
    img {
        max-width: 100%;
    }

    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%;
        border-right: 1px solid #c4c4c4;
    }

    .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
    }

    .top_spac {
        margin: 20px 0 0;
    }


    .recent_heading {
        float: left;
        width: 40%;
    }

    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
        /*padding:*/
    }

    .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }

    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }

    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }

    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
    }

        .chat_ib h5 span {
            font-size: 13px;
            float: right;
        }

    .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
    }

    .chat_img {
        float: left;
        width: 11%;
    }

    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people {
        overflow: hidden;
        clear: both;
    }

    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
    }

    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }

    .active_chat {
        background: #ebebeb;
    }

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }

    .modal-footer {
        padding: 19px 20px 20px;
        margin-top: 15px;
        text-align: right;
        border-top: 1px solid #fcfcfc;
    }

    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }

    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }

    .received_withd_msg {
        width: 95%;
    }

    .mesgs {
        float: left;
        padding: 5px 0px 0 25px;
        width: 100%;
    }

    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
    }

    .sent_msg {
        float: right;
        width: 90%;
    }

    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {
        border-top: 1px solid #c4c4c4;
        position: relative;
    }

    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }

    .messaging {
        padding: 0 0 50px 0;
    }

    .msg_history {
        height: 516px;
        overflow-y: auto;
    }
</style>
<button class="open-button" id="chat_btn" onclick="openForm()">Chats</button>
<span id="Message_Badge" style="background-color:red;" class="badge badge-light">
    <b id="Message_Count" style="color:white;"> 0 </b>
</span>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script>
    function OnMessageCreate() {
        window.Messagedialog = this;
    }
    function OnNewMessageCreate() {
        window.NewMessagedialog = this;
    }
    function OnChatCreate() {
        window.Chatdialog = this;
    }
    function dlgButtonCancelClick() {
        //var dialogObj = document.getElementById("Message_dialog");
        //dialogObj.ej2_instances[0].hide();
        window.Messagedialog.hide();
        window.NewMessagedialog.hide();
        window.Chatdialog.hide();
    }
    function openForm() {
        //var dialogObj = document.getElementById("Message_dialog");
        //dialogObj.ej2_instances[0].show();
        window.Messagedialog.show();
    }
    function fetchdata() {
        $.ajax({
            url: '@Url.Action("GetMessages", "Home")',
            type: 'post',
            success: function (response) {
                // Perform operation on the return value
                // alert(response.length);
                var str = "";
                var msg_count = $('#Message_Count');
                msg_count.empty();
                var count = 0;
                var distinct_Chats = new Set(response.map(x => x.SentBy));
                var distinct_array = Array.from(distinct_Chats.values());
                for (var i = 0; i < distinct_array.length; i++) {
                    var _value = distinct_array[i];
                    var isOnline = false;
                    //for (var x = 0; x < allusers.length; x++) {
                    //    if (allusers[x].CurrentUser.includes(_value)) {
                    //        isOnline = true;
                    //        break;
                    //    }
                    //}
                    var latest_chat = response.filter((m) => { return m.SentBy.includes(_value) });
                    var JsonReversedArray = latest_chat.sort((a, b) => b.MessageId - a.MessageId);
                    var new_messages = latest_chat.filter((m) => { return m.IsRead == false });
                    if (isOnline) {
                        str = str+" <div style=' cursor: pointer;' onclick='ReadMsg(" + JsonReversedArray[0].MessageId + ")'><div class='message_container darker'> <p> " + JsonReversedArray[0].SentBy + "<span  style='float:right'><span class='badge badge-primary'>" + new_messages.length + "</span><span style='background-color:green; margin-left:5px;'  class='badge badge-success'>Online</span></span></p> <span class='time-left'>" + GetMessageDate(JsonReversedArray[0].SentDate) + " at " + GetMessageTime(JsonReversedArray[0].SentDate) + "</span></div></div>";
                    }
                    else {
                         str = str +" <div style=' cursor: pointer;' onclick='ReadMsg(" + JsonReversedArray[0].MessageId + ")'><div class='message_container darker'> <p> " + JsonReversedArray[0].SentBy + "<span  style='float:right'><span class='badge badge-primary'>" + new_messages.length + "</span><span style='background-color:red; margin-left:5px;'  class='badge badge-success'>Offline</span></span></p> <span class='time-left'>" + GetMessageDate(JsonReversedArray[0].SentDate) + " at " + GetMessageTime(JsonReversedArray[0].SentDate) + "</span></div></div>";
                    }
                    count = count + new_messages.length;
                    //if (new_messages.length > 0) {
                    //    _newmessage = _newmessage + "<p>- " + JsonReversedArray[0].Sent_By + "</p>";
                    //}
                }
                document.getElementById('messagesTable').innerHTML = str;
                msg_count.append(count);
            }
        });
    }
    function UserName() {
         $.ajax({
            //url: '/eamscentral.org/Messages/GetChat',
            url: '@Url.Action("GetLogedInUsersName", "Home")',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'json',
            //data: { "ID": args},
             success: function (data) {
                 window.UserName = data;
            }
        });
    }
    $(document).ready(function () {
        UserName();
        fetchdata();
        setInterval(fetchdata, 10000);
    });
    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    function GetMessageDate(args) {
        if (args == null || args == '') {
            return null;
        }
        var d = new Date(args);
        return d.getDate() + "/" + months[d.getMonth()] + "/" + d.getFullYear();
    }
    function GetMessageTime(args) {
        if (args == null || args == '') {
            return null;
        }
        var d = new Date(args);
        return d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
    }
    function NewMessage() {
        $.ajax({
            url: '@Url.Action("GetUsers", "Home")',
            //url: '/eamscentral.org/Messages/GetUsers',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var receiver = document.getElementById("Send_To").ej2_instances[0];
                receiver.dataSource = data;
                receiver.dataBind();
            }
        });

        window.Messagedialog.hide();
        window.NewMessagedialog.show();
        //$('#MessagesModal').modal('hide');
        //$('#NewMessageModal').modal('show');//show the modal
    }
    function ReadMsg(args) {
        window.MessageID = args;
        $.ajax({
            //url: '/eamscentral.org/Messages/GetChat',
            url: '@Url.Action("GetChat", "Home")',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'json',
            data: { "ID": args},
            success: function (data) {
                if (data.length > 0) {
                    var str = "";
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].MessageId == parseInt(args)) {
                            $('#Sender_Label').val(data[i].SentBy);
                        }
                        if (data[i].SentBy == window.UserName) {
                            //tbl.append("<div style='margin-right:5%; max-widith:90%;'  class='message_container darker'><div style='float:right;'><b style='color:red;'>ME</b></div> <p> " + data[i].Message_Details + "</p> <span class='time-left'>" + data[i].Sent_Date + "</span></div>");
                            str = str+"<div class='outgoing_msg'>" +
                                "<div class='sent_msg'>" +
                                "<p>" + data[i].MessageDetails + "</p>" +
                                "<span class='time_date'>" + GetMessageDate(data[i].SentDate) + " at " + GetMessageTime(data[i].SentDate) + "</span>" +
                                "</div>" +
                                "</div>";
                        }
                        else {
                            //tbl.append("<div  style='margin-left:5%; max-widith:90%;' class='message_container'><div style='float:right;'><b style='color:blue;'>" + data[i].Sent_By +"</b></div> <p> " + data[i].Message_Details + "</p> <span class='time-left'>" + data[i].Sent_Date + "</span></div>");
                            str = str +"<div class='incoming_msg'>" +
                               "<div class='incoming_msg_img'>" +
                                "</div>" +
                                "<div class='received_msg'>" +
                               "<div class='received_withd_msg'>" +
                               "<p style='text-align:right; color:#05728f;'><b>" + data[i].SentBy +"<b></p>"+
                                "<p>" + data[i].MessageDetails + "</p>" +
                                "<span class='time_date'>" + GetMessageDate(data[i].SentDate) + " at " + GetMessageTime(data[i].SentDate) +"</span>" +
                                "</div>" +
                                "</div>" +
                                "</div>";
                        }
                    }
                    document.getElementById('ChatTable').innerHTML = str;
                    //$("#ChatTable").empty();
                    //$("#ChatTable").append(str);
                    window.Messagedialog.hide();
                    window.Chatdialog.show();
                }

            }
        });
    }
    function SaveMessage() {
        var DDLReceiver = document.getElementById("Send_To").ej2_instances[0];
        var ms = $('#msg').val();
        if (ms == null || ms == "") {
            alert("Please enter a text message before sending the message");
        }
        if (DDLReceiver.value == null) {
            alert("Please select the person you want to send the message to");
        }
        else {
            $.ajax({
                //url: '/eamscentral.org/Messages/SaveMessage',
                url: '@Url.Action("SaveMessage", "Home")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'json',
                data: {
                    "MessageId": null,
                    "MessageDetails": ms,
                    "SentBy": window.UserName,
                    "SentDate": new Date(),
                    "ReceivedBy": DDLReceiver.value,
                    "IsAchieved": false,
                    "IsDeleted": false,
                    "IsRead": false,
                    "ID": 0

                },
                success: function (data) {
                    alert("Success");
                    //$('#ChatModal').modal('hide');
                    window.Chatdialog.hide();
                }
            });
        }
    }
    function ReplyMsg() {
         var ms = $('#Chatmsg').val();
        var Reciver = $('#Sender_Label').val();

        if (ms == null || ms == "") {
            alert("Please type in the message you would like to send");
        }
        else {
             $.ajax({
            //url: '/eamscentral.org/Messages/SaveMessage',
            url: '@Url.Action("SaveMessage", "Home")',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'json',
            data: {
                "MessageId": null,
                "MessageDetails": ms,
                "SentBy": null,
                "SentDate": new Date(),
                "ReceivedBy": Reciver,
                "IsAchieved": false,
                "IsDeleted": false,
                "IsRead": false,
                "ID": window.MessageID

            },
            success: function (data) {
                ReadMsg(window.MessageID);
                $('#Chatmsg').val("");
            }
        });
        }
    }
</script>


<ejs-dialog id="Message_dialog" animationSettings="defaultanimation" visible="false" width="60%" height="60%" target="#MainBody" created="OnMessageCreate"
            showCloseIcon="true" header="Messages" allowDragging="true" enableResize="true">
    <e-content-template>
        <div id="messagesTable"></div>
    </e-content-template>
    <e-dialog-buttons>
        <e-dialog-dialogbutton buttonModel="ViewBag.button" click="NewMessage"></e-dialog-dialogbutton>
        <e-dialog-dialogbutton buttonModel="ViewBag.buttonCancel" click="dlgButtonCancelClick"></e-dialog-dialogbutton>
    </e-dialog-buttons>
</ejs-dialog>


<ejs-dialog id="New_Message_dialog" animationSettings="defaultanimation" visible="false" width="80%" target="#MainBody" created="OnNewMessageCreate"
            showCloseIcon="true" header="New Messages" allowDragging="true" enableResize="true">
    <e-content-template>
        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="e-float-input e-control-wrapper">
                    <ejs-dropdownlist id="Send_To" placeholder="Send To" floatLabelType="Always" popupHeight="300px" allowFiltering="true">
                        <e-dropdownlist-fields text="NameOfUserAccountHolder" value="UserName"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="e-float-input e-control-wrapper">
                    <textarea cols="10" rows="5" placeholder="Type Your Message.." id="msg" name="msg" required></textarea>
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Confirmation">Message</label>
                </div>
            </div>
        </div>
    </e-content-template>
    <e-dialog-buttons>
        <e-dialog-dialogbutton buttonModel="ViewBag.SaveNewMessagebutton" click="SaveMessage"></e-dialog-dialogbutton>
        <e-dialog-dialogbutton buttonModel="ViewBag.buttonCancel" click="dlgButtonCancelClick"></e-dialog-dialogbutton>
    </e-dialog-buttons>
</ejs-dialog>


<ejs-dialog id="Chat_dialog" animationSettings="defaultanimation" visible="false" width="80%" target="#MainBody" created="OnChatCreate"
            showCloseIcon="true" header="Chats" allowDragging="true" enableResize="true">
    <e-content-template>
        <div class="form-row" hidden="hidden">
            <div class="form-group col-md-12">
                <input type="text" id="Sender_Label" name="Sender_Label" style="border-color:white; border-style:none;" readonly="readonly" />
            </div>
        </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="mesgs">
                        <div class="msg_history" id="ChatTable">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="e-float-input e-control-wrapper">
                        <textarea class="write_msg" cols="50" rows="5" placeholder="Type Your reply here.." id="Chatmsg" name="Chatmsg" required></textarea>
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="Chatmsg">Reply</label>
                    </div>
                </div>
            </div>
</e-content-template>
    <e-dialog-buttons>
        <e-dialog-dialogbutton buttonModel="ViewBag.SaveNewMessagebutton" click="ReplyMsg"></e-dialog-dialogbutton>
        <e-dialog-dialogbutton buttonModel="ViewBag.buttonCancel" click="dlgButtonCancelClick"></e-dialog-dialogbutton>
    </e-dialog-buttons>
</ejs-dialog>

<ejs-scripts></ejs-scripts>
