﻿@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    var linkVisible =Model.StartsWith("Error") ? false : true;
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model
        @if(linkVisible){
        <a asp-controller="Account" asp-action="Login">Login page</a>
        }


    </div>
}
