﻿
@{
    //ViewData["Title"] = "Employee Management";
    ViewBag.Title = "Supervior Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;">Employee Management</li>
</ol>
@*<partial name="MessagePartial" />*@
<ejs-grid id="Grid"
          allowPaging="true" allowResizing="true" allowTextWrap="true" gridLines="Both"
          allowSorting="true" allowReordering="true" allowGrouping="true" showColumnChooser="true"
          toolbar="@(new List<string>() { "Search", "Add", "Edit", "Delete","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport" ,"ColumnChooser"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBeging" load="onLoad">
    <e-data-manager url="/Account/DataSourceEmployee" insertUrl="/Account/DialogueEmployeeSave" updateUrl="/Account/DialogueEmployeeSave" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4" />
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column type="checkbox" width="50"></e-grid-column>
        <e-grid-column field="EmployeeId" headerText="Id" visible="false" isPrimaryKey="true" isIdentity="true"></e-grid-column>
        <e-grid-column field="Name" headerText="Name"></e-grid-column>
        <e-grid-column field="Email" headerText="Email"></e-grid-column>
        <e-grid-column field="DateOfBirth" headerText="Date Of Birth" format='yMd'></e-grid-column>
        <e-grid-column field="Phone" headerText="TelePhone 1"></e-grid-column>
        <e-grid-column field="Telephone" headerText="TelePhone 2"></e-grid-column>
        <e-grid-column field="GenderDesc" headerText="Gender"></e-grid-column>
        <e-grid-column field="TitleDesc" headerText="Title"></e-grid-column>
        <e-grid-column field="CountryName" headerText="Nationality"></e-grid-column>
        <e-grid-column field="DistrictName" headerText="District"></e-grid-column>
        <e-grid-column field="CountyName" headerText="County"></e-grid-column>
        <e-grid-column field="SubcountyName" headerText="Sub-County"></e-grid-column>
        <e-grid-column field="ParishName" headerText="Parish"></e-grid-column>
        <e-grid-column field="VillageName" headerText="Village"></e-grid-column>

    </e-grid-columns>
</ejs-grid>
<script>
    function onLoad(args) {
        setToolbarItems();
    }
</script>
<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input name="EmployeeId" id="EmployeeId" type="text" value="${if(EmployeeId == null || EmployeeId == undefined)}  ${else} ${EmployeeId} ${/if}" readonly="readonly" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="EmployeeId">Employee Id</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input name="Name" id="Name" type="text" value="${if(Name == null || Name == undefined)}  ${else} ${Name} ${/if}" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Name">Full Name</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" style="margin-top:15px;">
                <div class="e-float-input e-control-wrapper">
                    <input name="Email" id="Email" type="email" value="${if(Email == null || Email == undefined)}  ${else} ${Email} ${/if}" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Email">Email</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input name="DateOfBirth" id="DateOfBirth" type="text" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input name="Phone" id="Phone" type="number" value="${if(Phone == null || Phone == undefined)}  ${else} ${Phone} ${/if}" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Phone">Telephone 1</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input name="Telephone" id="Telephone" type="number" value="${if(Telephone == null || Telephone == undefined)}  ${else} ${Telephone} ${/if}" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Telephone">Telephone 2</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input name="NinNo" id="NinNo" type="text" value="${if(NinNo == null || NinNo == undefined)}  ${else} ${NinNo} ${/if}" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="NinNo">National ID / Passport Number</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <input name="Gender" id="Gender" type="text" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="Nationality" id="Nationality" type="text" />
            </div>
            <div class="form-group col-md-6">
                <input name="Title" id="Title" type="text" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="DistrictId" id="DistrictId" type="text" />
            </div>
            <div class="form-group col-md-6">
                <input name="CountyId" id="CountyId" type="text" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="SubcountyId" id="SubcountyId" type="text" />
            </div>
            <div class="form-group col-md-6">
                <input name="ParishId" id="ParishId" type="text" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="PhysicalAddress" id="PhysicalAddress" type="text" />
            </div>
            <div class="form-group col-md-6">
                <input name="PhotoUpload" id="PhotoUpload" type="file" />
                <div>
                    <img id="UploadedImage" width="150" height="200" />
                </div>
            </div>
        </div>
    </div>
</script>
<script>
        let _district =@Html.Raw(Json.Serialize(ViewBag.district));
        let _county =@Html.Raw(Json.Serialize(ViewBag.county));
        let _subcounty =@Html.Raw(Json.Serialize(ViewBag.subcounty));
        let _parish =@Html.Raw(Json.Serialize(ViewBag.parish));
        let _village =@Html.Raw(Json.Serialize(ViewBag.village));
        let _gender =@Html.Raw(Json.Serialize(ViewBag.gender));
        let _nationality =@Html.Raw(Json.Serialize(ViewBag.nationality));
        let _title =@Html.Raw(Json.Serialize(ViewBag.title2));
        function toolbarClick(args) {
            if (args.item.id == this.element.id + '_pdfexport') {
                this.pdfExport();
            }
            if (args.item.id == this.element.id + '_csvexport') {
                this.csvExport();
            }
            if (args.item.id == this.element.id + '_excelexport') {
                this.excelExport();
            }
        }
        function onEdit(args) {
            if (args.requestType == 'beginEdit' || args.requestType == 'add') {
                window.requestType = args.requestType;

                //#####
                var data = args.rowData;

                window.args = args.requestType;

                // For custom save button
                args.dialog.btnObj[0].destroy();
                args.dialog.btnObj[0].element.id = "save";

                var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Save',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-success',
                }); progressSaveButton.appendTo('#save');

                // For custom cancel button
                args.dialog.btnObj[1].destroy();
                args.dialog.btnObj[1].element.id = "cancel";

                var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Cancel',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-danger',

                });
                progressCancelButton.appendTo('#cancel');

                // saving the edit action
                document.getElementById('save').addEventListener('click', function (args) {
                    //onclick = savess();
                }.bind(this));

                // Cancelling the edit action
                document.getElementById('cancel').addEventListener('click', function (args) {
                    //onclick = cancelss();

                }.bind(this));

             //#####

                if (args.requestType == 'add') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetEmployeeId", "Account")',
                        //data: {
                        //    "id": $("#EmployeeId").val()
                        //}
                    })
                        .done(function (response) {
                            $("#EmployeeId").val(response)
                        })
                        .fail(function (a, b, c) {
                            alert("fail");
                        });
                }
                else {
                    var _UserImage = document.getElementById("UploadedImage");
                    _UserImage.src = "@Url.Action("GetImage", "Account")?EmployeeId=" + args.rowData.EmployeeId;
                }
                var data = args.rowData;
                new ej.dropdowns.DropDownList({
                    value: data.Gender, dataSource: _gender, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'Name', value: 'Id' }, placeholder: 'Gender'
                },
                    args.form.elements.namedItem('Gender'));

                new ej.dropdowns.DropDownList({
                    value: data.Nationality, dataSource: _nationality, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'CountryName', value: 'CountryCode' }, placeholder: 'Nationality'
                },
                    args.form.elements.namedItem('Nationality'));

                new ej.dropdowns.DropDownList({
                    value: data.Title, dataSource: _title, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'TitleDesc', value: 'TitleId' }, placeholder: 'User Category'
                },
                    args.form.elements.namedItem('Title'));

                new ej.dropdowns.DropDownList({
                    value: data.PhysicalAddress, dataSource: _village, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'VillageName', value: 'VillageId' }, placeholder: 'Village'
                },
                    args.form.elements.namedItem('PhysicalAddress'));

                new ej.dropdowns.DropDownList({
                    value: data.ParishId, dataSource: _parish, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'ParishName', value: 'ParishId' }, placeholder: 'Parish'
                },
                    args.form.elements.namedItem('ParishId'));

                new ej.dropdowns.DropDownList({
                    value: data.SubcountyId, dataSource: _subcounty, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'SubcountyName', value: 'SubcountyId' }, placeholder: 'Sub county'
                },
                    args.form.elements.namedItem('SubcountyId'));

                new ej.dropdowns.DropDownList({
                    value: data.CountyId, dataSource: _county, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'CountyName', value: 'CountyId' }, placeholder: 'County'
                },
                    args.form.elements.namedItem('CountyId'));

                new ej.dropdowns.DropDownList({
                    value: data.DistrictId, dataSource: _district, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'DistrictName', value: 'DistrictId' }, placeholder: 'District'
                },
                    args.form.elements.namedItem('DistrictId'));
                new ej.calendars.DatePicker({ value: new Date(args.rowData.DateOfBirth) || new Date(), floatLabelType: 'Always', placeholder: 'Date Of Birth' }, args.form.elements.namedItem('DateOfBirth'));
                var uploadObj = new ej.inputs.Uploader({
                    asyncSettings: {
                        saveUrl: 'EmployeeImageSave',
                        removeUrl: 'EmployeeImageRemove'
                    },
                    autoUpload: true,
                    multiple: false,
                    showFileDetails: false,
                    removing: onFileRemove,
                    uploading: onFileUpload,
                    //selected: onFileSelect,
                    success: onfilesuccess,
                    allowedExtensions: '.png, .jpg, .jpeg',
                    //dropArea: dropElement
                });
                uploadObj.appendTo('#PhotoUpload');
                window.uploadObj = uploadObj;
            }
        }
        function OnBeging(args) {
            if (args.requestType == "cancel") {
                if (window.requestType == 'add') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveEmployee", "Account")',
                        data: {
                            "id": $("#EmployeeId").val()
                        }
                        })
                            .done(function (response) {
                            })
                            .fail(function (a, b, c) {
                            alert("fail");
                        });
                    }
                }
        }
        function onFileRemove(args) {
            args.postRawFile = false;
        }
        function onFileUpload(args) {

            // add addition data as key-value pair.
            var inputElement = document.getElementById('EmployeeId');
            if (inputElement.value == null || inputElement.value == " ") {
                args.cancel = true;
            }

            args.customFormData = [{ 'EmployeeId': inputElement.value }];
        }
        function onFileSelect(args) {
            var inputElement = document.getElementById('Photo_type');
            inputElement.value = args.filesData[0].type;
            //var _inputElement = document.getElementById('CreatedBy');
            //_inputElement.value = args.filesData[0].name;

        }
        function onfilesuccess(args) {
            //alert()
            var _UserImage = document.getElementById("UploadedImage");
            _UserImage.src = "@Url.Action("GetImage", "Account")?EmployeeId=" + document.getElementById("EmployeeId").value;
        }
</script>

<script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>