﻿@using CHMIS.ModelView;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "";
    //int? DiseaseTypevalue = 1;
}

    <form method="post" asp-controller="Account" asp-action="Login">
        <div class="login-wrap">
            <div class="login-html">
                <h3 class="text-center" style="color:white"> <b>CITY HEALTH INFORMATION SYSTEM </b></h3>
                @*<img id="profile-img" class="profile-img-card" src="~/kcca-logo.jpg" />*@
                <img id="profile-img" class="profile-img-card" width="150" height="150" src="~/KCCALogo.png" />

                <input id="tab-1" type="radio" name="tab" class="sign-in" checked> <label for="tab-1" class="tab"> Sign-In</label>
                <input id="tab-2" type="radio" hidden="hidden" name="tab" class="sign-up"><label for="tab-2" class="tab" hidden="hidden"></label>
                <div class="login-form">

                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="Username" class="label">Username / Email</label>
                            <input asp-for="Username" id="Username" style="background-color:black"  class="input" />
                            <span asp-validation-for="Username" style="color:red"></span>

                        </div>
                        <div class="group" hidden="hidden">
                            <label for="DiseaseType" class="label">disease type</label>

                            @*<ejs-dropdownlist id="DiseaseType" ejs-for="DiseaseType" dataSource="@ViewBag.disease" value=1  placeholder="Select the disease type"
                                     floatLabelType="Never" popupHeight="300px" allowFiltering="true">
                                <e-dropdownlist-fields text="Disease" value="DiseaseId"></e-dropdownlist-fields>
                                  </ejs-dropdownlist>*@

                            <input asp-for="DiseaseType" id="DiseaseType" type="number" value="1" />
                            <span asp-validation-for="DiseaseType" style="color:red" ></span>
                        </div>
                        <div class="group">
                            <label for="Password" class="label">Password</label>
                            <input asp-for="Password" id="Password" style="background-color:black" type="password" class="input" data-type="password" />
                            <span asp-validation-for="Password" style="color:red"></span>
                        </div>
                        <div class="group">
                            <input asp-for="RememberMe" id="RememberMe" />
                            <span asp-validation-for="RememberMe" style="color:red"></span>
                            <label for="RememberMe" class="label">@*<span class="icon"></span>*@ Keep me Signed in</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In">
                        </div>
                        
                    <div class="foot-lnk" style="color:white">
                        @*<a href="#forgot">Forgot Password?</a>*@
                        &copy; 2020 - CHIS - <a asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank">Privacy Policy</a>
                    </div>
                    </div>

                    <div class="sign-up-htm" hidden="hidden">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" style="background-color:white" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password</label>
                            <input id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email Address</label>
                            <input id="pass" type="text" class="input">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                        <div class="hr" contact100-form-btn></div>
                        <div class="foot-lnk">
                            <a for="tab-1">Already Member?</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>
    <style>
        body {
            margin: 0;
            color: #6a6f8c;
            background-color:whitesmoke;
            /*background: url('kcca.jpg');*/
            /*background: #c8c8c8;*/
            font: 600 16px/18px 'Open Sans',sans-serif;
        }

        *, :after, :before {
            box-sizing: border-box
        }

        .clearfix:after, .clearfix:before {
            content: '';
            display: table
        }

        .clearfix:after {
            clear: both;
            display: block
        }

        a {
            color: inherit;
            text-decoration: none
        }

        .login-wrap {
            width: 100%;
            margin: auto;
            max-width: 525px;
            min-height: 670px;
            position: relative;
            background-image: url('kampala2.jpg');
            /*background-image: url('kampalajpg.jpg');*/
            background: url('kampala2.jpg') no-repeat center;
            /*background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;*/
            box-shadow: 0 12px 15px 0 rgba(0,0,0),0 17px 50px 0 rgba(0,0,0);
        }

        .login-html {
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 90px 70px 50px 70px;
            /* background-image: url('kcca-logo.jpg');*/
            /*background: rgba(40,57,101,.9);*/
            background: rgba(122, 158, 145,.5);
        }

            .login-html .sign-in-htm,
            .login-html .sign-up-htm {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position:absolute;
                transform: rotateY(180deg);
                backface-visibility: hidden;
                transition: all .4s linear;
            }

            .login-html .sign-in,
            .login-html .sign-up,
            .login-form .group .check {
                display: none;
            }

            .login-html .tab,
            .login-form .group .label,
            .login-form .group .button {
                text-transform: uppercase;
            }

            .login-html .tab {
                font-size: 22px;
                margin-right: 15px;
                padding-bottom: 5px;
                margin: 0 15px 10px 0;
                display: inline-block;
                border-bottom: 2px solid transparent;
            }

            .login-html .sign-in:checked + .tab,
            .login-html .sign-up:checked + .tab {
                color: #fff;
                border-color: #1161ee;
            }

        .login-form {
            min-height: 345px;
            position: relative;
            perspective: 1000px;
            transform-style: preserve-3d;
        }
        #DiseaseType {
            background-color: rgb(232, 240, 254);
            padding: 15px;
        }
        .e-input-group .e-input-group-icon, .e-input-group.e-control-wrapper .e-input-group-icon {
            background: rgb(232, 240, 254);
            border-color: rgb(232, 240, 254);
            color: rgba(0, 0, 0, 0.54);
        }
        .e-input-group .e-input-group-icon, .e-input-group.e-control-wrapper .e-input-group-icon {
            margin-bottom: 0px;
            margin-right: 4px;
            margin-top: 0px;
        }
        .login-form .group {
            margin-bottom: 15px;
        }

                .login-form .group .label,
                .login-form .group .input,
                .login-form .group .button {
                    width: 100%;
                    color: #fff;
                    display: block;
                }

                .login-form .group .input,
                .login-form .group .button {
                    border: none;
                    padding: 15px 20px;
/*                    border-radius: 25px;*/
                    background: rgba(255,255,255,.1);
                }

                .login-form .group input[data-type="password"] {
                    text-security: circle;
                    -webkit-text-security: circle;
                }

                .login-form .group .label {
                    color: white;
                    font-size: 15px;
                }

                .login-form .group .button {
                    background: #1161ee;
                }

                .login-form .group label .icon {
                    width: 15px;
                    height: 15px;
                    border-radius: 2px;
                    position: relative;
                    display: inline-block;
                    background: rgba(255,255,255,.1);
                }

                    .login-form .group label .icon:before,
                    .login-form .group label .icon:after {
                        content: '';
                        width: 10px;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        transition: all .2s ease-in-out 0s;
                    }

                    .login-form .group label .icon:before {
                        left: 3px;
                        width: 5px;
                        bottom: 6px;
                        transform: scale(0) rotate(0);
                    }

                    .login-form .group label .icon:after {
                        top: 6px;
                        right: 0;
                        transform: scale(0) rotate(0);
                    }

                .login-form .group .check:checked + label {
                    color: #fff;
                }

                    .login-form .group .check:checked + label .icon {
                        background: #1161ee;
                    }

                        .login-form .group .check:checked + label .icon:before {
                            transform: scale(1) rotate(45deg);
                        }

                        .login-form .group .check:checked + label .icon:after {
                            transform: scale(1) rotate(-45deg);
                        }

        .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
            transform: rotate(0);
        }

        .login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
            transform: rotate(0);
        }

        .hr {
            height: 2px;
            margin: 60px 0 50px 0;
            background: rgba(255,255,255,.2);
        }

        .foot-lnk {
            text-align: center;
        }
        .profile-img-card {
            /*width: 100px;
        height: 100px;*/
            margin: 0 auto 8px;
            display: block;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            border-radius: 100%;
        }

    </style>
