﻿
@{
    ViewData["Title"] = "PasswordManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<object> commands = new List<object>();
    commands.Add(new { type = "userstatus", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "btn btn-danger btn-sm", content = "Reset Password" } });
    var promptanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.SlideLeft };

}
<ol class="breadcrumb" style="margin-top:30px;">
    @*<li class="breadcrumb-item">
        <a href="/DashBoard/Dashboard">Dashboard</a>
    </li>*@
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;">Password management</li>
</ol>


@*<partial name="MessagePartial" />*@
<div class=" col-lg-12 control-section" id="target">
    <ejs-grid id="Grid"
              allowPaging="true" allowResizing="true" allowTextWrap="true"
              allowSorting="true" allowReordering="true" allowGrouping="true"
              commandClick="onCommandClick"
              allowFiltering="true" allowSelection="true" allowExcelExport="false"
              allowPdfExport="false">
        <e-data-manager url="/Account/GetUsers" adaptor="UrlAdaptor"></e-data-manager>
        <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4"/>
        <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
        @*<e-grid-editSettings allowAdding="false" allowDeleting="false" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>*@
        <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
        <e-grid-columns>
            <e-grid-column field="EmployeeId" headerText="Id" isPrimaryKey="true" isIdentity="true" visible="false"></e-grid-column>
            <e-grid-column field="UserId" headerText="User Id" visible="false"></e-grid-column>
            <e-grid-column field="Name" headerText="Name"></e-grid-column>
            <e-grid-column field="Email" headerText="Email"></e-grid-column>
            <e-grid-column field="RoleName" headerText="User Role"></e-grid-column>
            <e-grid-column headerText="Options" width="130" commands="commands"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
    <script>
        function onCommandClick(args) {
            //debugger;
            if (args.commandColumn.type == "userstatus") {
                $("#Id").val(args.rowData.UserId);
                $("#NameOfUserAccountHolder").val(args.rowData.Name);
                $("#Email").val(args.rowData.Email);
                window.promptObj.show();
            }
        }
        function ResetPassword() {

            if ($("#Password").val() != $("#Confirmation").val()) {
                alert("The passwords donot match, please enter matching passwords...")
            }
            else {
                $.ajax({
                    url: "ResetUserPassword",
                    type: "Get",
                    dataType: "json",
                    data: {
                        "Id": $("#Id").val(),
                        "password": $("#Password").val()
                    },
                    success: function (data) {
                        alert(data);
                        window.promptObj.hide();
                    }
                });
            }

        }
        function promptCancelBtnClick() {
            window.promptObj.hide();
        }
    </script>

    <ejs-dialog id="prompt_dialog" animationSettings="promptanimation" visible="false" created="onLoadprompt" target="#target" width="80%" header="Reset password">
        <e-content-template>
            <div class="form-row" hidden>
                <div class="form-group col-md-12">
                    <div class="e-float-input e-control-wrapper">
                        <input type="text" name="Id" id="Id" class="form-control" style="min-width:98%;" readonly />
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="Id">Id</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="e-float-input e-control-wrapper">
                        <input type="text" name="NameOfUserAccountHolder" id="NameOfUserAccountHolder" class="form-control" style="min-width:98%;" readonly />
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="NameOfUserAccountHolder">Name</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="e-float-input e-control-wrapper">
                        <input type="text" name="Email" id="Email" class="form-control" style="min-width:98%;" readonly />
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="Email">Email</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="e-float-input e-control-wrapper">
                        <input type="password" name="Password" id="Password" class="form-control" style="min-width:98%;" />
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="Password">Password</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="e-float-input e-control-wrapper">
                        <input type="password" name="Confirmation" id="Confirmation" class="form-control" style="min-width:98%;" />
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="Confirmation">Confirm Password</label>
                    </div>
                </div>
            </div>
        </e-content-template>
        <e-dialog-buttons>
            <e-dialog-dialogbutton buttonModel="ViewBag.promptbutton" click="ResetPassword"></e-dialog-dialogbutton>
            <e-dialog-dialogbutton buttonModel="ViewBag.promptbutton1" click="promptCancelBtnClick"></e-dialog-dialogbutton>
        </e-dialog-buttons>
    </ejs-dialog>
    <script>
        function onLoadprompt() {
            var promptObj = this;
            window.promptObj = this;
        }
    </script>
</div>



