﻿@using CHMIS.ModelView
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

    <ol class="breadcrumb" style="margin-top:5px;">
        @*<li class="breadcrumb-item">
            <a href="/DashBoard/Dashboard">Dashboard</a>
        </li>*@
        @*<li class="breadcrumb-item">@ViewData["Title"]</li>*@
        <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;">Register / Create a new account.</li>
    </ol>

    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-4"></div>
            <div class="form-group col-md-4">
                <div class="row material2">
                    <div class="form-group col-md-12">
                        <ejs-dropdownlist id="EmployeeId" cssClass="e-outline" ejs-for="EmployeeId" dataSource="@ViewBag.Employee" placeholder="Name Of Account Holder"
                                          floatLabelType="Auto" popupHeight="300px" allowFiltering="true" change="onEmployeeChange">
                            <e-dropdownlist-fields text="Name" value="EmployeeId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                    <div class="form-group col-md-12">
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">

                        <div class="e-float-input e-control-wrapper">
                            <ejs-textbox id="Email" ejs-for="Email" cssClass="e-outline" placeholder="Email-Address" floatLabelType="Always" name="Email" type="email" value="Email"></ejs-textbox>
                        </div>
                       
                    </div>
                    <div class="form-group col-md-12">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="e-float-input e-control-wrapper">
                            <ejs-textbox id="UserName" ejs-for="UserName" cssClass="e-outline" placeholder="User-Name" floatLabelType="Always" name="UserName" type="text" value="UserName"></ejs-textbox>
                        </div>
                       
                    </div>
                    <div class="form-group col-md-12">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="e-float-input e-control-wrapper">
                            <ejs-textbox id="PhoneNumber" ejs-for="PhoneNumber" cssClass="e-outline" placeholder="PhoneNumber" floatLabelType="Always" name="PhoneNumber" type="text" value="PhoneNumber"></ejs-textbox>
                        </div>
                       
                    </div>
                    <div class="form-group col-md-12">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <ejs-dropdownlist id="UserRole" cssClass="e-outline" ejs-for="UserRole" dataSource="@ViewBag.UserRoles" placeholder="User Roles" floatLabelType="Auto" popupHeight="300px">
                            <e-dropdownlist-fields text="Name" value="Name"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                    <div class="form-group col-md-12">
                        <span asp-validation-for="UserRole" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <ejs-multiselect id="Modules" ejs-for="Modules" cssClass="e-outline" dataSource="@ViewBag.Modules" placeholder="Select Module(s)" floatLabelType="Auto" popupHeight="300px"
                                         showSelectAll="true" showDropDownIcon="true" allowFiltering="true" mode="CheckBox" change="onModuleChange">
                            <e-multiselect-fields text="ModuleDescription" value="ModuleId"></e-multiselect-fields>
                        </ejs-multiselect>
                    </div>
                    <div class="form-group col-md-12">
                        <span asp-validation-for="Modules" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <ejs-multiselect id="Section" ejs-for="Section" cssClass="e-outline" dataSource="@ViewBag.Section" placeholder="Select Sections(s)" floatLabelType="Auto" popupHeight="300px"
                                         showSelectAll="true" showDropDownIcon="true" allowFiltering="true" mode="CheckBox">
                            <e-multiselect-fields text="SectionDescription" value="SectionId" groupBy="SectionHeader"></e-multiselect-fields>
                        </ejs-multiselect>
                    </div>
                    <div class="form-group col-md-12">
                        <span asp-validation-for="Section" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="e-float-input e-control-wrapper">
                            <ejs-textbox id="Password" ejs-for="Password" cssClass="e-outline" placeholder="Password" floatLabelType="Always" name="Password" type='password' value="Password"></ejs-textbox>
                        </div>
                       
                    </div>
                    <div class="form-group col-md-12">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="e-float-input e-control-wrapper">
                            <ejs-textbox id="ConfirmPassword" ejs-for="ConfirmPassword" cssClass="e-outline" placeholder="ConfirmPassword" floatLabelType="Always" name="ConfirmPassword" type='password' value="ConfirmPassword"></ejs-textbox>
                        </div>
                        
                    </div>
                    <div class="form-group col-md-12">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12">
                       
                        <ejs-multiselect id="Facility" ejs-for="Facility" cssClass="e-outline" dataSource="@ViewBag.Facility" placeholder="Select Facility / School" floatLabelType="Auto" popupHeight="300px"
                                         showSelectAll="true" showDropDownIcon="true" allowFiltering="true" mode="CheckBox">
                            <e-multiselect-fields text="Facility" value="FacilityCode"></e-multiselect-fields>
                        </ejs-multiselect>
                    </div>
                    <div class="form-group col-md-12">
                        <span asp-validation-for="Facility" class="text-danger"></span>
                    </div>

                <div class="form-group col-md-12">
                    <ejs-multiselect id="OperationalArea" ejs-for="OperationalArea" cssClass="e-outline" dataSource="@ViewBag.OperationalArea" placeholder="Operational Area / Arcade Building" floatLabelType="Auto" popupHeight="300px"
                                     showSelectAll="true" showDropDownIcon="true" allowFiltering="true">
                        <e-multiselect-fields text="OperationalArea" value="OperationalCode"></e-multiselect-fields>
                    </ejs-multiselect>
                </div>
                <div class="form-group col-md-12">
                    <span asp-validation-for="OperationalArea" class="text-danger"></span>
                </div>

                <div id="SucessShow" class="form-group col-md-12">

                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </div>
                </div>
                <div class="form-group col-md-4"></div>
            </div>

    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
         $(function () {
        document.getElementById('SucessShow').innerHTML = @Html.Raw(Json.Serialize(ViewBag.SuccessRegistration));
         });

          let _Section=@Html.Raw(Json.Serialize(ViewBag.Section));
    function onModuleChange(args) {
        var assSelectedSectors = document.getElementById("Section").ej2_instances[0];
        var selecetedList = args.value;
        var Xsection = _Section.filter(f => selecetedList.some(o => o == f.ModuleId));
        if (Xsection.length > 0) {
            assSelectedSectors.dataSource = Xsection;
            assSelectedSectors.enabled = true;
            assSelectedSectors.value = null;
            assSelectedSectors.dataBind();
        }
        else {
            assSelectedSectors.dataSource = _Section;
            assSelectedSectors.enabled = false;
            assSelectedSectors.value = null;
            assSelectedSectors.dataBind();
        }
    }

    let employees = @Html.Raw(Json.Serialize(ViewBag.Employee));
        function onEmployeeChange(args) {
            debugger;
             $("#Email").val(args.itemData.Email);
                $("#PhoneNumber").val(args.itemData.Phone);
            //var _emp = employees.filter(m => m.EmployeeId = args.value);
            //if (_emp.length > 0) {
            //    alert(_emp[0].Email);
            //    $("#Email").val(_emp[0].Email);
            //    $("#PhoneNumber").val(_emp[0].Phone);
            //}
         }
    </script>