﻿
@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<partial name="MessagePartial" />*@

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;"> <stong>User Management </stong></li>
</ol>

<ejs-grid id="Grid"
          allowPaging="true" allowResizing="true" allowTextWrap="true"
          allowSorting="true" allowReordering="true" allowGrouping="true" gridLines="Both"
          toolbar="@(new List<string>() { "Search", "Edit","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBeging" load="onLoad">
    <e-data-manager url="/Account/DataSourceUserManagementNew" updateUrl="/Account/UpdateUserManagement" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4" />
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="false" allowDeleting="false" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column type="checkbox" width="50"></e-grid-column>
        <e-grid-column field="Id" headerText="Id" visible="false" isPrimaryKey="true" isIdentity="true"></e-grid-column>
        <e-grid-column field="Name" headerText="Name"></e-grid-column>
        <e-grid-column field="Email" headerText="Email"></e-grid-column>
        <e-grid-column field="RoleName" headerText="Role"></e-grid-column>
        <e-grid-column field="Facility" headerText="Facility/School" template="${FacilityNames(data)}" filter="@(new { type="CheckBox", itemTemplate="${FacilityNames(data)}"})"></e-grid-column>
        @*<e-grid-column field="Facility" headerText="Facility" foreignKeyField="FacilityCode" foreignKeyValue="Facility" dataSource="@ViewBag.Facility"></e-grid-column>*@
        <e-grid-column field="OperationalArea" headerText="Operational Area" foreignKeyField="OperationalCode" foreignKeyValue="OperationalArea" dataSource="@ViewBag.OperationalArea"></e-grid-column>
        <e-grid-column field="LockoutEnabled" headerText="Is Lockout Enabled" displayAsCheckBox="true" textAlign="Center" type="boolean"></e-grid-column>

    </e-grid-columns>
</ejs-grid>

<script>
    function onLoad(args) {
        setToolbarItems();
    }
</script>

<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input type="text" id="Name" name="Name" value="${if(Name === null || Name === undefined)} ${else}${Name}${/if}" class="form-control" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Name">Name</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input type="text" id="Email" name="Email" value="${if(Email === null || Email === undefined)} ${else}${Email}${/if}" class="form-control" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Email">Email</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input type="text" id="UserName" name="UserName" value="${if(UserName === null || UserName === undefined)} ${else}${UserName}${/if}" class="form-control" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="UserName">User Name</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <input type="number" id="PhoneNumber" name="PhoneNumber" value="${if(PhoneNumber === null || PhoneNumber === undefined)} ${else}${PhoneNumber}${/if}" class="form-control" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="PhoneNumber"> Phone Number</label>
                </div>
            </div>
        </div>
        <div class="form-row" hidden="hidden">

            <div class="form-group col-md-6" hidden="hidden">
                <div class="e-float-input e-control-wrapper">
                    <input type="text" id="Id" name="Id" value="${if(Id === null || Id === undefined)} ${else}${Id}${/if}" class="form-control" />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Id"> Id</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" id="RoleName" name="RoleName" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <input type="text" id="SelectedModules" name="SelectedModules" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" id="SelectedSections" name="SelectedSections" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <input type="text" id="Facility" name="Facility" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" id="OperationalArea" name="OperationalArea" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-4">
                    Enable LockOut
                </div>

                <div class="col-md-8">
                    <input type="checkbox" id="LockoutEnabled" name="LockoutEnabled" class="form-control" />
                </div>
            </div>
        </div>

    </div>
</script>
<script>
        let _Roles =@Html.Raw(Json.Serialize(ViewBag.Roles));
        let _Facility =@Html.Raw(Json.Serialize(ViewBag.Facility));
        let _OperationalArea =@Html.Raw(Json.Serialize(ViewBag.OperationalArea));
        let _Modules =@Html.Raw(Json.Serialize(ViewBag.Modules));
        let _Section =@Html.Raw(Json.Serialize(ViewBag.Section));

    function toolbarClick(args) {
            if (args.item.id === this.element.id + '_pdfexport') {
                this.pdfExport();
            }
            if (args.item.id === this.element.id + '_csvexport') {
                this.csvExport();
            }
            if (args.item.id === this.element.id + '_excelexport') {
                this.excelExport();
            }
        }
        function onEdit(args) {
            if (args.requestType === 'beginEdit' || args.requestType === 'add') {

                //#####
                var data = args.rowData;

                window.args = args.requestType;

                // For custom save button
                args.dialog.btnObj[0].destroy();
                args.dialog.btnObj[0].element.id = "save";

                var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Save',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-success',
                }); progressSaveButton.appendTo('#save');

                // For custom cancel button
                args.dialog.btnObj[1].destroy();
                args.dialog.btnObj[1].element.id = "cancel";

                var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Cancel',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-danger',

                });
                progressCancelButton.appendTo('#cancel');

                // saving the edit action
                document.getElementById('save').addEventListener('click', function (args) {
                    //onclick = savess();
                }.bind(this));

                // Cancelling the edit action
                document.getElementById('cancel').addEventListener('click', function (args) {
                    //onclick = cancelss();

                }.bind(this));

             //#####

                //var FacilityCodeElement = args.form.elements['FacilityCode'];
                //new ej.dropdowns.DropDownList({
                //    value: args.rowData.FacilityCode, dataSource: _Facility, floatLabelType: 'Always',
                //    popupHeight: '300px', fields: { value: 'FacilityCode', text: 'Facility' }, placeholder: 'Facility/Schools', allowFiltering: true,
                //    filterBarPlaceholder: 'Search Facility/Schools',
                //}, FacilityCodeElement);

                var OperationalAreaElement = args.form.elements['OperationalArea'];
                new ej.dropdowns.DropDownList({
                    value: args.rowData.OperationalArea, dataSource: _OperationalArea, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { value: 'OperationalCode', text: 'OperationalArea' }, placeholder: 'Operational Area', allowFiltering: true,
                    filterBarPlaceholder: 'Search Operational Area', /*change: ShopChange,*/
                }, OperationalAreaElement);


                var RoleNameElement = args.form.elements['RoleName'];
                new ej.dropdowns.DropDownList({
                    value: args.rowData.RoleName, dataSource: _Roles, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { value: 'Name', text: 'Name' }, placeholder: 'User Role', allowFiltering: true,
                    filterBarPlaceholder: 'Search User Role', /*change: ShopChange,*/
                },RoleNameElement);


                var FacilityElement = args.form.elements['Facility'];
                var FacilityArray = [];
                if (args.rowData.Facility != null) {
                    var _part = args.rowData.Facility.split(',')
                    for (var i = 0; i <= (_part.length - 1); i++) {
                        FacilityArray.push(parseInt(_part[i]));
                    }
                }
                new ej.dropdowns.MultiSelect({
                    // set the country data to dataSource property
                    dataSource: _Facility,
                    // map the appropriate columns to fields property
                    fields: { text: 'Facility', value: 'FacilityCode' },
                    // set the placeholder to MultiSelect input element
                    value: FacilityArray,
                    // set the type of mode for checkbox to visualized the checkbox added in li element.
                    mode: 'CheckBox',
                    // set true for enable the selectAll support.
                    showSelectAll: true,
                    // set true for enable the dropdown icon.
                    showDropDownIcon: true,
                    // set the placeholder to MultiSelect filter input element
                    filterBarPlaceholder: 'Search Facility / School',
                    floatLabelType: 'Always',
                    placeholder: 'Facility / School',
                    // set the MultiSelect popup height
                    popupHeight: '350px'
                }, FacilityElement);


                var SelectedModulesElement = args.form.elements['SelectedModules'];
                var SelectedModulesArray = [];
                if (args.rowData.SelectedModules != null) {
                    var _part = args.rowData.SelectedModules.split(',')
                    for (var i = 0; i <= (_part.length - 1); i++) {
                        SelectedModulesArray.push(parseInt(_part[i]));
                    }
                }
                new ej.dropdowns.MultiSelect({
                    // set the country data to dataSource property
                    dataSource: _Modules,
                    // map the appropriate columns to fields property
                    fields: { text: 'ModuleDescription', value: 'ModuleId' },
                    // set the placeholder to MultiSelect input element
                    value: SelectedModulesArray,
                    // set the type of mode for checkbox to visualized the checkbox added in li element.
                    mode: 'CheckBox',
                    // set true for enable the selectAll support.
                    showSelectAll: true,
                    // set true for enable the dropdown icon.
                    showDropDownIcon: true,
                    // set the placeholder to MultiSelect filter input element
                    filterBarPlaceholder: 'Search Module',
                    floatLabelType: 'Always',
                    placeholder: 'Module',
                    // set the MultiSelect popup height
                    popupHeight: '350px',
                    change: onModuleChange
                }, SelectedModulesElement);

                var SelectedSectionsElement = args.form.elements['SelectedSections'];
                var SelectedSectionsArray = [];
                if (args.rowData.SelectedSections != null) {
                    var _part = args.rowData.SelectedSections.split(',')
                    for (var i = 0; i <= (_part.length - 1); i++) {
                        SelectedSectionsArray.push(parseInt(_part[i]));
                    }
                }
                new ej.dropdowns.MultiSelect({
                    // set the country data to dataSource property
                    dataSource: _Section,
                    // map the appropriate columns to fields property
                    fields: { text: 'SectionDescription', value: 'SectionId', groupBy:'SectionHeader'},
                    // set the placeholder to MultiSelect input element
                    value: SelectedSectionsArray,
                    // set the type of mode for checkbox to visualized the checkbox added in li element.
                    mode: 'CheckBox',
                    // set true for enable the selectAll support.
                    showSelectAll: true,
                    // set true for enable the dropdown icon.
                    showDropDownIcon: true,
                    // set the placeholder to MultiSelect filter input element
                    filterBarPlaceholder: 'Search Section',
                    floatLabelType: 'Always',
                    placeholder: 'Sections',
                    // set the MultiSelect popup height
                    popupHeight: '350px'
                }, SelectedSectionsElement);


                document.getElementById("LockoutEnabled").checked = false;
                var Islockedout = args.rowData.LockoutEnabled;
                if (Islockedout == true) {
                    document.getElementById("LockoutEnabled").checked = true;
                }
            }
            else if (args.requestType == "save") {
                var grid = document.getElementById("Grid").ej2_instances[0];
                grid.refresh(); // refresh the Grid.
            }
        }
        function OnBeging(args) {
            if (args.requestType == 'save') {
                var assSelectedModules = document.getElementById("SelectedModules").ej2_instances[0];
                if (assSelectedModules.value != null) {
                    args.data["SelectedModules"] = assSelectedModules.value.join();
                }
                //Facility
                var assSelectedSections = document.getElementById("Facility").ej2_instances[0];
                if (assSelectedSections.value != null) {
                    args.data["Facility"] = assSelectedSections.value.join();
                }


                var assSelectedSections = document.getElementById("SelectedSections").ej2_instances[0];
                if (assSelectedSections.value != null) {
                    args.data["SelectedSections"] = assSelectedSections.value.join();
                }


                args.data["LockoutEnabled"] = $("#LockoutEnabled").is(":checked");
            }
        }
        function onModuleChange(args) {
            var assSelectedSections = document.getElementById("SelectedSections").ej2_instances[0];
            var selecetedList = args.value;
            var Xsection = _Section.filter(f => selecetedList.some(o => o == f.ModuleId));
            if (Xsection.length > 0) {
                assSelectedSections.dataSource = Xsection;
                assSelectedSections.enabled = true;
                assSelectedSections.value = null;
                assSelectedSections.dataBind();
                }
            else {
                assSelectedSections.dataSource = _Section;
                assSelectedSections.enabled = false;
                assSelectedSections.value = null;
                assSelectedSections.dataBind();
            }
        }
</script>

@*<script>
        function queryCellInfo(args) { // while rendering the grid employeeid column, need to concatenate the values if the values are in multiple.
            //debugger;
            let _FacilityData =@Html.Raw(Json.Serialize(ViewBag.Facility));

           // if (args.column.field == "Facility")
            if (args.columnName == "Facility" )
            {
                if (args.data.Facility != null && args.data.Facility!='')
                {
                    var sourceIds = args.data.Facility.split(',');
                    var roles = [];
                    // //console.log(JSON.stringify(sourceIds));
                    for (var i = 0 ; i < sourceIds.length ; i++) {
                        //Using the predicate you can filter using more that one search field
                        var detaildata = ej.DataManager(_FacilityData).executeLocal(ej.Query().where(ej.Predicate("FacilityCode", ej.FilterOperators.equal, sourceIds[i], false) ).take(10));

                        if(detaildata!= null)
                        {
                            ////console.log(JSON.stringify(detaildata));
                            roles.push(detaildata[0]["Facility"])
                        }
                    }
                    $(args.cell).text(roles.toString());
                }
            }

        }
    </script>*@


<script type="text/x-jsrender" id="CountryTemp">
    <label>FacilityNames(${Facility})</label>
</script>
<script>
    let _FacilityData =@Html.Raw(Json.Serialize(ViewBag.Facility));
    function FacilityNames(e) {
        var span = "";
        //span = document.createElement('span');
        if (e.Facility != null && e.Facility != "") {
            if (e.Facility.includes(',')) {
                var a = e.Facility.split(',');
                for (var x = 0; x <= (a.length - 1); x++) {

                    var y = _FacilityData.filter(o => o.FacilityCode == parseInt(a[x].trim()));
                    if (y.length > 0) {
                        span += y[0].Facility+",";
                    }
                    //if (a[x].trim() == "1") {
                    //    span += "Namirembe Hillside,";
                    //}
                    //if (a[x].trim() == "2") {
                    //    span += "KISWA Primary School,";
                    //}
                    //if (a[x].trim() == "3") {
                    //    span += "Makerere University,";
                    //}
                    //if (a[x].trim() == "4") {
                    //    span += "Mulago Hosp,";
                    //}
                    //if (a[x].trim() == "5") {
                    //    span += "Unifarm Arcade,";
                    //}
                    //if (a[x].trim() == "6") {
                    //    span += "Mukwano Arcade,";
                    //}
                    //if (a[x].trim() == "7") {
                    //    span += "Prism Arcade,";
                    //}


                }
            }
            else {
                var y = _FacilityData.filter(o => o.FacilityCode == parseInt(e.Facility.trim()));
                if (y.length > 0) {
                    span = y[0].Facility;
                }
                //if (e.Facility.trim() == "1") {
                //    span = "Namirembe Hillside";
                //}
                //if (e.Facility.trim() == "2") {
                //    span = "KISWA Primary School";
                //}
                //if (e.Facility.trim() == "3") {
                //    span = "Makerere University";
                //}
                //if (e.Facility.trim() == "4") {
                //    span = "Mulago Hosp";
                //}
                //if (e.Facility.trim() == "5") {
                //    span = "Unifarm Arcade";
                //}
                //if (e.Facility.trim() == "6") {
                //    span = "Mukwano Arcade";
                //}
                //if (e.Facility.trim() == "7") {
                //    span = "Prism Arcade";
                //}
            }
        }
        return span;
    }
</script>
<script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>