﻿
@model CHMIS.Models.CoreComplianceVisit
@using Syncfusion.EJ2
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor accessor;
@inject CHMISContext Context;
@using CHMIS.BLL;
@inject IUserService userInfor;

@*<div style="width:1600px"></div>*@
<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div>
        <div class="panel-heading">
            <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                1. Personal Information Details
            </h5>
        </div>
        <hr />
        <div class="panel-body">
            <div hidden="hidden">
                <ejs-textbox id="ComplianceCode" ejs-for="ComplianceCode" cssClass="e-filled" placeholder="ComplianceCode" floatLabelType="Auto" name="ComplianceCode" disabled type="text" value="@Model.ComplianceCode"></ejs-textbox>
            </div>

            <div class="row material2">
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <ejs-dropdownlist id="FacilityCode" value="@Model.FacilityCode" cssClass="e-outline" dataSource="@ViewBag.Facility" placeholder="Facility" allowFiltering="true" filterBarPlaceholder="Search Facility list" floatLabelType="Auto" popupHeight="300px">
                        <e-dropdownlist-fields text="Facility" value="FacilityCode"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <ejs-datetimepicker id="DateOfVisit" value="@Model.DateOfVisit" cssClass="e-outline" ejs-for="DateOfVisit" max="DateTime.Now" name="DateOfVisit" format="yyyy-MM-dd" placeholder="Date of Visit/Monitoring" floatLabelType="Auto"></ejs-datetimepicker>
                </div>
            </div>
            <hr />

            <div class="row material2">

                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">

                    <h6>Temperature Guns Available ?*</h6>
                    <ejs-radiobutton id="Yess" label="Yes" value="1" ejs-for="TemperatureGuns"></ejs-radiobutton>
                    <br />
                    <br />
                    <ejs-radiobutton id="Noo" label="No" value="2" ejs-for="TemperatureGuns"></ejs-radiobutton>
                    <br />
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <h6>Hand Washers Available ?*</h6>
                    <ejs-radiobutton id="YesHandWashers" label="Yes" value="1" ejs-for="HandWashers"></ejs-radiobutton>
                    <br />
                    <br />
                    <ejs-radiobutton id="NoHandWashers" label="No" value="2" ejs-for="HandWashers"></ejs-radiobutton>
                    <br />

                </div>

            </div>

            <hr />
            <div class="row material2">

                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">

                    <h6>Social Distancing Enforced?*</h6>
                    <ejs-radiobutton id="YessSocialDistancing" label="Yes" value="1" ejs-for="SocialDistancing"></ejs-radiobutton>
                    <br />
                    <br />
                    <ejs-radiobutton id="NooSocialDistancing" label="No" value="2" ejs-for="SocialDistancing"></ejs-radiobutton>
                    <br />
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <h6>Record Keeping ?*</h6>
                    <ejs-radiobutton id="YesRecordKeeping" label="Yes" value="1" ejs-for="RecordKeeping"></ejs-radiobutton>
                    <br />
                    <br />
                    <ejs-radiobutton id="NoRecordKeeping" label="No" value="2" ejs-for="RecordKeeping"></ejs-radiobutton>
                    <br />

                </div>

            </div>

            <hr />
            <div class="row material2">

                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">

                    <h6>Air-Conditioning?*</h6>
                    <ejs-radiobutton id="YessAirConditioning" label="Yes" value="1" ejs-for="AirConditioning"></ejs-radiobutton>
                    <br />
                    <br />
                    <ejs-radiobutton id="NooAirConditioning" label="No" value="2" ejs-for="AirConditioning"></ejs-radiobutton>
                    <br />
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <h6>Reqired Mask Wearing enforced?*</h6>
                    <ejs-radiobutton id="YesMaskWearing" label="Yes" value="1" ejs-for="MaskWearing"></ejs-radiobutton>
                    <br />
                    <br />
                    <ejs-radiobutton id="NoMaskWearing" label="No" value="2" ejs-for="MaskWearing"></ejs-radiobutton>
                    <br />

                </div>

            </div>

            <hr />
            <div class="row material2">
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <h6>Enough Wash Rooms/Toilets available ?*</h6>
                    <ejs-radiobutton id="YesWashRooms" label="Yes" value="1" ejs-for="WashRooms"></ejs-radiobutton>
                    <br />
                    <br />
                    <ejs-radiobutton id="NoWashRooms" label="No" value="2" ejs-for="WashRooms"></ejs-radiobutton>
                    <br />

                </div>

                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <ejs-dropdownlist id="SuperviorCode" value="@Model.SuperviorCode" cssClass="e-outline" dataSource="@ViewBag.employee"  placeholder="Supervisor / Monitoring Officer*" enabled="false" allowFiltering="true" filterBarPlaceholder="Search list" floatLabelType="Auto" popupHeight="300px">
                        <e-dropdownlist-fields text="Name" value="EmployeeId"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                </div>
            </div>
            <hr />

            <div class="row material2">
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <ejs-textbox id="Remarks" multiline="true" ejs-for="Remarks" cssClass="e-outline" placeholder="Remarks/Notes" floatLabelType="Auto" name="Remarks" type="text" value="@Model.Remarks"></ejs-textbox>
                </div>

                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <ejs-textbox id="GeneralComments" multiline="true" ejs-for="GeneralComments" cssClass="e-outline" placeholder="General-Comments" floatLabelType="Auto" name="GeneralComments" type="text" value="@Model.GeneralComments"></ejs-textbox>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>


<ejs-scripts></ejs-scripts>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>

