﻿
@{
    ViewData["Title"] = "Compliance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active">Community Compliance</li>
</ol>
<ejs-grid id="Grid"
          allowPaging="true" allowResizing="true" allowTextWrap="true" gridLines="Both"
          allowSorting="true" allowReordering="true" allowGrouping="true" showColumnChooser="true"
          toolbar="@(new List<string>() { "Search", "Add", "Edit", "Delete","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport","ColumnChooser"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBeging">
    <e-data-manager url="/Compliance/DataSourceCompliance" insertUrl="/Compliance/DialogueComplianceInsert" updateUrl="/Compliance/DialogueComplianceUpdate" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-pagesettings pageSize="7" />
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column type="checkbox" width="50"></e-grid-column>
        <e-grid-column field="FacilityCode" headerText="Name" visible="true" isPrimaryKey="true" isIdentity="true" foreignKeyField="FacilityCode" foreignKeyValue="Facility" dataSource=@ViewBag.Facility></e-grid-column>
        <e-grid-column field="DateOfVisit" headerText="Date Of Visit" format='yMd' isPrimaryKey="true" isIdentity="true"></e-grid-column>
        <e-grid-column field="TemperatureGuns" headerText="Temperature Guns" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="HandWashers" headerText="Hand Washers" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="SocialDistancing" headerText="Social Distancing" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="RecordKeeping" headerText="Record Keeping" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="AirConditioning" headerText="Air Conditioning" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="MaskWearing" headerText="Mask Wearing ?" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="WashRooms" headerText="Enough Wash-Rooms/Toilets" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="Remarks" headerText="Remarks"></e-grid-column>
        <e-grid-column field="SuperviorCode" headerText="Supervised By" foreignKeyField="EmployeeId" foreignKeyValue="Name" dataSource=@ViewBag.employee></e-grid-column>

    </e-grid-columns>
</ejs-grid>

<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="FacilityCode" id="FacilityCode" type="text" />
            </div>
            <div class="form-group col-md-6">
                <input name="DateOfVisit" id="DateOfVisit" type="text" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="TemperatureGuns" id="TemperatureGuns" type="text" />
            </div>
            <div class="form-group col-md-6">
                <input name="HandWashers" id="HandWashers" type="text" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="RecordKeeping" id="RecordKeeping" type="text" />
            </div>
            <div class="form-group col-md-6">
                <input name="AirConditioning" id="AirConditioning" type="text" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="MaskWearing" id="MaskWearing" type="text" />
            </div>
            <div class="form-group col-md-6">
                <input name="WashRooms" id="WashRooms" type="text" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input name="SocialDistancing" id="SocialDistancing" type="text" />
            </div>
            <div class="form-group col-md-6">
                <input name="SuperviorCode" id="SuperviorCode" type="text" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <textarea name="Remarks" id="Remarks" type="text" value="${if(Remarks == null || Remarks == undefined)}  ${else} ${Remarks} ${/if}">${if(Remarks == null || Remarks == undefined)}  ${else} ${Remarks} ${/if}</textarea>
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="Remarks">Compliance Officer's Remarks</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="e-float-input e-control-wrapper">
                    <textarea name="GeneralComments" id="GeneralComments" type="text" value="${if(GeneralComments == null || GeneralComments == undefined)}  ${else} ${GeneralComments} ${/if}">${if(GeneralComments == null || GeneralComments == undefined)}  ${else} ${GeneralComments} ${/if}</textarea>
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="GeneralComments">General Comments</label>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
        let _Facility =@Html.Raw(Json.Serialize(ViewBag.Facility));
        let _yesNo =@Html.Raw(Json.Serialize(ViewBag.yesNo));
        let _employee=@Html.Raw(Json.Serialize(ViewBag.employee));
        function toolbarClick(args) {
        if (args.item.id == this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id == this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id == this.element.id + '_excelexport') {
            this.excelExport();
        }
        }

        function onEdit(args) {
            if (args.requestType == 'beginEdit' || args.requestType == 'add') {
                window.requestType = args.requestType;
                var data = args.rowData;
                console.log(data);
                new ej.dropdowns.DropDownList({
                    value: data.TemperatureGuns, dataSource: _yesNo, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'YesNo', value: 'Id' }, placeholder: 'Temperature Head Guns Available ?*'
                },
                    args.form.elements.namedItem('TemperatureGuns'));
                new ej.dropdowns.DropDownList({
                    value: data.HandWashers, dataSource: _yesNo, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'YesNo', value: 'Id' }, placeholder: 'Hand Washers Available ?*'
                },
                    args.form.elements.namedItem('HandWashers'));
                new ej.dropdowns.DropDownList({
                    value: data.SocialDistancing, dataSource: _yesNo, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'YesNo', value: 'Id' }, placeholder: 'Social Distancing Limit Acceptable ?*'
                },
                    args.form.elements.namedItem('SocialDistancing'));

                new ej.calendars.DatePicker({ value: new Date(args.rowData.DateOfVisit) || new Date(), floatLabelType: 'Always', placeholder: 'Date Of Visit' }, args.form.elements.namedItem('DateOfVisit'));
                new ej.dropdowns.DropDownList({
                    value: data.SuperviorCode, dataSource: _employee, floatLabelType: 'Always',allowFiltering:true,
                    popupHeight: '300px', fields: { text: 'Name', value: 'EmployeeId' }, placeholder: 'Supervised By'
                },
                    args.form.elements.namedItem('SuperviorCode'));
                new ej.dropdowns.DropDownList({
                    value: data.FacilityCode, dataSource: _Facility, floatLabelType: 'Always', allowFiltering: true,
                    popupHeight: '300px', fields: { text: 'Facility', value: 'FacilityCode' }, placeholder: 'Facility Name *'
                },
                    args.form.elements.namedItem('FacilityCode'));

                new ej.dropdowns.DropDownList({
                    value: data.WashRooms, dataSource: _yesNo, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'YesNo', value: 'Id' }, placeholder: 'Is there enough Wash-Rooms/Toilets ?*'
                },
                    args.form.elements.namedItem('WashRooms'));
                new ej.dropdowns.DropDownList({
                    value: data.MaskWearing, dataSource: _yesNo, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'YesNo', value: 'Id' }, placeholder: 'Mask Wearing ?*'
                },
                    args.form.elements.namedItem('MaskWearing'));
                new ej.dropdowns.DropDownList({
                    value: data.AirConditioning, dataSource: _yesNo, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'YesNo', value: 'Id' }, placeholder: 'Air-Conditioning in the building ?*'
                },
                    args.form.elements.namedItem('AirConditioning'));
                new ej.dropdowns.DropDownList({
                    value: data.RecordKeeping, dataSource: _yesNo, floatLabelType: 'Always',
                    popupHeight: '300px', fields: { text: 'YesNo', value: 'Id' }, placeholder: 'Book Record-Keeping Observed ?*'
                },
                    args.form.elements.namedItem('RecordKeeping'));
            }
        }
        function OnBeging(args) {

        }
</script>
<script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>
