﻿
@{
    ViewData["Title"] = "Compliance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;"> <stong> Community Compliance - The Community-Compliance . </stong></li>
</ol>
@*<partial name="MessagePartial" />*@
<ejs-grid id="Grid"
          allowPaging="true" allowResizing="true" allowTextWrap="true" gridLines="Both"
          allowSorting="true" allowReordering="true" allowGrouping="true" showColumnChooser="true"
          toolbar="@(new List<string>() { "Search", "Add", "Edit", "Delete","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport","ColumnChooser"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBeging" load="onLoad">
    <e-grid-groupSettings showDropArea="true" columns="@(new string[] { "FacilityCode"})"></e-grid-groupSettings>
    <e-grid-searchSettings fields="@(new string[] {"FacilityCode","DateOfVisit","SuperviorCode"})" operator="contains" ignoreCase="true"></e-grid-searchSettings>

    <e-data-manager url="/Compliance/DataSourceCompliance" insertUrl="/Compliance/DialogueComplianceInsert" updateUrl="/Compliance/DialogueComplianceUpdate" removeUrl="/Compliance/DeleteUrl" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4" />
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column type="checkbox" width="50"></e-grid-column>
        <e-grid-column field="ComplianceCode" visible="false" headerText="Code" isPrimaryKey="true" isIdentity="true"></e-grid-column>
        <e-grid-column field="FacilityCode" headerText="Facility" visible="true" isPrimaryKey="false" foreignKeyField="FacilityCode" foreignKeyValue="Facility" dataSource=@ViewBag.Facility></e-grid-column>
        <e-grid-column field="DateOfVisit" headerText="Date Of Visit" format='yMd' isPrimaryKey="false"></e-grid-column>
        <e-grid-column field="TemperatureGuns" headerText="Temperature Guns" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="HandWashers" headerText="Hand Washers" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="SocialDistancing" headerText="Social Distancing" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="RecordKeeping" headerText="Record Keeping" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="AirConditioning" headerText="Air Conditioning" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="MaskWearing" headerText="Mask Wearing ?" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="WashRooms" headerText="Enough Wash-Rooms/Toilets" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource=@ViewBag.yesNo></e-grid-column>
        <e-grid-column field="Remarks" headerText="Remarks"></e-grid-column>
        <e-grid-column field="SuperviorCode" headerText="Supervised By" foreignKeyField="EmployeeId" foreignKeyValue="Name" dataSource=@ViewBag.employee></e-grid-column>

    </e-grid-columns>
</ejs-grid>

<script>
    function onLoad(args) {
        setToolbarItems();
    }
    function toolbarClick(args) {
        if (args.item.id == this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id == this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id == this.element.id + '_excelexport') {
            this.excelExport();
        }
    }
     function onEdit(args) {
            if (args.requestType == 'beginEdit' || args.requestType == 'add') {
                window.requestType = args.requestType;
                let spinner = ej.popups.createSpinner({ target: args.dialog.element });
               // ej.popups.showSpinner(args.dialog.element);

                //#####
                var data = args.rowData;

                window.args = args.requestType;

                // For custom save button
                args.dialog.btnObj[0].destroy();
                args.dialog.btnObj[0].element.id = "save";

                var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Save',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-success',
                }); progressSaveButton.appendTo('#save');

                // For custom cancel button
                args.dialog.btnObj[1].destroy();
                args.dialog.btnObj[1].element.id = "cancel";

                var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Cancel',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-danger',

                });
                progressCancelButton.appendTo('#cancel');

                // saving the edit action
                document.getElementById('save').addEventListener('click', function (args) {
                    //onclick = savess();
                }.bind(this));

                // Cancelling the edit action
                document.getElementById('cancel').addEventListener('click', function (args) {
                    //onclick = cancelss();

                }.bind(this));

             //#####

                if (args.requestType == 'beginEdit') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "Compliance")", //render the partial view
                        type: "POST",

                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        //debugger;
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('FacilityCode').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
                if (args.requestType == 'add') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "Compliance")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('FacilityCode').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
        }
        else if(args.requestType=="save") {
             var grid = document.getElementById("Grid").ej2_instances[0];
              grid.refresh(); // refresh the Grid.
         }
    }
    function appendElement(elementString, form) {
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
    }

    function OnBeging(args) {

        var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0]
        if (args.requestType == 'delete') {
            //debugger
            grid.dataSource.dataSource.headers = [];
            grid.dataSource.dataSource.headers.push({ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val(), "additional_key": args.data[0].ComplianceCode });
        }

        if (args.requestType == "delete") {
            var deleteMessage = "Please confirm you would wish to delete this record for " + args.data[0].ComplianceCode
            if (confirm(deleteMessage)) {
                //if yes ,record will delete
            }
            else
                args.cancel = true // if no the record wont delete
        }

         if (args.requestType == "cancel") {

                if (window.requestType == 'add') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveRecord", "Compliance")',
                        data: {
                            "ComplianceCode": $("#ComplianceCode").val()
                        }
                        })
                            .done(function (response) {
                            })
                            .fail(function (a, b, c) {
                            alert("fail");
                        });
                    }
        }

        if (args.requestType == 'save') {

            var FacilityCode = document.getElementById("FacilityCode").ej2_instances[0].value;
            var DateOfVisit = document.getElementById("DateOfVisit").ej2_instances[0].value;

            var TemperatureGunsCheck = $("form input[name='TemperatureGuns']:checked").val();  //JQuery
            args.data["TemperatureGuns"] = TemperatureGunsCheck;
            //alert("TemperatureGuns is: " + TemperatureGunsCheck)

            var HandWashersCheck = $("form input[name='HandWashers']:checked").val();  //JQuery
            args.data["HandWashers"] = HandWashersCheck;
             //alert("HandWashers is: " + HandWashersCheck)

            var SocialDistancingCheck = $("form input[name='SocialDistancing']:checked").val();  //JQuery
            args.data["SocialDistancing"] = SocialDistancingCheck;
             //alert("SocialDistancing is: " + SocialDistancingCheck)

            var RecordKeepingCheck = $("form input[name='RecordKeeping']:checked").val();  //JQuery
            args.data["RecordKeeping"] = RecordKeepingCheck;
            //alert("RecordKeeping is: " + RecordKeepingCheck)

            var AirConditioningCheck = $("form input[name='AirConditioning']:checked").val();  //JQuery
            args.data["AirConditioning"] = AirConditioningCheck;
            //alert("AirConditioning is: " + AirConditioningCheck)

            var MaskWearingCheck = $("form input[name='MaskWearing']:checked").val();  //JQuery
            args.data["MaskWearing"] = MaskWearingCheck;
            //alert("MaskWearing is: " + MaskWearingCheck)

            var WashRoomsCheck = $("form input[name='WashRooms']:checked").val();  //JQuery
            args.data["WashRooms"] = WashRoomsCheck;
            //alert("WashRooms is: " + WashRoomsCheck)

             if (FacilityCode == null || FacilityCode == "0" || FacilityCode == "" || FacilityCode == "undefined") {
                alert("Facility is required, Please provide the Facility");
                args.cancel = true;
            }

             else if (DateOfVisit == null || DateOfVisit == "0" || DateOfVisit == "" || DateOfVisit == "undefined") {
                alert("Date Of Visit is required, Please provide the Date Of Visit");
                args.cancel = true;
            }


             else if (TemperatureGunsCheck == null || TemperatureGunsCheck == "0" || TemperatureGunsCheck == "" || TemperatureGunsCheck == "undefined") {
                alert("Temperature gun is required, Please provide the Temperature gun");
                args.cancel = true;
            }

             else if  (HandWashersCheck == null || HandWashersCheck == "0" || HandWashersCheck == "" || HandWashersCheck == "undefined") {
                alert("Hand Washers response is required, Please provide the Hand Washers response");
                args.cancel = true;
            }

             else if (SuperviorCode == null || SuperviorCode == "0" || SuperviorCode == "" || SuperviorCode == "undefined") {
                alert("Supervisor is required, Please provide the Supervior");
                args.cancel = true;
            }

             else  if (SocialDistancingCheck == null || SocialDistancingCheck == "0" || SocialDistancingCheck == "" || SocialDistancingCheck == "undefined") {
                alert("Social Distancing response is required, Please provide the Social-Distancing response");
                args.cancel = true;
            }

             else   if (RecordKeepingCheck == null || RecordKeepingCheck == "0" || RecordKeepingCheck == "" || RecordKeepingCheck == "undefined") {
                alert("Record Keeping response is required, Please provide the Record Keeping response");
                args.cancel = true;
            }

             else  if (MaskWearingCheck == null || MaskWearingCheck == "0" || MaskWearingCheck == "" || MaskWearingCheck == "undefined") {
                alert("Mask Wearing response is required, Please provide the Mask Wearing response?");
                args.cancel = true;
            }

             else  if (WashRoomsCheck == null || WashRoomsCheck == "0" || WashRoomsCheck == "" || WashRoomsCheck == "undefined") {
                alert("Wash Rooms response is required, Please provide the Wash Rooms response ");
                args.cancel = true;
            }
        }
    }
</script>

<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>
<style>
    .control-section {
        padding-left: 10px;
    }

    #target {
        height: 100%;
        min-height: 350px;
    }

    span.close-icon {
        width: 24px;
        height: 24px;
        position: relative;
        display: inline-block;
    }

    span.error-msg {
        color: #66afe9;
        display: inline-block;
        position: relative;
    }

    .error-detail.col-lg-8 {
        position: relative;
        left: 45px;
        margin: 20px 0px 21px;
    }

    .e-icons.close-icon.col-lg-2:before {
        content: '\e7e9';
        font-size: 26px;
        color: #d9534f;
        position: relative;
        left: -12px;
    }

    .e-dialog .e-footer-content {
        background-color: #f8f8f8;
    }

    .e-dialog.e-control.e-popup, .e-dialog.e-control.e-popup .e-dlg-header-content {
        background-color: #d9edf7;
    }

    .e-dialog.e-control.e-popup {
        padding: 3px;
    }

    .e-dialog.e-control .e-dlg-header-content {
        padding: 10px;
    }

    .e-dialog.e-control .e-footer-content {
        padding: 8px 12px;
    }

    .e-dialog.e-control .e-dlg-content {
        padding: 15px 0px 0px;
    }
</style>
<script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>