﻿
@{
    ViewData["Title"] = "Uplaod Cases";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = @Url.Content("~/UploadCases/SaveCases"), RemoveUrl = @Url.Content("~/UploadCases/RemoveCases") };
}
<ol class="breadcrumb" style="margin-top:30px;">
    <li class="breadcrumb-item active">Upload-Cases from Go</li>
    @*<li class="breadcrumb-item active">Cases</li>*@
</ol>

<div class="form-row">
    <div class="form-group col-md-3"></div>
    <div class="form-group col-md-6">
        <h4>Please Select Cases - File To Upload</h4>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3"></div>
    <div class="form-group col-md-6">
        <div class="col-lg-12 control-section">
            <div class="control_wrapper">
                <ejs-uploader id="UploadFiles" removing="onFileRemove" dropArea=".control-fluid" asyncSettings="@asyncSettings" autoUpload="false">
                </ejs-uploader>
            </div>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3"></div>
    <div class="form-group col-md-6">
        <button onclick="UploadFileClick()" title="Upload the Case File From Go System, Please use the Standard Excel template!" style="float:left" class="btn btn-danger">Upload Cases File</button>
    </div>
</div>


<style>
    .e-upload-actions {
        visibility: hidden;
    }

    .control_wrapper {
        max-width: 99%;
        margin: auto;
    }

    .e-upload {
        width: 100%;
        position: relative;
        margin-top: 15px;
    }

    .control_wrapper .e-upload .e-upload-drag-hover {
        margin: 0;
    }
</style>

<script>
        function onFileRemove(args) {
            args.postRawFile = false;
        }
        function UploadFileClick() {
            var Uploader = document.getElementById("UploadFiles").ej2_instances[0];
            Uploader.upload();
        }
</script>
