﻿
@model CHMIS.Models.CoreCommunitySurveillance
@using Syncfusion.EJ2
@using Newtonsoft.Json

@*<div style="width:1600px"></div>*@
<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">
    <div class="panel-group" id="accordion">
        <div hidden="hidden">
            <ejs-textbox id="CaseNo" ejs-for="CaseNo" cssClass="e-filled" placeholder="Case No." floatLabelType="Auto" name="CaseNo" disabled type="text" value="@Model.CaseNo.ToString()"></ejs-textbox>
        </div>
        <div class="panel panel-default" id="complaintAddress">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse1">
                        1. Address Details
                    </a>
                </h5>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="FacilityUnit" cssClass="e-outline" value="@Model.FacilityUnit" dataSource="@ViewBag.Facility" allowFiltering="true" filterBarPlaceholder="Search Facilities" change="ValFacilityDetails" placeholder="Choose Facility /Community Unit (If Applicable)" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Facility" value="FacilityCode"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="Address" ejs-for="Address" value="@Model.Address" cssClass="e-outline" dataSource="@ViewBag.Address" placeholder="Address" filterBarPlaceholder="Search Address" allowFiltering="true" floatLabelType="Always" popupHeight="300px">
                                <e-dropdownlist-fields text="VillageName" value="VillageId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Longitude" ejs-for="Longitude" cssClass="e-outline" placeholder="Longitude" floatLabelType="Always" name="Longitude" type="number" step="any" value="@Model.Longitude"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Latitude" ejs-for="Latitude" cssClass="e-outline" placeholder="Latitude" floatLabelType="Always" name="Latitude" type="number" step="any" value="@Model.Latitude"></ejs-textbox>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        2. Personal Information Details
                    </a>
                </h5>
            </div>

            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="FirstName" ejs-for="FirstName" cssClass="e-outline" placeholder="First-Name" floatLabelType="Auto" name="FirstName" type="text" value="@Model.FirstName"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="MiddleName" ejs-for="MiddleName" cssClass="e-outline" placeholder="Middle-Name" floatLabelType="Auto" name="MiddleName" type="text" value="@Model.MiddleName"></ejs-textbox>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="LastName" ejs-for="LastName" cssClass="e-outline" placeholder="Last-Name" floatLabelType="Auto" name="LastName" type="text" value="@Model.LastName"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Age" ejs-for="Age" cssClass="e-outline" placeholder="Age" floatLabelType="Auto" name="Age" type="number" step="any" value="@Model.Age"></ejs-textbox>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="DateOfReporting" value="@Model.DateOfReporting" max="DateTime.Now" cssClass="e-outline" ejs-for="DateOfReporting" name="DateOfReporting" format="yyyy-MM-dd hh:mm" placeholder="Date of Reporting" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="Sex" value="@Model.Sex" cssClass="e-outline" dataSource="@ViewBag.Sex" placeholder="Gender" filterBarPlaceholder="Search Gender" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>

                    </div>
                    <hr />

                    <div class="row material2">

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-maskedtextbox id="Tel" mask="000-000-0000" ejs-for="Tel" cssClass="e-outline" placeholder="Telephone No." floatLabelType="Auto" value="@Model.Tel"></ejs-maskedtextbox>
                            @*<ejs-textbox id="Tel" ejs-for="Tel" cssClass="e-outline" placeholder="Telephone No." floatLabelType="Auto" name="Tel" type="number" step="any" value="@Model.Tel"></ejs-textbox>*@
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="WasContact" cssClass="e-outline" value="@Model.WasContact" dataSource="@ViewBag.YesNo" floatLabelType="Auto" placeholder="Was contact ?" allowFiltering="true" filterBarPlaceholder="Search Was Contact?" popupHeight="300px">
                                <e-dropdownlist-fields text="YesNo" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="Email" ejs-for="Email" cssClass="e-outline" placeholder="Email" floatLabelType="Auto" name="Email" type="email" value="@Model.Email"></ejs-textbox>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="complaintEpidemiology">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapseEpidemiology">
                        3. Epidemiology Details
                    </a>
                </h5>
            </div>
            <div id="collapseEpidemiology" class="panel-collapse collapse in">
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-datetimepicker id="LabTestDate" value="@Model.LabTestDate" cssClass="e-outline" ejs-for="LabTestDate" max="DateTime.Now" name="LabTestDate" format="yyyy-MM-dd hh:mm" placeholder="Lab Test Date" floatLabelType="Auto"></ejs-datetimepicker>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="LabResults" value="@Model.LabResults" cssClass="e-outline" dataSource="@ViewBag.LabResults" allowFiltering="true" filterBarPlaceholder="Search Lab results" placeholder="Lab Results" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="complaintSymptoms">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapseSymptoms">
                        4. Symptoms Details / Supervior Details
                    </a>
                </h5>
            </div>
            <div id="collapseSymptoms" class="panel-collapse collapse in">

                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-multiselect id="Symptoms" dataSource="@ViewBag.Symptoms" mode="CheckBox" floatLabelType="Auto" allowFiltering="true" placeholder="Choose one or more Symptom(s)"
                                             showSelectAll="true" showDropDownIcon="true" cssClass="e-outline"
                                             value="@ViewBag.SymptomsValue"
                                             filterBarPlaceholder="Search Symptom(s)" popupHeight="350px">
                                <e-multiselect-fields text="Symptoms" value="Id"></e-multiselect-fields>
                            </ejs-multiselect>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="SymptomsOthers" ejs-for="SymptomsOthers" cssClass="e-outline" placeholder="Symptoms (Specify if not in list)" floatLabelType="Auto" name="SymptomsOthers" type="text" value="@Model.SymptomsOthers"></ejs-textbox>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">
                        @*<div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="AssignFollowUpContactPerson" value="@Model.AssignFollowUpContactPerson" cssClass="e-outline" dataSource="@ViewBag.Employee" allowFiltering="true" filterBarPlaceholder="Search the Follow-Up list" placeholder="Assign Follow Up Contact Person" floatLabelType="Auto" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="EmployeeId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>*@
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="NextAction" multiline="true" ejs-for="NextAction" cssClass="e-outline" placeholder="Next-Action to be taken" floatLabelType="Auto" name="NextAction" type="text" value="@Model.NextAction"></ejs-textbox>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="GeneralComments" multiline="true" ejs-for="GeneralComments" cssClass="e-outline" placeholder="General Comments" floatLabelType="Auto" name="GeneralComments" type="text" value="@Model.GeneralComments"></ejs-textbox>
                        </div>
                    </div>
                    <hr />
                   
                </div>
            </div>
        </div>

    </div>
</div>
    <ejs-scripts></ejs-scripts>
    <script>
        function onFileRemove(args) {
            args.postRawFile = false;
        }
        //var dropElement = document.getElementsByClassName('control-fluid')[0];
    </script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <style>
        .dialogClass {
            color: white;
        }
    </style>
    <style>
        .panel-default > .panel-heading {
            background-color: #56ad61;
            color: white;
        }
    </style>

    <script type="text/javascript">
        function onfiltering(e) {
            var query = new ej.data.Query();
            query = (e.text !== '') ? query.where('VillageName', 'startswith', e.text, true) : query;
            e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Address)), query);
        }
    </script>
