﻿
@{
    ViewData["Title"] = "Community-Surveillance";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*<partial name="MessagePartial" />*@
<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="width:100%; background-color: black; color:white; font-family:Cambria; padding:5px; font:bolder"> <stong> Community Surveillance - The Community-Surveillance . </stong></li>
</ol>
@*<ejs-button id="addContacts" cssClass="e-danger" iconCss="e-btn-sb-icon e-stop-icon" content="Add Contacts"></ejs-button>*@
@*commandClick="onCommandClick"*@
<ejs-grid id="Grid"
          allowPaging="true" allowResizing="true" allowTextWrap="true" showColumnChooser="true" gridLines="Both"
          allowSorting="true" allowRowDragAndDrop="true" allowReordering="true" allowGrouping="true"
          toolbar="@(new List<string>() { "Search", "Add", "Edit", "Delete","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport","ColumnChooser"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBeging" load="onLoad">
    <e-grid-groupSettings showDropArea="true" columns="@(new string[] { "FacilityUnit"})"></e-grid-groupSettings>
    <e-grid-searchSettings fields="@(new string[] {"FacilityUnit","FirstName", "LastName" , "Address", "AssignFollowUpContactPerson" , "Symptoms"})" operator="contains" ignoreCase="true"></e-grid-searchSettings>

    <e-data-manager url="/CommunitySurveillance/GetCommunitySurveillance" insertUrl="/CommunitySurveillance/DialogInsert" updateUrl="/CommunitySurveillance/DialogUpdate" removeUrl="/CommunitySurveillance/DeleteUrl" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4" />
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column type="checkbox" width="50"></e-grid-column>
        @*<e-grid-column headerText="Options" width="130" commands="commands"></e-grid-column>*@
        <e-grid-column field="CaseNo" visible="false" headerText="Case No." isPrimaryKey="true" isIdentity="true"></e-grid-column>
        <e-grid-column field="FirstName"  template="#persontemplate" headerText="First-Name"></e-grid-column>
        <e-grid-column field="LastName" headerText="Last-Name"></e-grid-column>
        <e-grid-column field="FacilityUnit" headerText="Facility" foreignKeyField="FacilityCode" foreignKeyValue="Facility" dataSource="@ViewBag.Facility"></e-grid-column>
        <e-grid-column field="Address" headerText="Address" foreignKeyField="VillageId" foreignKeyValue="VillageName" dataSource="@ViewBag.Village"></e-grid-column>
        <e-grid-column field="AssignFollowUpContactPerson" headerText="Surveillance Officer" foreignKeyField="EmployeeId" foreignKeyValue="Name" dataSource="@ViewBag.Employee"></e-grid-column>
        @*<e-grid-column field="WasContact" headerText="Was Contact?" visible="false" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource="@ViewBag.YesNo"></e-grid-column>*@
        <e-grid-column field="DateOfReporting" headerText="Date of Reporting" visible="false" format='yMd'></e-grid-column>
        <e-grid-column field="Longitude" visible="false" headerText="Longitude" template="#coltemplate"></e-grid-column>
        <e-grid-column field="Latitude" visible="false" headerText="Latitude" template="#coltemplate"></e-grid-column>
        @*<e-grid-column field="RiskLevel" headerText="Risk Level" visible="false" foreignKeyField="Id" foreignKeyValue="Name" dataSource="@ViewBag.Risk"></e-grid-column>*@
        <e-grid-column field="LabTestDate" headerText="LabTest Date" format='yMd'></e-grid-column>
        <e-grid-column field="LabResults" headerText="Lab Results" foreignKeyField="Id" foreignKeyValue="Name" dataSource="@ViewBag.LabResults"></e-grid-column>
        @*<e-grid-column field="CaseDate" headerText="Date of becoming Case" visible="false" format='yMd'></e-grid-column>
            <e-grid-column field="DateOfInfection" headerText="Date of Infection" visible="false" format='yMd'></e-grid-column>
            <e-grid-column field="DateOnset" headerText="Date of Onset" visible="false" format='yMd'></e-grid-column>*@
        <e-grid-column field="Symptoms" headerText="Symptoms" template="${SymptomsNames(data)}" filter="@(new { type="CheckBox", itemTemplate="${SymptomsNames(data)}"})"></e-grid-column>
        <e-grid-column field="DateAdded" visible="false" headerText="Date Added" format='yMd'></e-grid-column>
        <e-grid-column field="AddedBy" visible="false" headerText="Added-By"></e-grid-column>
        <e-grid-column field="DateEdited" visible="false" headerText="Date Edited" format='yMd'></e-grid-column>
        <e-grid-column field="EditedBy" visible="false" headerText="Edited-By"></e-grid-column>


    </e-grid-columns>
</ejs-grid>

<script type="text/x-jsrender" id="CountryTemp">
    <label>SymptomsNames(${Symptoms})</label>
</script>
<script>
    function onLoad(args) {
        setToolbarItems();
    }
    function SymptomsNames(e) {
        var span = "";
        //span = document.createElement('span');
        if (e.Symptoms != null && e.Symptoms != "") {
            if (e.Symptoms.includes(',')) {
                var a = e.Symptoms.split(',');
                for (var x = 0; x <= (a.length - 1); x++) {
                    if (a[x].trim() == "1") {
                        span += "Running Nose,";
                    }
                    if (a[x].trim() == "2") {
                        span += "Sore Throat,";
                    }
                    if (a[x].trim() == "3") {
                        span += "Cough,";
                    }
                    if (a[x].trim() == "4") {
                        span += "Fever,";
                    }
                    if (a[x].trim() == "5") {
                        span += "Difficulty in Breathing,";
                    }

                }
            }
            else {
                if (e.Symptoms.trim() == "1") {
                    span = "Running Nose";
                }
                if (e.Symptoms.trim() == "2") {
                    span = "Sore Throat";
                }
                if (e.Symptoms.trim() == "3") {
                    span = "Cough";
                }
                if (e.Symptoms.trim() == "4") {
                    span = "Fever";
                }
                if (e.Symptoms.trim() == "5") {
                    span = "Difficulty in Breathing";
                }

            }
        }
        //div.appendChild(span);
        return span;
    }
</script>
<script>
    function toolbarClick(args) {
        if (args.item.id == this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id == this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id == this.element.id + '_excelexport') {
            this.excelExport();
        }
    }

    function OnBeging(args) {

        var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0]
        if (args.requestType == 'delete') {
            //debugger
            grid.dataSource.dataSource.headers = [];
            grid.dataSource.dataSource.headers.push({ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val(), "additional_key": args.data[0].CaseNo });
        }

        if (args.requestType == "delete") {
            var deleteMessage = "Please confirm you would wish to delete this record for " + args.data[0].FirstName + "  " + args.data[0].LastName
            if (confirm(deleteMessage)) {
                //if yes ,record will delete
            }
            else
                args.cancel = true // if no the record wont delete
        }
        if (args.requestType == "cancel") {

                if (window.requestType == 'add') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveRecord", "CommunitySurveillance")',
                        data: {
                            "CaseNo": $("#CaseNo").val()
                        }
                        })
                            .done(function (response) {
                            })
                            .fail(function (a, b, c) {
                            alert("fail");
                        });
                    }
        }

        if (args.requestType == 'save') {
            //Multi-select drop-downs

            var Symptoms = document.getElementById("Symptoms").ej2_instances[0];
            if (Symptoms.value != null) {
                //if (Symptoms.value.includes(','))
                {
                    args.data["Symptoms"] = Symptoms.value.join();
                }
            }

            //Save validations

            var DateOfReporting = document.getElementById("DateOfReporting").ej2_instances[0].value;
            var FName = document.getElementById("FirstName").ej2_instances[0].value;
            var Sex = document.getElementById("Sex").ej2_instances[0].value;
            var LName = document.getElementById("LastName").ej2_instances[0].value;
            var Age = document.getElementById("Age").ej2_instances[0].value;
            var Address = document.getElementById("Address").ej2_instances[0].value;
            var Symptoms2 = document.getElementById("Symptoms").ej2_instances[0].value;
            var LabTestDate = document.getElementById("LabTestDate").ej2_instances[0].value;
            var LabResults = document.getElementById("LabResults").ej2_instances[0].value;

            if (DateOfReporting == null || DateOfReporting == "0" || DateOfReporting == "" || DateOfReporting == "undifined") {
                alert("Date Of Reporting is required, Please provide the Date Of Reporting");
                args.cancel = true;
            }
            else

            if (Sex == null || Sex == "0" || Sex == "" || Sex == "undifined") {
                alert("Gender is required, Please provide the Gender");
                args.cancel = true;
            }

            else
            if (FName == null || FName == "0" || FName == "" || FName == "undifined") {
                alert("First Name is required, Please provide the First-Name");
                args.cancel = true;
            }

            else
            if (LName == null || LName == "0" || LName == "" || LName == "undifined") {
                alert("Last Name is required, Please provide the Last-Name");
                args.cancel = true;
            }

            else
            if (Age == null || Age == "0" || Age == "" || Age == "undifined") {
                alert("Age is required, Please provide the Age");
                args.cancel = true;
            }

            else
            if (Address == null || Address == "0" || Address == "" || Address == "undifined") {
                alert("Address is required, Please provide the Address");
                args.cancel = true;
            }

            else
            if (Symptoms2 == null || Symptoms2 == "0" || Symptoms2 == "" || Symptoms2 == "undifined") {
                alert("Symptom (s) is required, Please provide the Symptom (s)");
                args.cancel = true;
            }

            else
            if (LabTestDate == null || LabTestDate == "0" || LabTestDate == "" || LabTestDate == "undifined") {
                alert("Lab Test Date is required, Please provide the Lab Test Date");
                args.cancel = true;
            }

            else
            if (LabResults == null || LabResults == "0" || LabResults == "" || LabResults == "undifined") {
                alert("Lab Results is required, Please provide the Lab Results");
                args.cancel = true;
            }

            //var AssignFollowUpContactPerson = document.getElementById("AssignFollowUpContactPerson").ej2_instances[0].value;
            //if (AssignFollowUpContactPerson == null || AssignFollowUpContactPerson == "0" || AssignFollowUpContactPerson == "" || AssignFollowUpContactPerson == "undifined") {
            //    alert("Assign Follow-Up Contact Person is required, Please provide the Assign Follow-Up Contact Person");
            //    args.cancel = true;
            //}
        }
    }

    function onEdit(args) {
            if (args.requestType == 'beginEdit' || args.requestType == 'add') {
                window.requestType = args.requestType;

                let spinner = ej.popups.createSpinner({ target: args.dialog.element });
                //ej.popups.showSpinner(args.dialog.element);

                //#####
                var data = args.rowData;

                window.args = args.requestType;

                // For custom save button
                args.dialog.btnObj[0].destroy();
                args.dialog.btnObj[0].element.id = "save";

                var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Save',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-success',
                }); progressSaveButton.appendTo('#save');

                // For custom cancel button
                args.dialog.btnObj[1].destroy();
                args.dialog.btnObj[1].element.id = "cancel";

                var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Cancel',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-danger',

                });
                progressCancelButton.appendTo('#cancel');

                // saving the edit action
                document.getElementById('save').addEventListener('click', function (args) {
                    //onclick = savess();
                }.bind(this));

                // Cancelling the edit action
                document.getElementById('cancel').addEventListener('click', function (args) {
                    //onclick = cancelss();

                }.bind(this));

             //#####

                if (args.requestType == 'beginEdit') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "CommunitySurveillance")", //render the partial view
                        type: "POST",

                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        //debugger;
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('FirstName').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
                if (args.requestType == 'add') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "CommunitySurveillance")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('FirstName').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
        }
        else if(args.requestType=="save") {
             var grid = document.getElementById("Grid").ej2_instances[0];
              grid.refresh(); // refresh the Grid.
         }
    }
    function appendElement(elementString, form) {
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
    }

</script>
<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>
<style type="text/css">

    .High {
        background-color: darkred;
        color: whitesmoke;
        font-size: larger;
        /*font-weight: 700;*/
        animation: mymove 5s infinite;
    }

    .Medium {
        background-color: yellow;
        color: black;
        font-size: larger;
        /*font-weight:700;*/
        animation: mymove 5s infinite;
    }

    .Low {
        background-color: cadetblue;
        color: whitesmoke;
        font-size: larger;
        /*font-weight: 700;*/
        animation: mymove 5s infinite;
    }
</style>

<style>
    .control-section {
        padding-left: 10px;
    }

    #target {
        height: 100%;
        min-height: 350px;
    }

    span.close-icon {
        width: 24px;
        height: 24px;
        position: relative;
        display: inline-block;
    }

    span.error-msg {
        color: #66afe9;
        display: inline-block;
        position: relative;
    }

    .error-detail.col-lg-8 {
        position: relative;
        left: 45px;
        margin: 20px 0px 21px;
    }

    .e-icons.close-icon.col-lg-2:before {
        content: '\e7e9';
        font-size: 26px;
        color: #d9534f;
        position: relative;
        left: -12px;
    }

    .e-dialog .e-footer-content {
        background-color: #f8f8f8;
    }

    .e-dialog.e-control.e-popup, .e-dialog.e-control.e-popup .e-dlg-header-content {
        background-color: #d9edf7;
    }

    .e-dialog.e-control.e-popup {
        padding: 3px;
    }

    .e-dialog.e-control .e-dlg-header-content {
        padding: 10px;
    }

    .e-dialog.e-control .e-footer-content {
        padding: 8px 12px;
    }

    .e-dialog.e-control .e-dlg-content {
        padding: 15px 0px 0px;
    }
</style>

<script id="coltemplate" type="text/x-template">
    <div class="image">
        <img src="@Url.Content("~/location2.png")" class="e-image" alt="${Address}" /> &nbsp
        <span id="locationtext">${Address}</span>
    </div>
</script>
<script id="persontemplate" type="text/x-template">
    <div class="image">
        <img src="@Url.Content("~/person.png")" class="e-image" alt="${FirstName}" /> &nbsp
        <span id="locationtext">${FirstName}</span>
    </div>
</script>

<script>
    function ValFacilityDetails() {
        var facilitycode = document.getElementById("FacilityUnit").ej2_instances[0].value;
        $.ajax({

            url: 'getfacilityDetails?code=' + facilitycode,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (datahhmember) {
                if (datahhmember.length > 0) {
                    //document.getElementById("Address").ej2_instances[0].val(datahhmember[0].VillageId);
                    //document.getElementById("Longitude").ej2_instances[0].val(datahhmember[0].Longitude);
                    //document.getElementById("Latitude").ej2_instances[0].val(datahhmember[0].Latitude);

                    //$('#Address').val(datahhmember[0].VillageId);
                    $('#Longitude').val(datahhmember[0].Longitude);
                    $('#Latitude').val(datahhmember[0].Latitude);
                    //$('#Address').data("ejDropDownList").selectItemByValue(datahhmember[0].VillageId);

                    var ddlObj = document.getElementById("Address").ej2_instances[0];
                    ddlObj.value = datahhmember[0].VillageId;
                    ddlObj.dataBind();

                    //var ddlObj = document.getElementById("Address").ej2_Instances[0];
                    //alert(ddlObj);
                    //ddlObj.getItemDataByValue(datahhmember[0].VillageId);
                }
            },
        });
    }
</script>


<script>
    function createCase() {
        //$("#" + this._id + "_search").append("Search");
        $("#" + this.element.id + "_add").append(" Community-Surveillance");
        $("#" + this.element.id + "_edit").append(" Community-Surveillance");
        $("#" + this.element.id + "_delete").append(" Community-Surveillance");
        $("#" + this.element.id + "_update").append(" Community-Surveillance");
        $("#" + this.element.id + "_cancel").append(" Community-Surveillance");
        //$("#" + this._id + "_printGrid").append("Print");
    }

</script>
<script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>