﻿@*MonitoriingTable*@

@*@model CHMIS.Models.ViewCoreCaseContactsMonitoring*@
@model CHMIS.Models.CoreCaseContactsMonitoring
@using Syncfusion.EJ2

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        1. Daily Symptom Monitoring
                    </a>
                </h5>
            </div>

            @*<div id="collapse2" class="panel-collapse collapse in">*@
            <div class="panel-body">
                <hr />
                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="ContactCaseNo" asp-for="ContactCaseNo" cssClass="e-filled" disabled placeholder="Contact Case No." floatLabelType="Auto" name="ContactCaseNo" type='text' value="@Model.ContactCaseNo"></ejs-textbox>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="Days" cssClass="e-outline" value="@Model.Days" dataSource="@ViewBag.Days" floatLabelType="Auto" placeholder="Choose a Day" change="myDayChange" allowFiltering="true" filterBarPlaceholder="Record information for any day" popupHeight="300px">
                            <e-dropdownlist-fields text="Days" value="Id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                </div>

                <hr />
                @*yyyy-MM-dd*@
                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-datetimepicker id="MonitoringDate" max="DateTime.Now" value="@Model.MonitoringDate" cssClass="e-outline" asp-for="MonitoringDate" name="MonitoringDate" format="dd/MMMM/yyyy" placeholder="Monitoring Date" floatLabelType="Auto"></ejs-datetimepicker>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="Temperature" ejs-for="Temperature" cssClass="e-outline" placeholder="Measured Body Temperature" floatLabelType="Auto" name="Temperature" type="number" step="any" value="@Model.Temperature"></ejs-textbox>
                    </div>
                </div>

                <hr />
                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">

                        <h6>Contact has Diarrhea ?</h6>
                        <ejs-radiobutton id="Yess" label="Yes" value="1" ejs-for="Diarrhea"></ejs-radiobutton>
                        <br />
                        <br />
                        <ejs-radiobutton id="Noo" label="No" value="2" ejs-for="Diarrhea"></ejs-radiobutton>
                        <br />
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <h6>Contact has Chills ?</h6>
                        <ejs-radiobutton id="YesChills" label="Yes" value="1" ejs-for="Chills"></ejs-radiobutton>
                        <br />
                        <br />
                        <ejs-radiobutton id="NoChills" label="No" value="2" ejs-for="Chills"></ejs-radiobutton>
                        <br />
                        
                    </div>

                </div>

                <hr />
                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <h6>Contact has Cough ?</h6>
                        <ejs-radiobutton id="YesCough" label="Yes" value="1" ejs-for="Cough"></ejs-radiobutton>
                        <br />
                        <br />
                        <ejs-radiobutton id="NoCough" label="No" value="2" ejs-for="Cough"></ejs-radiobutton>
                        <br />
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <h6>Contact has Sore Throat ?</h6>
                        <ejs-radiobutton id="YesSoreThroat" label="Yes" value="1" ejs-for="SoreThroat"></ejs-radiobutton>
                        <br />
                        <br />
                        <ejs-radiobutton id="NoSoreThroat" label="No" value="2" ejs-for="SoreThroat"></ejs-radiobutton>
                        <br />
                    </div>                 

                </div>

                <hr />
                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <h6>Contact experiences Shortness of breath ?</h6>
                        <ejs-radiobutton id="YesBreath" label="Yes" value="1" ejs-for="Breath"></ejs-radiobutton>
                        <br />
                        <br />
                        <ejs-radiobutton id="NoBreath" label="No" value="2" ejs-for="Breath"></ejs-radiobutton>
                        <br />
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <h6>Contact has Body Pains ?</h6>
                        <ejs-radiobutton id="YesBodyPains" label="Yes" value="1" ejs-for="BodyPains"></ejs-radiobutton>
                        <br />
                        <br />
                        <ejs-radiobutton id="NoBodyPains" label="No" value="2" ejs-for="BodyPains"></ejs-radiobutton>
                        <br />
                    </div>

                </div>
                <hr />
            </div>
            @*</div>*@
        </div>
    </div>

</div>

<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>
