﻿
@{
    ViewData["Title"] = "MonitoringTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<object> commands = new List<object>();
    commands.Add(new { type = "userstatus", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "btn btn-danger btn-sm", content = "Reset Password" } });
    var promptanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.SlideLeft };

    @model CHMIS.Models.CoreCaseContactsMonitoring
}
@*<partial name="MessagePartial" />*@
<ol class="breadcrumb" style="margin-top:5px;">
    @*<li class="breadcrumb-item">
            <a href="/DashBoard/Dashboard">Dashboard</a>
        </li>*@
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color:white; font-family:Cambria; padding:5px; font:bolder"> <stong> Contacts Follow-Up Monitoring - </stong></li>
</ol>

<ejs-grid id="Grid"
          allowPaging="true" allowResizing="true" allowTextWrap="true" gridLines="Both"
          allowSorting="true" allowReordering="true" allowGrouping="true" load="onLoad" showColumnChooser="true"
          toolbar="@(new List<string>() { "Search", "Add", "Edit", "Delete","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport","ColumnChooser"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit">
    <e-grid-groupSettings showDropArea="true" columns="@(new string[] { "AssignFollowUpContactPerson"})"></e-grid-groupSettings>
    <e-grid-searchSettings fields="@(new string[] {"CaseNo","ContactCaseNo","FirstName" ,"LastName" ,"AssignFollowUpContactPerson", "Address"})" operator="contains" ignoreCase="true"></e-grid-searchSettings>

    <e-data-manager url="/Monitoring/ContactsDataSource" insertUrl="/Monitoring/DialogInsert" updateUrl="/Monitoring/DialogUpdate" adaptor="UrlAdaptor"></e-data-manager>
    @* <e-data-manager url="/Contact/ContactsDataSource"  adaptor="UrlAdaptor"></e-data-manager>*@

    <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4" />
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="false" allowDeleting="true" allowEditing="false" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column type="checkbox" width="50"></e-grid-column>
        <e-grid-column field="ContactCaseNo" width="300" headerText="Contact-Case No."  visible="false" isPrimaryKey="true" isIdentity="true"></e-grid-column>
        <e-grid-column field="CaseNo" width="250" headerText="Case No." visible="false" isPrimaryKey="false" isIdentity="true"></e-grid-column>
        <e-grid-column field="FirstName" headerText="First Name" template="#persontemplate" allowEditing="false" visible="true"></e-grid-column>
        <e-grid-column field="LastName" headerText="Last Name" allowEditing="false" visible="true"></e-grid-column>
        <e-grid-column field="AssignFollowUpContactPerson" headerText="Surveillance Officer" foreignKeyField="EmployeeId" foreignKeyValue="Name" dataSource="@ViewBag.Employee"></e-grid-column>
        <e-grid-column field="Sex" visible="false" allowEditing="true" headerText="Gender" foreignKeyField="Id" foreignKeyValue="Name" dataSource="@ViewBag.gender"></e-grid-column>
        <e-grid-column field="Address" headerText="Address" foreignKeyField="VillageId" foreignKeyValue="VillageName" dataSource="@ViewBag.Village"></e-grid-column>
        <e-grid-column field="Longitude" headerText="Longitude" visible="false" template="#coltemplate"></e-grid-column>
        <e-grid-column field="Latitude" headerText="Latitude" visible="false" template="#coltemplate"></e-grid-column>
        <e-grid-column field="DateOnset" visible="false" headerText="Date of On set" allowEditing="false"></e-grid-column>
        <e-grid-column field="Classification" visible="false" allowEditing="true" headerText="Classification" foreignKeyField="Id" foreignKeyValue="Classification" dataSource="@ViewBag.classfn"></e-grid-column>
        <e-grid-column field="RiskLevel" visible="false" allowEditing="true" headerText="Risk Level" foreignKeyField="Id" foreignKeyValue="Name" dataSource="@ViewBag.risklevel"></e-grid-column>

    </e-grid-columns>
</ejs-grid>


<script>
    function onLoad(args) {
        setToolbarItems();
        this.childGrid = {
                      dataSource: new ej.data.DataManager({
                          url: "MonitoringDataSource",
                            insertUrl: "@Url.Action("DialogInsert", "Monitoring")",
                          updateUrl: "@Url.Action("DialogUpdate", "Monitoring")",
                        adaptor: new ej.data.UrlAdaptor()
                      }),
             //load: Childload,
            queryString: 'ContactCaseNo',
            editSettings: { allowEditing: false, allowAdding: true, mode: 'Dialog', template:'#dialogtemplate'},
            toolbar: ["Search", "Add", "Edit", 'Cancel', "ColumnChooser"],
             allowFiltering: true,
             filterSettings: { type:'Excel' },
             allowPaging: true,
            pageSettings: { pageSizes: true, pageSize: 8 },
            selectionsettings: { type:'Single'},
             //queryCellInfo: queryCellInfo,
             //       cellSaved:cellSaved,
            showColumnChooser:true,
            actionComplete: onChildEdit,
            actionBegin: OnBegingChild,
            load: setToolbarItemsChild,
          gridLines:'Both',
           // queryCellInfo :QueryCellEvent,
            columns: [
                { field: 'ContactCaseNo', allowEditing: false, headerText: 'Contact Case No', width: 30, visible: false, isIdentity: true, isPrimaryKey: true },
                 { field: 'RowNo', allowEditing: false, headerText: 'Row No', width: 30, visible: false, isIdentity: true, isPrimaryKey: true },

                { field: 'Measures',defaultValue:"-", allowEditing: false, headerText: 'Days', width: 30, visible: true },
                { field: 'DayOne',defaultValue:"-", allowEditing: false, headerText: '1', width: 20, visible: true },
                { field: 'DayTwo',defaultValue:"-", allowEditing: false, headerText: '2', width: 20, visible: true},
                { field: 'DayThree',defaultValue:"-", allowEditing: false, headerText: '3', width: 20,visible: true},
                { field: 'DayFour',defaultValue:"-", allowEditing: false, headerText: '4', width: 20, visible: true },
                { field: 'DayFive',defaultValue:"-", allowEditing: false, headerText: '5', width: 20,visible: true},
                { field: 'DaySix',defaultValue:"-", allowEditing: false, headerText: '6', width: 20,visible: true },
                { field: 'DaySeven',defaultValue:"-", allowEditing: false, headerText: '7', width: 20, visible: true },
                { field: 'DayEight',defaultValue:"-", allowEditing: false, headerText: '8', width: 20, visible: true },
                 { field: 'DayNine',defaultValue:"-",allowEditing: false, headerText: '9', width: 20,visible: true},
                { field: 'DayTen',defaultValue:"-", allowEditing: false, headerText: '10', width: 20, visible: true },
                { field: 'DayEleven',defaultValue:"-", allowEditing: false, headerText: '11', width: 20,visible: true},
                { field: 'DayTwelve',defaultValue:"-", allowEditing: false, headerText: '12', width: 20,visible: true },
                { field: 'DayThirteen',defaultValue:"-", allowEditing: false, headerText: '13', width: 20, visible: true },
                { field: 'DayFourteen',defaultValue:"-", allowEditing: false, headerText: '14', width: 20,visible: true },
                    ],
          };
    }

    function onChildEdit(args) {
        var grd = this;
         if (args.requestType == 'beginEdit' || args.requestType == 'add') {

                let spinner = ej.popups.createSpinner({ target: args.dialog.element });
             //ej.popups.showSpinner(args.dialog.element);
             //change save button color

             var data = args.rowData;

             window.args = args.requestType;

             // For custom save button
             args.dialog.btnObj[0].destroy();
             args.dialog.btnObj[0].element.id = "save";

             var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                 content: 'Save',
                 enableProgress: true,
                 animationSettings: { effect: 'SlideRight' },
                 spinSettings: { position: 'Center' },
                 cssClass: 'e-success',
             }); progressSaveButton.appendTo('#save');

             // For custom cancel button
             args.dialog.btnObj[1].destroy();
             args.dialog.btnObj[1].element.id = "cancel";

             var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                 content: 'Cancel',
                 enableProgress: true,
                 animationSettings: { effect: 'SlideRight' },
                 spinSettings: { position: 'Center' },
                 cssClass: 'e-danger',

             });
             progressCancelButton.appendTo('#cancel');

             // saving the edit action
             document.getElementById('save').addEventListener('click', function (args) {
                 //onclick = savess();
             }.bind(this));

             // Cancelling the edit action
             document.getElementById('cancel').addEventListener('click', function (args) {
                 //onclick = cancelss();

             }.bind(this));



             if (args.requestType == 'beginEdit') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("EditPartial", "Monitoring")", //render the partial view
                        type: "POST",

                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('ContactCaseNo').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
             if (args.requestType == 'add') {

                 args.dialog.header = 'Daily Symptom Monitoring Table'

                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "Monitoring")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: { "ContactCaseNo": grd.query.queries[0].e.value }})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('ContactCaseNo').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
        }
        else if(args.requestType=="save") {
              this.refresh(); // refresh the Grid.
         }
    }

    function onCommandClick(args) {
        if (args.commandColumn.type == "userstatus") {
            //$("#Id").val(args.rowData.UserId);
            //$("#NameOfUserAccountHolder").val(args.rowData.Name);
            //$("#Email").val(args.rowData.Email);
            //window.promptObj.show();

             var ajax = new ej.base.Ajax({

            //url: "~/Contacts/AddPartial?CaseNo=" + _contactData.CaseNo,
                 url: "@Url.Action("AddPartial", "Contacts")?ContactCaseNo=" + args.rowData.ContactCaseNo, //render the partial view
                        type: "POST",
                        contentType: "application/json",
                 data: JSON.stringify({ value: { "ContactCaseNo": args.rowData.ContactCaseNo } })
                    });
            ajax.send().then(function (data) {
                //debugger;
                //var x = document.getElementById("ContactForm");
                //document.getElementById("ContactForm").innerHTML = data;
                appendElementCase(data, null); //Render the edit form with selected record
                document.getElementById('ContactCaseNo').focus();
                        //ej.popups.hideSpinner(_contactData.dialog.element);
                        window.promptObj.show();

                    }).catch(function (xhr) {
                        console.log(xhr);
                        //ej.popups.hideSpinner(_contactData.dialog.element);
                    });
        }
    }

    function onLoadprompt() {
        var promptObj = this;
        window.promptObj = this;
    }
</script>


<script>
    function toolbarClick(args) {
        if (args.item.id === this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id === this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id === this.element.id + '_excelexport') {
            this.excelExport();
        }
    }

    function OnBegingChild(args) {
        if (args.requestType == 'save') {

            //var DiarrheaCheck = $("input[type='radio'][name='Diarrhea']:checked");
            var DiarrheaCheck = $("input[name='Diarrhea']:checked").val();

            //var DiarrheaCheck = $('form input[type=radio]:checked').val();  //JQuery
            //alert("Diarrhea is: " + DiarrheaCheck)
            args.data["Diarrhea"] = DiarrheaCheck;

            var ChillsCheck = $("form input[name='Chills']:checked").val();  //JQuery
            //alert("Chills is: " + ChillsCheck)
            args.data["Chills"] = ChillsCheck;

            var CoughCheck = $("form input[name='Cough']:checked").val();  //JQuery
            //alert("Cough is: " + CoughCheck)
            args.data["Cough"] = CoughCheck;

            var SoreThroatCheck = $("form input[name='SoreThroat']:checked").val();  //JQuery
            //alert("SoreThroat is: " + SoreThroatCheck)
            args.data["SoreThroat"] = SoreThroatCheck;

            var BreathCheck = $("form input[name='Breath']:checked").val();  //JQuery
            //alert("Breath is: " + BreathCheck)
            args.data["Breath"] = BreathCheck;

            var BodyPainsCheck = $("form input[name='BodyPains']:checked").val();  //JQuery
            //alert("BodyPains is: " + BodyPainsCheck)
            args.data["BodyPains"] = BodyPainsCheck;

            //Days
            var Days = document.getElementById("Days").ej2_instances[0].value;

            //MonitoringDate
            var MonitoringDate = document.getElementById("MonitoringDate").ej2_instances[0].value;

            //Temperature
             var Temperature = document.getElementById("Temperature").ej2_instances[0].value;

            if (Days == null || Days == "0" || Days == "" || Days == "undefined") {
                alert("Days is required, Please provide the Days of Monitoring");
                args.cancel = true;
            }


            else if (MonitoringDate == null || MonitoringDate == "0" || MonitoringDate == "" || MonitoringDate == "undefined") {
                alert("Monitoring-Date is required, Please provide the Monitoring-Date");
                args.cancel = true;
            }

            //else  if (Temperature == null || Temperature == "0" || Temperature == "" || Temperature == "undefined") {
            //    alert("Temperature is required, Please provide the Temperature");
            //    args.cancel = true;
            //}

            //else  if (DiarrheaCheck == null || DiarrheaCheck == "0" || DiarrheaCheck == "" || DiarrheaCheck == "undefined") {
            //    alert("Contact has Diarrhea is required, Please provide the Contact has Diarrhea response");
            //    args.cancel = true;
            //}

            //else if (ChillsCheck == null || ChillsCheck == "0" || ChillsCheck == "" || ChillsCheck == "undefined") {
            //    alert("Contact has Chills is required, Please provide the Contact has Chills response");
            //    args.cancel = true;
            //}

            //else if (CoughCheck == null || CoughCheck == "0" || CoughCheck == "" || CoughCheck == "undefined") {
            //    alert("Contact has Cough is required, Please provide the Contact has Cough response");
            //    args.cancel = true;
            //}

            //else  if (SoreThroatCheck == null || SoreThroatCheck == "0" || SoreThroatCheck == "" || SoreThroatCheck == "undefined") {
            //    alert("Contact has Sore-Throat is required, Please provide the Contact has Sore-Throat response");
            //    args.cancel = true;
            //}

            //else if (BreathCheck == null || BreathCheck == "0" || BreathCheck == "" || BreathCheck == "undefined") {
            //    alert("Contact experiences Shortness of breath ? is required, Please provide the Contact experiences Shortness of breath ?");
            //    args.cancel = true;
            //}

            //else  if (BodyPainsCheck == null || BodyPainsCheck == "0" || BodyPainsCheck == "" || BodyPainsCheck == "undefined") {
            //    alert("Contact has Body Pains ? is required, Please provide the Contact experiences Body Pains");
            //    args.cancel = true;
            //}

            // call myDayChange() function
            //myDayChange();
        }
    }

    //To merge a particular column

    function QueryCellEvent(args) {
        var data = args.data;
        var grid = document.getElementById("childGrid").ej2_instances[0];
        var currentdata = grid.currentViewData;

        if (args.column.field == "ContactCaseNo") {
            var value = currentdata.filter((m) => { return m.ContactCaseNo == data.ContactCaseNo });
            args.rowSpan = value.length;
        }
    }


    function onEdit(args) {
        if (args.requestType === 'beginEdit' || args.requestType === 'add') {
            let spinner = ej.popups.createSpinner({ target: args.dialog.element });
            ej.popups.showSpinner(args.dialog.element);


                if (args.requestType === 'beginEdit') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("EditPartial", "Monitoring")", //render the partial view
                        type: "POST",
                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('ContactCaseNo').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }

            if (args.requestType === 'add') {

                //debugger;

                    var ajax = new ej.base.Ajax({

                        url: "@Url.Action("AddPartial", "Monitoring")?ContactCaseNo=" + args.rowData.ContactCaseNo, //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: { "ContactCaseNo": args.rowData.ContactCaseNo } })



                        @*url: "@Url.Action("AddPartial", "Monitoring")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                     data: JSON.stringify({ value: args.rowData })*@

                    });

                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('ContactCaseNo').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
        }
        else if(args.requestType=="save") {
             var grid = document.getElementById("Grid").ej2_instances[0];
              grid.refresh(); // refresh the Grid.
        }

    }


    function appendElement(elementString, form) {
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
    }

</script>
<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>


<script id="coltemplate" type="text/x-template">
    <div class="image">
        <img src="@Url.Content("~/location2.png")" class="e-image" alt="${Longitude}" /> &nbsp
        <span id="locationtext">${Longitude}</span>
    </div>
</script>
<script id="persontemplate" type="text/x-template">
    <div class="image">
        <img src="@Url.Content("~/person.png")" class="e-image" alt="${FirstName}" /> &nbsp
        <span id="locationtext">${FirstName}</span>
    </div>
</script>

@using Newtonsoft.Json
<script type="text/javascript">
        function onfiltering(e) {
            var query = new ej.data.Query();
            query = (e.text !== '') ? query.where('VillageName', 'startswith', e.text, true) : query;
            e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Address)), query);
    }

</script>

<ejs-dialog id="promptdialog" allowDragging="true" animationSettings="promptanimation" visible="false" created="onLoadprompt" target="#Grid" width="80%" header="New Contact">
    <e-content-template>
        <div style="padding:10px;" id="ContactForm"></div>
    </e-content-template>
    <e-dialog-buttons>
        <e-dialog-dialogbutton buttonModel="ViewBag.promptbutton" click="ResetPassword"></e-dialog-dialogbutton>
        <e-dialog-dialogbutton buttonModel="ViewBag.promptbutton1" click="promptCancelBtnClick"></e-dialog-dialogbutton>
    </e-dialog-buttons>
</ejs-dialog>

<script>
    function ResetPassword() { }
    function promptCancelBtnClick() { }
</script>


@*To force the cell header at the top of the cell*@

<style type="text/css">

    .e-grid .e-rowcell, .e-grid .e-gridcontent, .e-grid .e-gridheader, .e-grid .e-headercontent, .e-grid .e-groupdroparea, .e-grid .e-gridfooter, .e-grid .e-summarycontent {
        overflow: hidden;
        vertical-align: top;
    }
</style>


<style>
    .success .e-spanicon.e-rad-active,
    .success .e-spanicon.e-rad-active:hover {
        border-color: #17ad37;
        border-width: 2px;
    }

    .warning .e-spanicon.e-rad-active,
    .warning .e-spanicon.e-rad-active:hover {
        border-color: #ff6e40;
        border-width: 2px;
    }
</style>

<script>
    function myDayChange() {
        var ContactCaseNo = document.getElementById("ContactCaseNo").ej2_instances[0].value;
        //Days
        var Days = document.getElementById("Days").ej2_instances[0].value;

        $.ajax({
            url: "SearchDays",
            type: "Get",
            dataType: "json",
            data: {

                "Days": Days,
                "ContactCaseNo": ContactCaseNo,
            },
            success: function (data) {
                //console.log(data);
                //alert(data);
                if (data.length > 0) {
                    alert("Monitoring information for Day  " + Days + "  and Contact Case No.  " + ContactCaseNo + "  is already captured, please select another Day to capture data for!!");
                    args.cancel = true;
                }
                //$('#Days').val(data);
            }
        });
    }

    //value change for Temp C
    function myTempChange() {
        //Temp
        var Temp = document.getElementById("Temperature").ej2_instances[0].value;
        if (Temp > "37") {
            alert("Body Tempareture, " + Temp + " ,is greater than the normal body tempareture of 37.0 C");
            args.cancel = true;
        }
    }
</script>
<script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>