﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" rel='nofollow' href="~/dashboard/themes/default-theme/bootstrap.min.css" />
<link rel="stylesheet" rel='nofollow' href="~/dashboard/themes/default-theme/ej.dashboardViewer.all.min.css" />
<link rel="stylesheet" rel='nofollow' href="https://cdn.syncfusion.com/ej2/styles/compatibility/material.css" />
<script src="~/dashboard/scripts/jquery-1.10.2.min.js"></script>
<script src="~/dashboard/scripts/jquery.easing.1.3.min.js"></script>
<script src="~/dashboard/scripts/ej.dashboardViewer.all.min.js"></script>
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>


@*to resolve the jQuery conflicts*@
<script>
    var j1_10_2 = $.noConflict();
</script>

<style>

    body, html {
        height: 100%;
        width: 100%;
    }
</style>

<div id="dashboard"></div>
@*<div style="height:50px;width:100%;text-align:center;font-size:20px">Dashboard</div>*@

@*<script>
            var dashboardpath = '@ViewBag.DashboardPath';// codetogetpathfromcontrollertoview
            $("#dashboard").css({ "width": $("body").width() + "px", "height": $("body").height() + "px" })
            $("#dashboard").ejDashboardViewer({
                serviceUrl: "http://localhost:8082/DashboardService.svc",
                dashboardPath: dashboardpath
                //"C:\\IBS Projects 2020\\CHMIS\\CHMIS\\CHMIS_20_7_2020_2\\CHMIS\\wwwroot\\COVID19.sydx"
            });

    </script>*@

@if (User.IsInRole("Super Admin") || User.IsInRole("Administrator") || User.IsInRole("KCCA General") || User.IsInRole("Viewer"))
{
    <script type="text/javascript">
        var dashboardpath = '@ViewBag.DashboardPath';// codetogetpathfromcontrollertoview
        j1_10_2(function (e) {

            j1_10_2("#dashboard").css({ "width": $("body").width() + "px", "height": $("body").height() + "px" })
            j1_10_2("#dashboard").ejDashboardViewer({

                serviceUrl: "https://chis.go.ug:8082/DashboardService.svc",
                dashboardPath: dashboardpath
            });
        });

    </script>
}
else
{
    <script type="text/javascript">
        var dashboardCompliancePath = '@ViewBag.CompliancePath';// codetogetpathfromcontrollertoview
        j1_10_2(function (e) {

            j1_10_2("#dashboard").css({ "width": $("body").width() + "px", "height": $("body").height() + "px" })
            j1_10_2("#dashboard").ejDashboardViewer({

                serviceUrl: "https://chis.go.ug:8082/DashboardService.svc",
                dashboardPath: dashboardCompliancePath
            });
        });

    </script>
}



