﻿@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "";
}
<h2>@ViewData["Title"]</h2>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Privacy Policy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ej2/material.css" />
    <script src="~/js/ej2/ej2.min.js"></script>
    <link rel="icon" href="~/kcca-logo.jpg" />
    @*<link href="~/MaterialCSS/compatibility/material.css" rel="stylesheet" />*@


    <style>
        #Grid_dialogEdit_wrapper {
            min-height: 750px;
            min-width: 90%;
        }

        #page-content-wrapper {
            margin-left: 20px;
            margin-right: 7px;
        }

        .container {
            margin-left: 2%;
            min-width: 97%;
            width: 97%;
            padding: 0px;
            margin-right: 2%;
        }

        .dropdown-menu .dropdown-toggle:after {
            border-top: .3em solid transparent;
            border-right: 0;
            border-bottom: .3em solid transparent;
            border-left: .3em solid;
        }

        .dropdown-menu .dropdown-menu {
            margin-left: 0;
            margin-right: 0;
        }

        .dropdown-menu li {
            position: relative;
        }

        .nav-item .submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -7px;
        }

        .nav-item .submenu-left {
            display: none;
            position: absolute;
            left: auto;
            right: 100%;
            margin-left: 0;
            margin-right: -1px;
            top: -7px;
        }

        .left-float {
            display: none;
            position: absolute;
            left: auto;
            right: 100%;
            margin-left: 0;
            margin-right: -1px;
        }


        .dropdown-menu > li:hover {
            background-color: #f1f1f1
        }

            .dropdown-menu > li:hover > .submenu {
                display: block;
            }

            .dropdown-menu > li:hover > .submenu-left {
                display: block;
            }

        .dropdown-menu-left > li:hover > .submenu-left {
            display: block;
        }

        #Message_Badge {
            border: none;
            cursor: pointer;
            position: fixed;
            bottom: 108px;
            right: 22px;
            /*width: 80px;
            height: 80px;
            border-radius: 80px;*/
        }

        .open-button {
            /*background-color: #555;*/
            background-color: black;
            color: white;
            font: 700, bold;
            /*padding: 16px 20px;*/
            border: none;
            cursor: pointer;
            /*opacity: 0.8;*/
            position: fixed;
            bottom: 70px;
            right: 28px;
            width: 60px;
            height: 60px;
            border-radius: 80px;
        }

        .message_container {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            width: 95%;
            padding: 10px;
            margin: 10px 0;
        }

        .darker {
            border-color: #ccc;
            background-color: #ddd;
        }

        .message_container::after {
            content: "";
            clear: both;
            display: table;
        }

        .message_container img {
            float: left;
            max-width: 60px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

            .message_container img.right {
                float: right;
                margin-left: 20px;
                margin-right: 0;
            }

        .time-right {
            float: right;
            color: #aaa;
        }

        .time-left {
            float: left;
            color: #999;
        }
    </style>


    <style>
        .e-grid .e-groupdroparea, /*GroupDropArea */
        .e-grid .e-groupdroparea:hover, /*GroupDropArea Hover*/
        .e-grid .e-cloneproperties, /*Column header clone during dragging header*/
        .e-grid .e-groupheadercell:hover, /*HeaderCell in GroupDropArea*/
        .e-grid td.e-active, /*During Row Selected*/
        /*For pager items and their hover*/
        .e-pager .e-currentitem,
        .e-pager .e-currentitem:hover,
        .e-pager .e-link:hover,
        .e-pager .e-icon:hover {
            background-color: #8adff6;
            /*font-size: 12px;*/
        }

        .e-grid .e-gridheader /*For line that separates the grid header and content*/ {
            border-bottom-color: #ea1b8d;
            /*font-size: 12px;*/
        }

        .e-grid tr.e-hover /*For row hover*/ {
            background-color: #e66aae;
            color: #FFFFFF;
            /*font-size: 12px;*/
        }

        .e-grid .e-alt_row /*For Alternate row color*/ {
            background-color: #E5E4E2; /*#99CFE3;*/
            /*font-size: 12px;*/
        }
    </style>

    <style>
        .gridfont, .e-grid .e-headercelldiv {
            font-size: 14px;
        }

        .e-grid .e-dialog .gridform .e-rowcell {
            padding: .5em;
            border-bottom: 1px solid #c8c8c8;
            border-left: 1px solid #c8c8c8;
            /*font-size: 12px;*/
        }

        .e-grid .e-headercell {
            color: whitesmoke;
            background-color: black;
            font-family: Cambria;
            font-weight: 700;
            font-size: 16px;
        }
    </style>
    <style>
        .panel-default > .panel-heading {
            background-color: #0071bc /*#3e1111*/;
            color: white;
            /*font-size: 12px;*/
            /*background-color:silver;*/
            /*color: white;*/
        }
    </style>

    <style type="text/css" class="cssStyles">
        .control {
            margin-left: 30px;
        }

        .ctrllabel {
            padding-top: 15px;
        }

        .control {
            margin-left: 20px;
        }


        .txt {
            display: block;
            margin-bottom: 12px;
        }
    </style>

    <style>
        #lblComplaintTitle {
            /*font-size: 24px;*/
            background-color: white;
            color: darkred;
            vertical-align: top;
            /*font-size: 12px;*/
            /*width: 700px;*/
        }

        .redLabels {
            /*font-size: 24px;*/
            background-color: white;
            color: #ff0000;
            vertical-align: top;
            font-weight: bold;
            /*font-size: 12px;*/
            /*width: 700px;*/
        }
    </style>

    <style>
        .e-grid .e-dialog .gridform .e-rowcell {
            padding: .5em;
        }

        .custom.e-js .e-header {
            background: #c9252b;
        }

        .custom.e-js .e-content {
            background: #ddd;
        }

        .custom .e-rbn-button.e-btn.e-select {
            background: #f5f5f5;
            color: #333;
        }

        .tabstyle {
            background: #F9F9F9;
            border-radius: 10px;
            border: 1px solid #99CFE3;
            display: block;
            /*font-size: 12px;*/
        }

        .longcolumns {
            width: 600px !important;
            margin: 0 auto !important;
            position: relative !important;
            border-right: 5px #666 outset !important;
            border-left: 5px #666 outset !important;
            /*font-size: 12px;*/
        }
    </style>

</head>
<body style='background: #d0d8db'>
    <header style="padding:15px">

        <p>This policy applies to the use of this website and related mobile application operated by the Kampala Capital City Authority. Any requests for clarity on this policy should be addressed to: <a href="mailto:info@kcca.go.ug">info@kcca.go.ug</a> </p>

        <div class="abt-block" id="social-responsibility">
            <h5 class="block-title">Information we collect</h5>

            <p>We collect information concerning compliance of market places, public places, arcades, bus terminals and other high traffic areas to the set public health requirements such as presence of hand washing facilities or hand sanitizer, cleaned publicly access areas and decongestion of spaces. We also use this information to contact you for any follow-up purposes. The only personal information collected is a username and phone number for the compliance offer. Only the compliance information will be retained for a period of ten years as per Government requirements after the end of the provision of this service.</p>
        </div>

        <div class="abt-block" id="Sharing-information">
            <h5 class="block-title">Sharing of information</h5>

            <p>Only the compliance information is used by the Kampala Capital City Compliance Team and Public Health Department as well as sister Government agencies who need to process it for this purpose.</p>
        </div>

        <div class="abt-block" id="Processing-Information">
            <h5 class="block-title">Processing of Information</h5>

            <p>This information is processed in Uganda. The information is further securely hosted in Uganda with the appropriate technical and organizational security controls.</p>
        </div>

        <div class="abt-block" id="Your-Rights">
            <h5 class="block-title">Your Rights</h5>

            <p>The Data Protection and Privacy Act (2019) provides compliance officers with rights for data subjects. If you would like more information as per your rights concerning this service, contact us via: <a href="mailto:info@kcca.go.ug">info@kcca.go.ug</a> </p>
        </div>

        <div class="abt-block" id="Your1-Rights1">
            <h5 class="block-title">Updates to this Policy</h5>

            <p>This policy may be updated at any time to reflect changes in this service and published here.  </p>
        </div>

    </header>
    <div id="MainBody" class="container">
        <main role="main" class="pb-3">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
           
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container">
            <img class="imgId" width="40" height="40" src="~/COVID19 RESPONSE-02.png" />
            <img class="imgId" width="40" height="40" src="~/KCCALogo.png" />
            &copy; 2020 - KCCA- City Health Information System - CHIS - <a asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank">Privacy Policy</a>

        </div>
    </footer>
    <ejs-scripts></ejs-scripts>


</body>
</html>

<style>
    .e-input-picture::before {
        content: '\e335';
        font-family: e-icons;
    }

    .bootstrap4 .e-input-picture:before {
        content: '\e776';
    }

    .e-input-calendar::before {
        content: '\e901';
        font-family: e-icons;
        font-size: 13px;
    }

    .fabric .e-input-calendar:before {
        content: '\e93a';
    }

    .bootstrap .e-input-calendar:before {
        content: '\e960';
    }

    .bootstrap4 .e-input-calendar:before {
        content: '\e7be';
    }

    .highcontrast .e-input-calendar:before {
        content: '\e93a';
    }

    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

        .content-wrapper div.row {
            padding: 15px 0px;
        }

    .custom-padding-05 {
        padding-top: 5px;
    }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-6,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    #description td {
        vertical-align: top;
    }

    .e-outline.e-float-input,
    .e-outline.e-float-input.e-control-wrapper {
        margin-top: 0;
    }

    .fabric .row.material2,
    .bootstrap .row.material2,
    .bootstrap4 .row.material2,
    .highcontrast .row.material2 {
        display: none;
    }
</style>

<style type="text/css" class="cssStyles">
    .imgId {
        margin: 0;
        /*padding: 3px 10px 3px 3px;*/
        border: 0 none;
        width: 40px;
        height: 40px;
        /*float: left;*/
    }
</style>



