﻿@{
    ViewData["Title"] = "Privacy Policy";
   
}
<h2>@ViewData["Title"]</h2>


<p>This policy applies to the use of this website and related mobile application operated by the Kampala Capital City Authority. Any requests for clarity on this policy should be addressed to: <a href="mailto:info@kcca.go.ug">info@kcca.go.ug</a> </p>

<div class="abt-block" id="social-responsibility">
    <h5 class="block-title">Information we collect</h5>

    <p>We collect information concerning compliance of market places, public places, arcades, bus terminals and other high traffic areas to the set public health requirements such as presence of hand washing facilities or hand sanitizer, cleaned publicly access areas and decongestion of spaces. We also use this information to contact you for any follow-up purposes. The only personal information collected is a username and phone number for the compliance offer. Only the compliance information will be retained for a period of ten years as per Government requirements after the end of the provision of this service.</p>
</div>

<div class="abt-block" id="Sharing-information">
    <h5 class="block-title">Sharing of information</h5>

    <p>Only the compliance information is used by the Kampala Capital City Compliance Team and Public Health Department as well as sister Government agencies who need to process it for this purpose.</p>
</div>

<div class="abt-block" id="Processing-Information">
    <h5 class="block-title">Processing of Information</h5>

    <p>This information is processed in Uganda. The information is further securely hosted in Uganda with the appropriate technical and organizational security controls.</p>
</div>

<div class="abt-block" id="Your-Rights">
    <h5 class="block-title">Your Rights</h5>

    <p>The Data Protection and Privacy Act (2019) provides compliance officers with rights for data subjects. If you would like more information as per your rights concerning this service, contact us via: <a href="mailto:info@kcca.go.ug">info@kcca.go.ug</a> </p>
</div>

<div class="abt-block" id="Your1-Rights1">
    <h5 class="block-title">Updates to this Policy</h5>

    <p>This policy may be updated at any time to reflect changes in this service and published here.  </p>
</div>
