﻿@*CountryAddPartial*@

@model CHMIS.Models.ARegion
@using Syncfusion.EJ2

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        Region Module
                    </a>
                </h5>
            </div>

            <br /><br />

            @*<div id="collapse2" class="panel-collapse collapse in">*@
            <div class="panel-body">
                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="RegionName" asp-for="RegionName" cssClass="e-outline" placeholder="Region Name" floatLabelType="Auto" name="RegionName" type='text' value="@Model.RegionName"></ejs-textbox>
                    </div>

                </div>

                <hr />

                <div class="row material2" hidden>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="RegionId" asp-for="RegionId" cssClass="e-outline" placeholder="Region ID" disabled floatLabelType="Auto" name="RegionId" type='text' value="@Model.RegionId"></ejs-textbox>
                    </div>
                </div>


            </div>

            @*</div>*@
        </div>
    </div>

</div>

<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>