﻿@*AddSubCountyPartial*@

@model CHMIS.Models.ASubcounty
@using Syncfusion.EJ2

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        SubCounty Module
                    </a>
                </h5>
            </div>

            <br /><br />

            @*<div id="collapse2" class="panel-collapse collapse in">*@
            <div class="panel-body">
                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="DistrictId" cssClass="e-outline" enabled="true" value="@Model.DistrictId" dataSource="@ViewBag.district" floatLabelType="Auto" placeholder="Choose a District" allowFiltering="true" filterBarPlaceholder="Select a District" popupHeight="300px"
                                          change="CountyChange">
                            <e-dropdownlist-fields text="DistrictName" value="DistrictId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                </div>

                <hr />

                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="CountyId" cssClass="e-outline" enabled="true" value="@Model.CountyId" dataSource=null floatLabelType="Auto" placeholder="Choose a County" allowFiltering="true" filterBarPlaceholder="Select a County" popupHeight="300px">
                            <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                </div>

                <hr />

                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="SubcountyName" asp-for="SubcountyName" cssClass="e-outline" placeholder="Subcounty Name" floatLabelType="Auto" name="SubcountyName" type='text' value="@Model.SubcountyName"></ejs-textbox>
                    </div>
                </div>

                <hr />

                <div class="row material2" hidden>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="SubcountyId" asp-for="SubcountyId" cssClass="e-outline" placeholder="Subcounty ID" disabled floatLabelType="Auto" name="SubcountyId" type='text' value="@Model.SubcountyId"></ejs-textbox>
                    </div>
                </div>

            </div>

            @*</div>*@
        </div>
    </div>
</div>
<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>