﻿@*AddFacilityPartial*@

@model CHMIS.Models.AFacilityUnit
@using Syncfusion.EJ2

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        Facility Module
                    </a>
                </h5>
            </div>

            <br /><br />

            @*<div id="collapse2" class="panel-collapse collapse in">*@
            <div class="panel-body">
                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="OperationalArea" cssClass="e-outline" enabled="true" value="@Model.OperationalArea" dataSource="@ViewBag.operarea" floatLabelType="Auto" placeholder="Choose an Operation Area *" allowFiltering="true" filterBarPlaceholder="Select an Operation Area" popupHeight="300px">
                            <e-dropdownlist-fields text="OperationalArea" value="OperationalCode"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="Facility" asp-for="Facility" cssClass="e-outline" placeholder="Facility Name" floatLabelType="Auto" name="Facility" type='text' value="@Model.Facility"></ejs-textbox>
                    </div>

                </div>

                <hr />

                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="DetailsOfFacility" asp-for="DetailsOfFacility" cssClass="e-outline" placeholder="Information about Facility" floatLabelType="Auto" name="DetailsOfFacility" type='text' value="@Model.DetailsOfFacility"></ejs-textbox>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="EstimatedPopulation" asp-for="EstimatedPopulation" cssClass="e-outline" placeholder="Population" floatLabelType="Auto" name="EstimatedPopulation" type='text' value="@Model.EstimatedPopulation"></ejs-textbox>
                    </div>
                </div>

                <hr />

                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="DistrictId" value="@Model.DistrictId" cssClass="e-outline" dataSource="@ViewBag.district" placeholder="District *" filterBarPlaceholder="District" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                          change="CountyChange">
                            <e-dropdownlist-fields text="DistrictName" value="DistrictId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="CountyId" value="@Model.CountyId" cssClass="e-outline" dataSource=null placeholder="County *" filterBarPlaceholder="Choose a County" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                          change="DivisionChange">
                            <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                </div>

                <hr />

                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="SubcountyId" value="@Model.SubcountyId" cssClass="e-outline" dataSource=null placeholder="SubCounty *" filterBarPlaceholder="Choose a SubCounty" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                          change="ParishChange">
                            <e-dropdownlist-fields text="SubcountyName" value="SubcountyId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="ParishId" value="@Model.ParishId" cssClass="e-outline" dataSource=null placeholder="Parish *" filterBarPlaceholder="Choose a Parish" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                          change="VillageChange">
                            <e-dropdownlist-fields text="ParishName" value="ParishId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                </div>

                <hr />

                <div class="row material2">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="VillageId" value="@Model.VillageId" cssClass="e-outline" dataSource=null placeholder="Village *" filterBarPlaceholder="Choose a Village" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                            <e-dropdownlist-fields text="VillageName" value="VillageId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="Longitude" asp-for="Longitude" cssClass="e-outline" placeholder="Longitude" floatLabelType="Auto" name="Longitude" type="number" step="any" value="@Model.Longitude"></ejs-textbox>
                    </div>

                </div>

                <hr />

                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="Latitude" asp-for="Latitude" cssClass="e-outline" placeholder="Latitude" floatLabelType="Auto" name="Latitude" type="number" step="any" value="@Model.Latitude"></ejs-textbox>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="FacilityStatus" cssClass="e-outline" value="@Model.FacilityStatus" dataSource="@ViewBag.yesno" floatLabelType="Auto" placeholder="Facility Status" allowFiltering="true" filterBarPlaceholder="Is the facility monitored" popupHeight="300px">
                            <e-dropdownlist-fields text="YesNo" value="Id"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>
                </div>

                <hr />

                <div class="row material2" hidden>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="FacilityCode" asp-for="FacilityCode" cssClass="e-outline" placeholder="FacilityCode" floatLabelType="Auto" name="FacilityCode" type='text' disabled value="@Model.FacilityCode"></ejs-textbox>
                    </div>


                </div>
            </div>

            @*</div>*@
        </div>
    </div>
</div>
<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>
