﻿@*AddVillagePartial*@

@model CHMIS.Models.ViewVillages
@using Syncfusion.EJ2

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        Village Module
                    </a>
                </h5>
            </div>

            <br /><br />

            @*<div id="collapse2" class="panel-collapse collapse in">*@
            <div class="panel-body">

                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="DistrictId" cssClass="e-outline" enabled="true" value="@Model.DistrictId" dataSource="@ViewBag.district" floatLabelType="Auto" placeholder="Choose a District" allowFiltering="true" filterBarPlaceholder="Select a District" popupHeight="300px"
                                          change="CountyChange">
                            <e-dropdownlist-fields text="DistrictName" value="DistrictId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="CountyId" value="@Model.CountyId" cssClass="e-outline" dataSource="null" placeholder="County *" filterBarPlaceholder="Choose a County" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                          change="DivisionChange">
                            <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                </div>

                <hr />

                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="SubcountyId" cssClass="e-outline" enabled="true" value="@Model.SubcountyId" dataSource="null" floatLabelType="Auto" placeholder="Choose a Subcounty" allowFiltering="true" filterBarPlaceholder="Select a Subcounty" popupHeight="300px"
                                          change="ParishChange">
                            <e-dropdownlist-fields text="SubcountyName" value="SubcountyId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="ParishId" cssClass="e-outline" enabled="true" value="@Model.ParishId" dataSource="null" floatLabelType="Auto" placeholder="Choose a Parish" allowFiltering="true" filterBarPlaceholder="Select a Parish" popupHeight="300px">
                            <e-dropdownlist-fields text="ParishName" value="ParishId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                </div>

                <hr />

                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="VillageName" asp-for="VillageName" cssClass="e-outline" placeholder="Village Name" floatLabelType="Auto" name="VillageName" type='text' value="@Model.VillageName"></ejs-textbox>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6" hidden>
                        <ejs-textbox id="VillageId" asp-for="VillageId" cssClass="e-outline" placeholder="Village" floatLabelType="Auto" disabled name="VillageId" type='text' value="@Model.VillageId"></ejs-textbox>
                    </div>

                </div>

            </div>

            @*</div>*@
        </div>
    </div>
</div>
<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>
