﻿@*AddOperationalAreaPartial*@

@model CHMIS.Models.AOperationalArea
@using Syncfusion.EJ2

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        Operational Area Module
                    </a>
                </h5>
            </div>

            <br /><br />

            @*<div id="collapse2" class="panel-collapse collapse in">*@
            <div class="panel-body">
                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="OperationalArea" asp-for="OperationalArea" cssClass="e-outline" placeholder="Operational Area" floatLabelType="Auto" name="OperationalArea" type='text' value="@Model.OperationalArea"></ejs-textbox>
                    </div>

                </div>

                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6" hidden>
                        <ejs-textbox id="OperationalCode" asp-for="OperationalCode" cssClass="e-outline" placeholder="Operational Code" disabled floatLabelType="Auto" name="OperationalCode" type='text' value="@Model.OperationalCode"></ejs-textbox>
                    </div>

                </div>
            </div>

            @*</div>*@
        </div>
    </div>
</div>
<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>
