﻿@*EditDistrictPartial*@

@model CHMIS.Models.ADistrict
@using Syncfusion.EJ2

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        District Module
                    </a>
                </h5>
            </div>

            <br /><br />

            @*<div id="collapse2" class="panel-collapse collapse in">*@
            <div class="panel-body">
                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="RegionId" cssClass="e-outline" enabled="true" value="@Model.RegionId" dataSource="@ViewBag.region" floatLabelType="Auto" placeholder="Choose a Region" allowFiltering="true" filterBarPlaceholder="Select a Region" popupHeight="300px">
                            <e-dropdownlist-fields text="RegionName" value="RegionId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="DistrictName" asp-for="DistrictName" cssClass="e-outline" placeholder="District Name" floatLabelType="Auto" name="DistrictName" type='text' value="@Model.DistrictName"></ejs-textbox>
                    </div>

                </div>

                <hr />

                <div class="row material2" @*hidden*@>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="DistrictId" asp-for="DistrictId" cssClass="e-outline" placeholder="District ID" disabled floatLabelType="Auto" name="DistrictId" type='text' value="@Model.DistrictId"></ejs-textbox>
                    </div>
                </div>


            </div>

            @*</div>*@
        </div>
    </div>
</div>
<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>
