﻿@*EditCountryPartial*@

@model CHMIS.Models.ACountry
@using Syncfusion.EJ2

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        Country Module
                    </a>
                </h5>
            </div>

            <br /><br />

            @*<div id="collapse2" class="panel-collapse collapse in">*@
            <div class="panel-body">
                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="CountryCode" asp-for="CountryCode" cssClass="e-outline" placeholder="Country Code" disabled floatLabelType="Auto" name="CountryCode" type='text' value="@Model.CountryCode"></ejs-textbox>
                    </div>

                </div>

                <hr />

                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="CountryName" asp-for="CountryName" cssClass="e-outline" placeholder="Country Name" floatLabelType="Auto" name="CountryName" type='text' value="@Model.CountryName"></ejs-textbox>
                    </div>

                </div>

                <hr />

                <div class="row material2" hidden>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="CountryId" asp-for="CountryId" cssClass="e-outline" placeholder="Country ID" disabled floatLabelType="Auto" name="CountryId" type='text' value="@Model.CountryId"></ejs-textbox>
                    </div>

                </div>

            </div>
            @*</div>*@
        </div>
    </div>
</div>
<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>