﻿@*EditParishPartial*@

@model CHMIS.Models.ViewParishes
@using Syncfusion.EJ2

<div id="defaultTab" style="width: 100%; padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        Parish Module
                    </a>
                </h5>
            </div>

            <br /><br />

            @*<div id="collapse2" class="panel-collapse collapse in">*@
            <div class="panel-body">

                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="DistrictId" cssClass="e-outline" enabled="false" value="@Model.DistrictId" dataSource="@ViewBag.district" floatLabelType="Auto" placeholder="Choose a District" allowFiltering="true" filterBarPlaceholder="Select a District" popupHeight="300px"
                                          change="CountyChange">
                            <e-dropdownlist-fields text="DistrictName" value="DistrictId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="CountyId" value="@Model.CountyId" cssClass="e-outline" dataSource=ViewBag.county enabled="false" placeholder="County *" filterBarPlaceholder="Choose a County" allowFiltering="true" floatLabelType="Auto" popupHeight="300px"
                                          change="DivisionChange">
                            <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                </div>

                <hr />

                <div class="row material2">

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-dropdownlist id="SubcountyId" cssClass="e-outline" enabled="false" value="@Model.SubcountyId" dataSource="@ViewBag.subcounty" floatLabelType="Auto" placeholder="Choose a Subcounty" allowFiltering="true" filterBarPlaceholder="Select a Subcounty" popupHeight="300px"
                                          change="ParishChange">
                            <e-dropdownlist-fields text="SubcountyName" value="SubcountyId"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="ParishName" asp-for="ParishName" cssClass="e-outline" placeholder="Parish Name" floatLabelType="Auto" name="ParishName" type='text' value="@Model.ParishName"></ejs-textbox>
                    </div>
                </div>

                <hr />

                <div class="row material2" hidden>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <ejs-textbox id="ParishId" asp-for="ParishId" cssClass="e-outline" placeholder="Parish ID" disabled floatLabelType="Auto" name="ParishId" type='text' value="@Model.ParishId"></ejs-textbox>
                    </div>
                </div>

            </div>

            @*</div>*@
        </div>
    </div>
</div>
<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>