﻿
@{
    ViewData["Title"] = "Facility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb" style="margin-top:5px;">
    @*<li class="breadcrumb-item">
        <a href="/DashBoard/Dashboard">Dashboard</a>
    </li>*@
    <li class="breadcrumb-item active" style="width:100%; background-color: black; color:white; font-family:Cambria; padding:5px; font:bolder">Add/Edit - Facility</li>
</ol>
@*<partial name="MessagePartial" />*@
<ejs-grid id="MainGrid"
           allowPaging="true" allowResizing="true" allowTextWrap="true" gridLines="Both"
          allowSorting="true" allowReordering="true" allowGrouping="true" showColumnChooser="true"
          toolbar="@(new List<string>() { "Search", "Add", "Edit", "Delete","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport","ColumnChooser"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBegin" load="onLoad">
    <e-grid-searchSettings fields="@(new string[] {"FacilityCode","OperationalArea","Facility", "EstimatedPopulation" , "VillageId", "ParishId" , "SubcountyId","County","DistrictId"})" operator="contains" ignoreCase="true"></e-grid-searchSettings>

    <e-data-manager url="/Utilities/FacilityDataSource" insertUrl="/Utilities/DialogInsertFacility" updateUrl="/Utilities/DialogUpdateFacility" adaptor="UrlAdaptor"></e-data-manager>

    <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4"/>
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column type="checkbox" width="50"></e-grid-column>
        <e-grid-column field="FacilityCode" width="280" headerText="Facility Code" visible="false" isPrimaryKey="true" isIdentity="true"></e-grid-column>
        <e-grid-column field="OperationalArea" headerText="Operational Area" foreignKeyField="OperationalCode" foreignKeyValue="OperationalArea" dataSource="@ViewBag.operarea"></e-grid-column>
        <e-grid-column field="Facility" headerText="Facility" allowEditing="false" visible="true"></e-grid-column>
        <e-grid-column field="EstimatedPopulation" headerText="Estimated Population" allowEditing="false" visible="true"></e-grid-column>
        <e-grid-column field="DistrictId" headerText="District" foreignKeyField="DistrictId" foreignKeyValue="DistrictName" dataSource="@ViewBag.district"></e-grid-column>
        <e-grid-column field="CountyId" headerText="County" foreignKeyField="CountyId" foreignKeyValue="CountyName" dataSource="@ViewBag.county"></e-grid-column>
        <e-grid-column field="SubcountyId" headerText="Subcounty" foreignKeyField="SubcountyId" foreignKeyValue="SubcountyName" dataSource="@ViewBag.subcounty"></e-grid-column>
        <e-grid-column field="ParishId" headerText="Parish" foreignKeyField="ParishId" foreignKeyValue="ParishName" dataSource="@ViewBag.parish"></e-grid-column>
        <e-grid-column field="VillageId" headerText="Village" foreignKeyField="VillageId" foreignKeyValue="VillageName" dataSource="@ViewBag.village"></e-grid-column>

    </e-grid-columns>
</ejs-grid>


<script>
    function onLoad(args) {
        setToolbarItemsAdmin();
    }
    //County Change
    function CountyChange(e) {
        $.ajax({
            url: 'getcountyfac?DistrictId=' + e.value,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (data) {

                var DistrictObj = document.getElementById("CountyId").ej2_instances[0];
                DistrictObj.dataSource = data;

            },
        });
    }


    //Division Change
    function DivisionChange(e) {
        $.ajax({
            url: 'getdivisionfac?CountyId=' + e.value,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (data) {

                var CountyObj = document.getElementById("SubcountyId").ej2_instances[0];
                CountyObj.dataSource = data;

            },
        });
    }

    //Parish Change
    function ParishChange(e) {
        $.ajax({
            url: 'getparishfac?SubcountyId=' + e.value,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (data) {

                var SubCountyObj = document.getElementById("ParishId").ej2_instances[0];
                SubCountyObj.dataSource = data;

            },
        });
    }

    //Village Change
    function VillageChange(e) {
        $.ajax({
            url: 'getvillagefac?ParishId=' + e.value,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (data) {

                var ParishObj = document.getElementById("VillageId").ej2_instances[0];
                ParishObj.dataSource = data;

            },
        });
    }

</script>


<script>
    function toolbarClick(args) {
        if (args.item.id === this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id === this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id === this.element.id + '_excelexport') {
            this.excelExport();
        }
    }


    function onEdit(args) {
        if (args.requestType === 'beginEdit' || args.requestType === 'add') {
            let spinner = ej.popups.createSpinner({ target: args.dialog.element });
            //ej.popups.showSpinner(args.dialog.element);

            //#####
           var data = args.rowData;

            window.args = args.requestType;

            // For custom save button
            args.dialog.btnObj[0].destroy();
            args.dialog.btnObj[0].element.id = "save";

            var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                content: 'Save',
                enableProgress: true,
                animationSettings: { effect: 'SlideRight' },
                spinSettings: { position: 'Center' },
                cssClass: 'e-success',
            }); progressSaveButton.appendTo('#save');

            // For custom cancel button
            args.dialog.btnObj[1].destroy();
            args.dialog.btnObj[1].element.id = "cancel";

            var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                content: 'Cancel',
                enableProgress: true,
                animationSettings: { effect: 'SlideRight' },
                spinSettings: { position: 'Center' },
                cssClass: 'e-danger',

            });
            progressCancelButton.appendTo('#cancel');

            // saving the edit action
            document.getElementById('save').addEventListener('click', function (args) {
                //onclick = savess();
            }.bind(this));

            // Cancelling the edit action
            document.getElementById('cancel').addEventListener('click', function (args) {
                //onclick = cancelss();

            }.bind(this));

             //#####


            if (args.requestType === 'beginEdit') {

                args.dialog.header = args.requestType === 'beginEdit' ? 'Edit ' + args.rowData['Facility'] : 'Facility';

                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("EditFacilityPartial", "Utilities")", //render the partial view
                        type: "POST",
                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('FacilityCode').focus();
                        ej.popups.hideSpinner(args.dialog.element);

                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }

            if (args.requestType === 'add') {

                args.dialog.header = 'Add a Facility'

                               
                //$.ajax({
                //    url: "CheckFacilityCodee",
                //    type: "Get",
                //    dataType: "json",
                //    success: function (data) {
                //        alert(data);
                //        var count = (data + 1);
                //        $('#FacilityCode').val(count);
                //        alert(count);
                //        //cancelss();
                //    }
                //});


                  var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddFacilityPartial", "Utilities")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('FacilityCode').focus();
                        ej.popups.hideSpinner(args.dialog.element);

                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
        }
        else if(args.requestType=="save") {
             var grid = document.getElementById("MainGrid").ej2_instances[0];
              grid.refresh(); // refresh the Grid.
         }
    }

    function appendElement(elementString, form) {
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
    }

      function OnBegin(args) {
          if (args.requestType == 'save') {
   
              var opeareacode = document.getElementById("OperationalArea").ej2_instances[0];
              var opeareavalue = opeareacode.value;

              var discode = document.getElementById("DistrictId").ej2_instances[0];
              var discodevalue = discode.value;

               var coucode = document.getElementById("CountyId").ej2_instances[0];
              var coucodevalue = coucode.value;

               var subcoucode = document.getElementById("SubcountyId").ej2_instances[0];
              var subcoucodevalue = subcoucode.value;

               var parcode = document.getElementById("ParishId").ej2_instances[0];
              var parcodevalue = parcode.value

              var villcode = document.getElementById("VillageId").ej2_instances[0];
              var villcodevalue = villcode.value;



              if ((opeareavalue == null || opeareavalue == "0" || opeareavalue == "" || opeareavalue == " ")
                  && (discodevalue == null || discodevalue == "0" || discodevalue == "" || discodevalue == " ")
                  && (coucodevalue == null || coucodevalue == "0" || coucodevalue == "" || coucodevalue == " ")
                  && (subcoucodevalue == null || subcoucodevalue == "0" || subcoucodevalue == "" || subcoucodevalue == " ")
                  && (parcodevalue == null || parcodevalue == "0" || parcodevalue == "" || parcodevalue == " ")
                   &&(villcodevalue == null || villcodevalue == "0" || villcodevalue == "" || villcodevalue == " ")
              ) {

                 alert("Please fill in all fields marked with an asterisk (*)")
                 args.cancel = true;
              }

               else if ((opeareavalue == null || opeareavalue == "0" || opeareavalue == "" || opeareavalue == " ")) {

                 alert("Please select an operation area")
                 args.cancel = true;
              }

               else if ((discodevalue == null || discodevalue == "0" || discodevalue == "" || discodevalue == " ")) {

                 alert("Please select a district")
                 args.cancel = true;
              }

               else if ((coucodevalue == null || coucodevalue == "0" || coucodevalue == "" || coucodevalue == " ")) {

                 alert("Please select a county")
                 args.cancel = true;
              }

               else if ((subcoucodevalue == null || subcoucodevalue == "0" || subcoucodevalue == "" || subcoucodevalue == " ")) {

                 alert("Please select a subcounty")
                 args.cancel = true;
              }

               else if ((parcodevalue == null || parcodevalue == "0" || parcodevalue == "" || parcodevalue == " ")) {

                 alert("Please select a parish")
                 args.cancel = true;
              }

               else if ((villcodevalue == null || villcodevalue == "0" || villcodevalue == "" || villcodevalue == " ")) {

                 alert("Please select a village")
                 args.cancel = true;
              }

        }
    }

</script>


<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>
<style type="text/css">
</style>

@*Change size of the add and edit dialog*@

<style>
    #MainGrid_dialogEdit_wrapper {
        min-height: 400px;
        min-width: 50%;
    }
</style>
<script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>