﻿
@{
    ViewData["Title"] = "Region";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb" style="margin-top:5px;">
    @*<li class="breadcrumb-item">
        <a href="/DashBoard/Dashboard">Dashboard</a>
    </li>*@
    <li class="breadcrumb-item active" style="width:100%; background-color: black; color:white; font-family:Cambria; padding:5px; font:bolder">Add/Edit - Region</li>
</ol>
@*<partial name="MessagePartial" />*@
<ejs-grid id="MainGrid"
           allowPaging="true" allowResizing="true" allowTextWrap="true" gridLines="Both"
          allowSorting="true" allowReordering="true" allowGrouping="true" showColumnChooser="true"
          toolbar="@(new List<string>() { "Search", "Add", "Edit", "Delete","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport","ColumnChooser"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBegin" load="onLoad">

    <e-data-manager url="/Utilities/RegionDataSource" insertUrl="/Utilities/DialogInsertRegion" updateUrl="/Utilities/DialogUpdateRegion" adaptor="UrlAdaptor"></e-data-manager>

    <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4"/>
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column type="checkbox" width="50"></e-grid-column>
        <e-grid-column field="RegionId" width="280" headerText="Region ID" visible="false" isPrimaryKey="true" isIdentity="true"></e-grid-column>
        <e-grid-column field="RegionName" headerText="Region Name" allowEditing="false" visible="true"></e-grid-column>
      
    </e-grid-columns>
</ejs-grid>

<script>
    function onLoad(args) {
        setToolbarItemsAdmin();
    }
    function toolbarClick(args) {
        if (args.item.id === this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id === this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id === this.element.id + '_excelexport') {
            this.excelExport();
        }
    }


    function onEdit(args) {
        if (args.requestType === 'beginEdit' || args.requestType === 'add') {
            let spinner = ej.popups.createSpinner({ target: args.dialog.element });
            //ej.popups.showSpinner(args.dialog.element);

            //Change the Save and Button Appearance Start

           var data = args.rowData;

            window.args = args.requestType;

            // For custom save button
            args.dialog.btnObj[0].destroy();
            args.dialog.btnObj[0].element.id = "save";

            var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                content: 'Save',
                enableProgress: true,
                animationSettings: { effect: 'SlideRight' },
                spinSettings: { position: 'Center' },
                cssClass: 'e-success',
            }); progressSaveButton.appendTo('#save');

            // For custom cancel button
            args.dialog.btnObj[1].destroy();
            args.dialog.btnObj[1].element.id = "cancel";

            var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                content: 'Cancel',
                enableProgress: true,
                animationSettings: { effect: 'SlideRight' },
                spinSettings: { position: 'Center' },
                cssClass: 'e-danger',

            });
            progressCancelButton.appendTo('#cancel');

            // saving the edit action
            document.getElementById('save').addEventListener('click', function (args) {
                //onclick = savess();
            }.bind(this));

            // Cancelling the edit action
            document.getElementById('cancel').addEventListener('click', function (args) {
                //onclick = cancelss();

            }.bind(this));

             //Change the Save and Button Appearance End


            if (args.requestType === 'beginEdit') {

                    args.dialog.header = args.requestType === 'beginEdit' ? 'Edit ' + args.rowData['RegionName'] : 'Country';

                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("EditRegionPartial", "Utilities")", //render the partial view
                        type: "POST",
                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('RegionId').focus();
                        ej.popups.hideSpinner(args.dialog.element);

                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }

            if (args.requestType === 'add') {

                args.dialog.header = 'Add a Region'
                
                  var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddRegionPartial", "Utilities")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('RegionId').focus();
                        ej.popups.hideSpinner(args.dialog.element);

                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
        }
        else if(args.requestType=="save") {
             var grid = document.getElementById("MainGrid").ej2_instances[0];
              grid.refresh(); // refresh the Grid.
         }
    }

    function appendElement(elementString, form) {
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
    }

      function OnBegin(args) {
          if (args.requestType == 'save') {
              
               var regcode = document.getElementById("RegionId").ej2_instances[0];
               var regvalue = regcode.value;

              var regname = document.getElementById("RegionName").ej2_instances[0];
              var regnamevalue = regname.value;

              // if ((regvalue == null || regvalue == "0" || regvalue == "" || regvalue == " ") &&
              //    (regnamevalue == null || regnamevalue == "0" ||regnamevalue == ""||regnamevalue == " ")) {
              //     alert("Please fill in the region code and region name")
              //    args.cancel = true;

              //}

              // else if (regvalue == null || regvalue == "0" ||regvalue == ""||regvalue == " ") {

              //   alert("Please fill in the region code")
              //   args.cancel = true;
              //}

               if (regnamevalue == null || regnamevalue == "0" ||regnamevalue == ""||regnamevalue == " ") {

                 alert("Please fill in the region name")
                 args.cancel = true;
            }

        }
    }

</script>


<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>
<style type="text/css">
</style>

@*Change size of the add and edit dialog*@

<style>
    #MainGrid_dialogEdit_wrapper {
        min-height: 400px;
        min-width: 50%;
    }
</style>
<script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>