﻿
@model CHMIS.Models.CorePublicTransport
@using Syncfusion.EJ2
@using Newtonsoft.Json


    <div id="defaultTab" style="width: 100%;  padding-left:3%; padding-right:3%">

        <div class="panel-group" id="accordion">

            <div class="panel panel-default" id="complainant_Details">
                <div class="panel-heading">
                    <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                        <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                            1. Public Transport Regestration Details
                        </a>
                    </h5>
                </div>

                <div id="collapse2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="Code" ejs-for="Code" cssClass="e-filled" placeholder="Code" floatLabelType="Auto" disabled type="text" value="@Model.Code.ToString()"></ejs-textbox>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datetimepicker id="TransportDate" max="DateTime.Now" value="@Model.TransportDate" cssClass="e-outline" ejs-for="TransportDate" name="TransportDate" format="yyyy-MM-dd hh:mm" placeholder="Date" floatLabelType="Auto"></ejs-datetimepicker>
                            </div>

                        </div>
                        <hr />

                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="BusCompany" ejs-for="BusCompany" cssClass="e-outline" placeholder="Bus Company" floatLabelType="Auto" type="text" value="@Model.BusCompany"></ejs-textbox>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="BusNo" ejs-for="BusNo" cssClass="e-outline" placeholder="Bus No. Plate" floatLabelType="Auto" type="text" value="@Model.BusNo"></ejs-textbox>
                            </div>

                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="Origin" ejs-for="Origin" cssClass="e-outline" placeholder="Terminal/Park/ Stage of Origin" floatLabelType="Auto" name="Origin" type="text" value="@Model.Origin"></ejs-textbox>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="Destination" ejs-for="Destination" cssClass="e-outline" placeholder="Destination Terminal/Park/ Stage of Destination" floatLabelType="Auto" name="Destination" type="text" value="@Model.Destination"></ejs-textbox>
                            </div>

                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="DriverName" ejs-for="DriverName" cssClass="e-outline" placeholder="Driver's Name" floatLabelType="Auto" name="DriverName" type="text" value="@Model.DriverName"></ejs-textbox>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-maskedtextbox id="DriverTel" mask="000-000-0000" ejs-for="DriverTel" cssClass="e-outline" placeholder="Driver's Telephone No." floatLabelType="Auto" value="@Model.DriverTel"></ejs-maskedtextbox>
                            </div>
                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="DriverAddress" ejs-for="DriverAddress" cssClass="e-outline" placeholder="Driver's Address" floatLabelType="Auto" name="DriverAddress" type="text" value="@Model.DriverAddress"></ejs-textbox>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="ConductorName" ejs-for="ConductorName" cssClass="e-outline" placeholder="Conductor's Name" floatLabelType="Auto" name="ConductorName" type="text" value="@Model.ConductorName"></ejs-textbox>
                            </div>

                        </div>
                        <hr />
                        <div class="row material2">

                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-maskedtextbox id="ConductorTel" mask="000-000-0000" ejs-for="ConductorTel" cssClass="e-outline" placeholder="Conductor's Telephone No." floatLabelType="Auto" value="@Model.ConductorTel"></ejs-maskedtextbox>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-textbox id="ConductorAddress" ejs-for="ConductorAddress" cssClass="e-outline" placeholder="Conductor's Address" floatLabelType="Auto" name="ConductorAddress" type="text" value="@Model.ConductorAddress"></ejs-textbox>
                            </div>
                        </div>
                        <hr />
                        <div class="row material2">
                            <div class="form-group col-md-12">
                                <ejs-textbox id="GeneralComments" multiline="true" ejs-for="GeneralComments" cssClass="e-outline" placeholder="General Comments" floatLabelType="Auto" name="GeneralComments" type="text" value="@Model.GeneralComments"></ejs-textbox>
                            </div>

                        </div>
                        <hr />
                    </div>
                </div>
            </div>

        </div>
        <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title"> 2. Passenger Details </h5>
        <hr />
        <div id="DetailsGrid"> </div>
        <hr />
    </div>
<ejs-scripts></ejs-scripts>
<script>
        function onFileRemove(args) {
            args.postRawFile = false;
        }
        //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>
