﻿
@model CHMIS.Models.CorePublicTransportDetials

@using Syncfusion.EJ2
@using Newtonsoft.Json


<div id="default" style="width: 100%;  padding-left:3%; padding-right:3%">
    <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
        1. Public Transport Passenger Regestration Details
    </h5>
    <div class="panel-body">
        <hr />
        <div class="row material2">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6" hidden="hidden">
                <ejs-textbox id="BusCode" ejs-for="BusCode" cssClass="e-filled" placeholder="Code" floatLabelType="Auto" disabled type="text" value="@Model.BusCode.ToString()"></ejs-textbox>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-textbox id="PassengerCode" value="@Model.PassengerCode" cssClass="e-outline" ejs-for="PassengerCode" name="PassengerCode" disabled placeholder="Passenger Code" floatLabelType="Auto"></ejs-textbox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-textbox id="NationalId" ejs-for="NationalId" cssClass="e-outline" placeholder="National ID" floatLabelType="Auto" type="text" value="@Model.NationalId"></ejs-textbox>
            </div>
        </div>
        <hr />

        <div class="row material2">

            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-maskedtextbox id="Tel" mask="000-000-0000" ejs-for="Tel" cssClass="e-outline" placeholder="Passenger's Telephone No." floatLabelType="Auto" value="@Model.Tel"></ejs-maskedtextbox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-textbox id="WhereFrom" ejs-for="WhereFrom" cssClass="e-outline" placeholder="Terminal/Park/ Stage of Origin" floatLabelType="Auto" name="WhereFrom" type="text" value="@Model.WhereFrom"></ejs-textbox>
            </div>
        </div>
        <hr />
        <div class="row material2">

            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-textbox id="WhereTo" ejs-for="WhereTo" cssClass="e-outline" placeholder="Destination Terminal/Park/ Stage of Destination" floatLabelType="Auto" name="WhereTo" type="text" value="@Model.WhereTo"></ejs-textbox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-dropdownlist id="WearingMask" value="@Model.WearingMask" cssClass="e-outline" dataSource="@ViewBag.YesNo" placeholder="Wearing Mask?" filterBarPlaceholder="Search Wearing Mask?" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                    <e-dropdownlist-fields text="YesNo" value="Id"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
        </div>
        <hr />
        <div class="row material2">

            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-textbox id="Temperature" ejs-for="Temperature" cssClass="e-outline" placeholder="Temperature" floatLabelType="Auto" name="Temperature" type="text" value="@Model.Temperature"></ejs-textbox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-textbox id="Remarks" ejs-for="Remarks" cssClass="e-outline" placeholder="General Comments" floatLabelType="Auto" name="Remarks" type="text" value="@Model.Remarks"></ejs-textbox>
            </div>
        </div>


        <hr />
    </div>
</div>

<ejs-scripts></ejs-scripts>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
        //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>
