﻿
@{
    ViewData["Title"] = "Public Transport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;"> <stong> <h5>Public Transport</h5> </stong></li>
</ol>
<style>
    #DetailsGrid_dialogEdit_wrapper {
        min-height: 80%;
        min-width: 80%;
    }
</style>
<div>
    <ejs-grid id="Grid" actionComplete="actionComplete" actionBegin="begin" load="onLoad" allowPaging="true" allowResizing="true" allowSorting="true" gridLines="Both"
              showColumnChooser="true" toolbar="@(new List<string>() {  "Search", "Add", "Edit", "Delete","Update","Cancel" , "ExcelExport" , "CsvExport" ,"PdfExport","ColumnChooser" })"
              allowExcelExport="true" allowPdfExport="true" toolbarClick="toolbarClick" allowSelection="true">
        @*<e-grid-pagesettings pageSize="7" />
            <e-grid-editSettings allowAdding="false" allowDeleting="false" allowEditing="true" mode="Dialog" template='#dialogtemplate' o></e-grid-editSettings>
            <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>*@
        <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4" />
        <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
        <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
        <e-grid-columns>
            <e-data-manager url="/PublicTransport/GetPublicTransport" insertUrl="/PublicTransport/DialogInsert" updateUrl="/PublicTransport/DialogUpdate" removeUrl="/PublicTransport/DeleteUrl" adaptor="UrlAdaptor"></e-data-manager>
            <e-grid-column type="checkbox" width="50"></e-grid-column>
            <e-grid-column field="Code" headerText="Code" visible="false" isPrimaryKey="true" isIdentity="true"></e-grid-column>
            <e-grid-column field="TransportDate" headerText="Date" editType="datepickeredit" format="dd/MM/yyyy"></e-grid-column>
            <e-grid-column field="BusCompany" headerText="Bus Company"></e-grid-column>
            <e-grid-column field="BusNo" headerText="Bus No. Plate"></e-grid-column>
            <e-grid-column field="Origin" headerText="Bus Origin"></e-grid-column>
            <e-grid-column field="Destination" headerText="Bus Destination"></e-grid-column>
            <e-grid-column field="DriverName" headerText="Bus Driver Name"></e-grid-column>
            <e-grid-column field="ConductorName" headerText="Bus Conductor Name"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>
<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>


<script>
    function onLoad(args) {
        setToolbarItems();
    }
    function OnChildBeging(args) {

        //var grid = this;//document.getElementsByClassName('e-grid')[0].ej2_instances[0]
        var grid = this;
        if (args.requestType == 'delete') {
            //debugger
            grid.dataSource.dataSource.headers = [];
            grid.dataSource.dataSource.headers.push({ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val(), "additional_key": args.data[0].BusCode, "additional_key1": args.data[0].PassengerCode });
        }

        if (args.requestType == "delete") {
            var deleteMessage = "Please confirm you would wish to delete this record for " + args.data[0].PassengerCode
            if (confirm(deleteMessage)) {
                //if yes ,record will delete
            }
            else
                args.cancel = true // if no the record wont delete
        }

        if (args.requestType == 'save') {

            //var DriverName = document.getElementById("DriverName").ej2_instances[0].value;
            //if (DriverName == null || DriverName == "0" || DriverName == "" || DriverName == undefined) {
            //    alert("Bus Driver Name is required, Please provide it");
            //        args.cancel = true;
            //    }

            //}
        }

          if (args.requestType == "cancel") {

              if (window.requestType == 'add') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveRecordChild", "PublicTransport")',
                        data: {
                            "BusCode": $("#BusCode").val(),
                            "PassengerCode": $("#PassengerCode").val()
                        }
                        })
                            .done(function (response) {
                            })
                            .fail(function (a, b, c) {
                            alert("fail");
                        });
                    }
        }
    }
    function begin(args) {
        var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0]
        if (args.requestType == 'delete') {
            //debugger
            grid.dataSource.dataSource.headers = [];
            grid.dataSource.dataSource.headers.push({ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val(), "additional_key": args.data[0].Code });
        }

        if (args.requestType == "delete") {
            var deleteMessage = "Please confirm you would wish to delete this record for " + args.data[0].DriverName
            if (confirm(deleteMessage)) {
                //if yes ,record will delete
            }
            else
                args.cancel = true // if no the record wont delete
        }

         if (args.requestType == "cancel") {

             if (window.actionRequest == 'add') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveRecord", "PublicTransport")',
                        data: {
                            "Code": $("#Code").val()
                        }
                        })
                            .done(function (response) {
                            })
                            .fail(function (a, b, c) {
                            alert("fail");
                        });
                    }
        }


    }
    function LoadWorkplanDetailsGrid() {
        var grid = new ej.grids.Grid({
            dataSource: new ej.data.DataManager({ url: "/PublicTransport/DetailsDatasource?Code=" + $("#Code").val(), insertUrl: "/PublicTransport/DialogPassengerInsert", updateUrl: "/PublicTransport/DialogPassengerUpdate", removeUrl:"/PublicTransport/DeleteChildUrl", adaptor: new ej.data.UrlAdaptor() }),
            allowGrouping: true,
            rowHeight:20,
            isResponsive: true,
            enableAltRow: true,
            allowScrolling: true,
            textWrapSettings: { wrapMode: "both" },
            allowPaging: true, pageSettings: { pageSize: 5 },
                allowResizeToFit: true,
                showStackedHeader: true,
                enableResponsiveRow: true,
            allowResizeToFit: true,
            load: setToolbarItemsChild,
            editSettings: { allowAdding: true, allowDeleting: true, allowEditing: true, mode: "Dialog", template: '#detailtemplate' },
            // cellSave:oncellSave,
            //commandClick:DownloadFile,
            toolbar: ["Add", "Edit" ,"Delete" /* "update", "cancel"*/],
            columns: [
                { type: "checkbox", width: 50 },
                { field: "BusCode", visible: false, headerText: 'Code', width: 100, defaultValue: $('#Code').val(), isPrimaryKey: true },
                { field: "PassengerCode", visible: false, headerText: 'PassengerCode', width: 50, isPrimaryKey: true  },
                { field: "NationalId", visible: true, headerText: 'National Id', width: 150},
                { field: "Tel", visible: true, headerText: 'Telephone' , width: 150},
                { field: "WhereFrom", visible: true, headerText: 'Where From', width: 150},
                { field: "WhereTo", visible: true, headerText: 'Where To', width: 150 },
                { field: "WearingMask", headerText: "Wearing Mask?", foreignKeyField: "Id", foreignKeyValue: "YesNo", dataSource:@Html.Raw(Json.Serialize(@ViewBag.YesNo))},
                { field: "Temperature", headerText: "Temperature" },

          ],
                //width: "80%",
              actionComplete: addDetails,
            actionBegin: OnChildBeging,
      });
        grid.appendTo('#DetailsGrid');
    }

        function actionComplete(args) {
            if (args.requestType === 'beginEdit' || args.requestType === 'add') {
                let spinner = ej.popups.createSpinner({ target: args.dialog.element });
                //ej.popups.showSpinner(args.dialog.element);

                window.actionRequest = args.requestType;
                //#####
                var data = args.rowData;

                window.args = args.requestType;

                // For custom save button
                args.dialog.btnObj[0].destroy();
                args.dialog.btnObj[0].element.id = "save";

                var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Save',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-success',
                }); progressSaveButton.appendTo('#save');

                // For custom cancel button
                args.dialog.btnObj[1].destroy();
                args.dialog.btnObj[1].element.id = "cancel";

                var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Cancel',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-danger',

                });
                progressCancelButton.appendTo('#cancel');

                // saving the edit action
                document.getElementById('save').addEventListener('click', function (args) {
                    //onclick = savess();
                }.bind(this));

                // Cancelling the edit action
                document.getElementById('cancel').addEventListener('click', function (args) {
                    //onclick = cancelss();

                }.bind(this));

             //#####

                if (args.requestType === 'beginEdit') {
                    //debugger;
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPublicTransport", "PublicTransport")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        //debugger;
                        appendElement(data, args.form); //Render the edit form with selected record
                        //args.form.elements.namedItem('Notes').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                        LoadWorkplanDetailsGrid();
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
                if (args.requestType === 'add') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPublicTransport", "PublicTransport")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        //args.form.elements.namedItem('Notes').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                        LoadWorkplanDetailsGrid();
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
            }
        }
    function addDetails(args) {
              if (args.requestType === 'beginEdit' || args.requestType === 'add') {
                  let spinner = ej.popups.createSpinner({ target: args.dialog.element });
                  ej.popups.showSpinner(args.dialog.element);

                  window.requestType = args.requestType;

                if (args.requestType === 'beginEdit') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddDetails", "PublicTransport")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        //debugger;
                        appendElement2(data, args.form); //Render the edit form with selected record
                        //args.form.elements.namedItem('ActvityId').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
                if (args.requestType === 'add') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddDetails", "PublicTransport")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        //debugger;
                        appendElement2(data, args.form); //Render the edit form with selected record
                        //args.form.elements.namedItem('ActvityId').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
            }
    }
        function appendElement(elementString, form) {
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
        }
    function appendElement2(elementString, form) {
        //debugger;
           document.getElementById("detailTemp").innerHTML = elementString;
            //form.querySelector("#detailTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            //var serverScript = form.querySelector("#detailTemp").querySelector('script');
            var serverScript = document.getElementById("detailTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
    }

    function toolbarClick(args) {
        if (args.item.id == this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id == this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id == this.element.id + '_excelexport') {
            this.excelExport();
        }
    }

</script>

<script id='detailtemplate' type="text/x-template">
    <div id="detailTemp">
    </div>
</script>

<script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
</script>




