﻿
@model CHMIS.Models.ViewSitRepAdd
@using Syncfusion.EJ2
@using Newtonsoft.Json

<div id="defaultTab" style="width: 100%;  padding-left:3%; padding-right:3%">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default" id="complainant_Details">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title ">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapse2">
                        1. Summary of statistics 
                    </a>
                </h5>
            </div>

            <div id="collapse2" class="panel-collapse">
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        @if (@Model.ReportingDate == System.DateTime.Now.Date)
                        {
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datepicker id="ReportingDate" value="@Model.ReportingDate" cssClass="e-outline" ejs-for="ReportingDate" max="DateTime.Now" format="yyyy-MM-dd" placeholder="Date of Reporting" enabled="true" floatLabelType="Auto"></ejs-datepicker>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datepicker id="ReportingDate" value="@System.DateTime.Now" cssClass="e-outline" ejs-for="ReportingDate" max="DateTime.Now" format="yyyy-MM-dd" placeholder="Date of Reporting" enabled="false" floatLabelType="Auto"></ejs-datepicker>
                            </div>
                        }
                        @if (@Model.Division == null)
                        {
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="Division" ejs-for="Division" value="@Model.Division" cssClass="e-outline" dataSource="@ViewBag.division" placeholder="Division" filterBarPlaceholder="Search Division" allowFiltering="true" enabled="true" floatLabelType="Auto" popupHeight="300px">
                                    <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        }
                        else
                        { <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-dropdownlist id="Division" ejs-for="Division" value="@Model.Division" cssClass="e-outline" dataSource="@ViewBag.division" placeholder="Division" filterBarPlaceholder="Search Division" allowFiltering="true" enabled="false" floatLabelType="Auto" popupHeight="300px">
                                    <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                          </div>
                            }
                    </div>
                    @*<hr />
                    <div class="row material2">
                        @if (@Model.DateofConfirmation == null)
                        {
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datepicker id="DateofConfirmation" value="@System.DateTime.Today" cssClass="e-outline" ejs-for="DateofConfirmation" max="DateTime.Now" format="yyyy-MM-dd" placeholder="Date of Confirmation" floatLabelType="Auto"></ejs-datepicker>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                <ejs-datepicker id="DateofConfirmation" value="@Model.DateofConfirmation" cssClass="e-outline" ejs-for="DateofConfirmation" max="DateTime.Now" format="yyyy-MM-dd" placeholder="Date of Confirmation" floatLabelType="Auto"></ejs-datepicker>
                            </div>
                        }

                    </div>*@
                    <hr />
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="complaintSymptomsDocuments">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapseDocuments">
                        2. Data Capture
                    </a>
                </h5>
            </div>
            <div id="collapseDocuments" class="panel-collapse collapse in">
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="form-group col-md-12">
                            <h6><strong>Data Capture</strong></h6>
                            <div id="SitGrd"> </div>
                        </div>

                    </div>
                   
                    <hr />
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="complaintEvacuated">
            <div class="panel-heading">
                <h5 style="width:100%; background-color: cadetblue; color:white; font-family:Cambria; padding:5px;" class="panel-title">
                    <a data-toggle="collapse" class="dialogClass" data-parent="#accordion" href="#collapseEvacuated">
                        3. Pillars Details
                    </a>
                </h5>
            </div>
            <div id="collapseEvacuated" class="panel-collapse collapse in">
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="form-group col-md-12">
                            <ejs-textbox id="WashComments" ejs-for="WashComments" multiline="true" cssClass="e-outline" placeholder="WASH" floatLabelType="Auto" type="text"></ejs-textbox>
                        </div>
                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="form-group col-md-12">
                            <ejs-textbox id="RiskComments" ejs-for="RiskComments" multiline="true" cssClass="e-outline" placeholder="RISK Communication" floatLabelType="Auto" type="text"></ejs-textbox>
                        </div>
                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="form-group col-md-12">
                            <ejs-textbox id="UpdateComments" ejs-for="UpdateComments" multiline="true" cssClass="e-outline" placeholder="CO-ORDINATION & LEADERSHIP" floatLabelType="Auto" type="text"></ejs-textbox>
                        </div>
                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="form-group col-md-12">
                            <ejs-textbox id="GeneralComments" ejs-for="GeneralComments" multiline="true" cssClass="e-outline" placeholder="Challenges & Recommendations" floatLabelType="Auto" type="text"></ejs-textbox>
                        </div>
                    </div>
                    <hr />

                </div>

            </div>
        </div>
    </div>
</div>
<ejs-scripts></ejs-scripts>
<script>
        function onFileRemove(args) {
            args.postRawFile = false;
        }
        //var dropElement = document.getElementsByClassName('control-fluid')[0];
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>

