﻿
@{
    ViewData["Title"] = "SitRep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var content = "#SearchPanel";
}

@*<partial name="MessagePartial" />*@

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;"> <stong> SitRep - Summary of statistics of the Divisions that have submitted their reports as at -  @System.DateTime.Now.ToLongDateString(). </stong></li>
</ol>
@*<ejs-accordion id="defaultAccordion">
    <e-accordion-accordionitems>
        <e-accordion-accordionitem expanded="false" header=" Search Panel  - (Collapsible Search Panel)" content=@content></e-accordion-accordionitem>
    </e-accordion-accordionitems>
</ejs-accordion>*@

@*<div id="SearchPanel" style="min-width: 100%;display: none; padding-top:10px;">
    <div class="form-row">
        <div class="form-group col-md-5">
            <ejs-datepicker id="_ReportingDate" cssClass="e-outline" max="DateTime.Now" format="dd/MM/yyyy" value="@System.DateTime.Today" placeholder="Date of Reporting" floatLabelType="Auto"></ejs-datepicker>
        </div>
        <div class="form-group col-md-5">
            <ejs-dropdownlist id="_division" cssClass="e-outline" dataSource="@ViewBag.division" placeholder="Division" filterBarPlaceholder="Search Division" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
            </ejs-dropdownlist>
        </div>
        <div class="form-group col-md-2">
            <input type="button" class="btn btn-primary e-btn-medium" style="margin-top:8px;" value="Load Record" onclick="LoadSitRep()" />
        </div>
    </div>

</div>*@
<ejs-grid id="Grid" 
          allowPaging="true" allowResizing="true" allowTextWrap="true" showColumnChooser="true" gridLines="Both"
          allowSorting="true" allowReordering="true" allowGrouping="true"
          toolbar="@(new List<string>() { "Search","Add", "Edit", "Delete", "ExcelExport" , "CsvExport" ,"PdfExport", "ColumnChooser"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBeging" created="createSitRep" load="onLoad">
    <e-grid-searchSettings fields="@(new string[] {"CountyName","ReportingDate","DateAdded", "AddedBy", "DateEdited", "EditedBy" })" operator="contains" ignoreCase="true"></e-grid-searchSettings>
    <e-data-manager url="/SitRep/GetSitRepNewData" insertUrl="DialogInsert" updateUrl="DialogInsert" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-pagesettings pageSize="8" pageSizes="true" pageCount="4" />
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" showConfirmDialog="false" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        <e-grid-column type="checkbox" width="50"></e-grid-column>
        <e-grid-column field="Division" headerText="Division Name" visible="true" foreignKeyField="CountyId" foreignKeyValue="CountyName" dataSource="@ViewBag.division" allowEditing="true"></e-grid-column>
        <e-grid-column field="ReportingDate" headerText="Reporting Date" visible="true" allowEditing="true"  type="date" format='yyyy-MM-dd'></e-grid-column>
        <e-grid-column field="DateAdded" visible="true" allowEditing="true" headerText="Date Added/Sent" customFormat="@(new { type ="date", format="yyyy-MMM-dd hh:mm" })" type="date" format='yMd'></e-grid-column>
        <e-grid-column field="AddedBy" visible="true" allowEditing="true" headerText="Added-By"></e-grid-column>
        <e-grid-column field="DateEdited" visible="false" allowEditing="true" headerText="Date Edited" customFormat="@(new { type ="date", format="yyyy-MMM-dd hh:mm" })" type="date" format='yMd'></e-grid-column>
        <e-grid-column field="EditedBy" visible="false" allowEditing="true" headerText="Edited-By"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>
<script>
    function formatdate(value) {
        var d = new Date(value);
        var day = d.getDate();
        var month = d.getMonth() + 1;
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        var year = d.getFullYear();
        //return day + '/' + month + '/' + year;
        return year + '/' + month + '/' + day;
    }
    function formatSearchdate(value) {
        var d = new Date(value);
        var day = d.getDate();
        var month = d.getMonth() + 1;
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        var year = d.getFullYear();
        return day + '/' + month + '/' + year;
        //return year + '/' + month + '/' + day;
    }
    function load(args) {
        var instance = document.getElementById('Grid').ej2_instances[0];
        instance.element.addEventListener('mousedown', function (e) {
            if (e.target.classList.contains("e-rowcell")) {
                var index = parseInt(e.target.getAttribute("Index"));
                var colindex = parseInt(e.target.getAttribute("aria-colindex"));
                var field = instance.getColumns()[colindex].field;
                instance.editModule.editCell(index, field);
            };
        });
    }

    //function LoadSitRep() {
    //    var _xdate = document.getElementById("_ReportingDate").ej2_instances[0];
    //    //alert(formatdate(xdate.value));
    //    var _xdivision = document.getElementById("_division").ej2_instances[0];
    //    var grid = document.getElementById("Grid").ej2_instances[0];
    //    if (_xdate.value == null || _xdivision.value == null) {
    //        alert("Please Select the date and the Division");
    //    }
    //    else {
    //        grid.dataSource = new ej.data.DataManager({ url: "GetSitRepData?ReportingDate=" + formatdate(_xdate.value) + "&division=" + _xdivision.value, adaptor: new ej.data.UrlAdaptor() });
    //    }
    //}
    function toolbarClick(args) {
        if (args.item.id == this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id == this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id == this.element.id + '_excelexport') {
            this.excelExport();
        }

    }

</script>


<script>
    function createSitRep() {
        //$("#" + this._id + "_search").append("Search");
        $("#" + this.element.id + "_add").append("SitRep");
        $("#" + this.element.id + "_edit").append("SitRep");
        $("#" + this.element.id + "_delete").append("SitRep");
        $("#" + this.element.id + "_update").append("SitRep");
        $("#" + this.element.id + "_cancel").append("SitRep");
        //$("#" + this._id + "_printGrid").append("Print");
    }
     function OnBeging(args) {
         //call the child save here gwe ssebo
        //var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0]
        //if (args.requestType == 'delete') {
        //    //debugger
        //    grid.dataSource.dataSource.headers = [];
        //    grid.dataSource.dataSource.headers.push({ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val(), "additional_key": args.data[0].CaseNo});
        //}
        //if (args.requestType == "delete") {
        //    var deleteMessage = "Please confirm you would wish to delete this record for " + args.data[0].FirstName + "  " + args.data[0].LastName
        //    if (confirm(deleteMessage)) {
        //        //if yes ,record will delete
        //    }
        //    else
        //        args.cancel = true // if no the record wont delete
        //}

         @*if (args.requestType == "cancel") {

                if (window.requestType == 'add') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveRecord", "Cases")',
                        data: {
                            "CaseNo": $("#CaseNo").val()
                        }
                        })
                            .done(function (response) {
                            })
                            .fail(function (a, b, c) {
                            alert("fail");
                        });
                    }
        }*@

         if (args.requestType == 'save') {
             //debugger;
             //args.data["ReportingDate"] = document.getElementById("ReportingDate").ej2_instances[0].value;
             //args.data["Division"] = document.getElementById("Division").ej2_instances[0].value;
             //args.data["DateofConfirmation"] = document.getElementById("DateofConfirmation").ej2_instances[0].value;
             //args.data["WashComments"] = document.getElementById("WashComments").ej2_instances[0].value;
             //args.data["WashComments"] = document.getElementById("WashComments").ej2_instances[0].value;
             //args.data["UpdateComments"] = document.getElementById("UpdateComments").ej2_instances[0].value;
             //args.data["GeneralComments"] = document.getElementById("GeneralComments").ej2_instances[0].value;

             //var grid = document.getElementById("Grid").ej2_instances[0];
             //window.grd.editModule.batchSave();
             //grid.refresh();
             //grid.closeEdit();

            //args.data["ReportingDate"] = $("#ReportingDate").val();

            //Save validations
          //  var DateOfReporting = document.getElementById("DateOfReporting").ej2_instances[0].value;

          //  if (DateOfReporting == null || DateOfReporting == "0" || DateOfReporting == "" || DateOfReporting == "undifined") {
          //      alert("Date Of Reporting is required, Please provide the Date Of Reporting");
          //      args.cancel = true;
          //  }

          //else
          //  if (Sex == null || Sex == "0" || Sex == "" || Sex == "undifined") {
          //      alert("Gender is required, Please provide the Gender");
          //      args.cancel = true;
          //  }

        }
    }

     function onEdit(args) {
            if (args.requestType == 'beginEdit' || args.requestType == 'add') {
                window.requestType = args.requestType;
                let spinner = ej.popups.createSpinner({ target: args.dialog.element });
                //ej.popups.showSpinner(args.dialog.element);

                //#####
                var data = args.rowData;

                window.args = args.requestType;

                // For custom save button
                args.dialog.btnObj[0].destroy();
                args.dialog.btnObj[0].element.id = "save";

                var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Save',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-success',
                }); progressSaveButton.appendTo('#save');

                // For custom cancel button
                args.dialog.btnObj[1].destroy();
                args.dialog.btnObj[1].element.id = "cancel";

                var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Cancel',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-danger',

                });
                progressCancelButton.appendTo('#cancel');

                // saving the edit action

                //document.getElementById('save').addEventListener('click', function (args) {
                //    onclick = savess();
                //}.bind(this));

                var savebtn = document.getElementById('savebtn');
                if (savebtn == undefined) {
                    $($("#save").hide()).after('<button id="savebtn" type="button" onclick="savess();" class="btn btn-success btn-sm" > Save SitRep</button>');
                }

                // Cancelling the edit action
                document.getElementById('cancel').addEventListener('click', function (args) {
                    onclick = cancelss();

                }.bind(this));

             //#####

                if (args.requestType == 'beginEdit') {
                    var _Reporting = $("#ReportingDate").val(); // document.getElementById("ReportingDate").ej2_instances[0];
                    //_Reporting.enabled= true ;
                    //$("#Last_VL_Date").ejDatePicker({ enabled: true });
                    //$('#ReportingDate').attr("disabled", false);

                    //var datepickerObject = document.getElementById("ReportingDate").ej2_instances[0];
                    //datepickerObject.show();
                    //_Reporting.hide();
                    //var datepicker = new ej.calendars.DatePicker({ enabled: true });
                    //datepicker.appendTo('#ReportingDate');

                    //var datepicker = new ej.calendars.DatePicker({
                    //    placeholder: 'Choose a date',
                    //    floatLabelType: 'Always',
                    //    value: new Date(),
                    //    // sets the format.
                    //    format: 'yyyy-MM-dd',
                    //    enabled: true,
                    //});
                    //datepicker.appendTo('#ReportingDate');

                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "SitRep")", //render the partial view
                        type: "POST",

                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        //debugger;
                        appendElement(data, args.form); //Render the edit form with selected record
                        //args.form.elements.namedItem('Division').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                        LoadSitRep();
                        //LoadUploadedPhoto();
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
                if (args.requestType == 'add') {
                    //debugger;
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "SitRep")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        //args.form.elements.namedItem('Division').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                        LoadSitRep();
                        //LoadUploadedPhoto();
                    }).catch(function (xhr) {
                        //debugger;
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
        }
        else if(args.requestType=="save") {
                var grid = document.getElementById("Grid").ej2_instances[0];
               
                grid.refresh(); // refresh the Grid.

         }
    }
    function appendElement(elementString, form) {
        //debugger;
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
    }

    function LoadSitRep() {
        //debugger
        var xdate = document.getElementById("ReportingDate").ej2_instances[0];
        var xdivision = document.getElementById("Division").ej2_instances[0];

        var grid = new ej.grids.Grid({
            dataSource: new ej.data.DataManager({ url: "GetSitRep?division=" + xdivision.value + "&ReportingDate=" + formatSearchdate(xdate.value), batchUrl: "UpdateSitRep", adaptor: new ej.data.UrlAdaptor() }),
            //dataSource: new ej.data.DataManager({ url: "GetSitRep?division=" + xdivision.value + "&ReportingDate=" + xdate.value, batchUrl: "UpdateSitRep", adaptor: new ej.data.UrlAdaptor() }),
             @*dataSource: new ej.data.DataManager({
                       url: "GetData",
                          insertUrl: "@Url.Action("UpdateSitRep", "SitRep")",
                          updateUrl: "@Url.Action("UpdateSitRep", "SitRep")",
                          removeUrl: "@Url.Action("DeleteChildUrl", "Contacts")",
                        adaptor: new ej.data.UrlAdaptor()
                      }),*@
            load: load2,
            cellSave: oncellSave,
            editSettings: { allowEditing: true, allowColumnChooser: false, allowAdding: false, showConfirmDialog: false, allowDeleting: false, mode: 'Batch'/*, template: '#dialogtemplate'*/ },
            toolbar: ["Edit", "update",'Cancel',],
            allowFiltering: false,
            filterSettings: { type: 'Excel' },
            allowPaging: false,
            allowGrouping: true,
            isResponsive: true,
            enableAltRow: true,
            allowScrolling: true,
            textWrapSettings: { wrapMode: "both" },
            allowResizeToFit: true,
            showStackedHeader: true,
            enableResponsiveRow: true,
            allowResizeToFit: true,
            pageSettings: { pageSizes: true, pageSize: 65 },
            //selectionsettings: { type:'Single'},
            //cellSaved:cellSaved,
            showColumnChooser: false,
            //actionComplete: onChildEdit,
            //actionBegin: OnChildBeging,
            queryCellInfo: QueryCellEvent,
            rowDataBound: rowdatabound,
            cellEdit: xxCellEdit,
            allowEditing: true,
            showConfirmDialog: false,
            gridLines: 'Both',
            //cellSave: oncellSave,
            columns: [
                //{type:'checkbox', width:15},
                { field: 'SitRepCategoryId', allowEditing: true, visible: false, headerText: 'No', width: 60/*, isIdendity: true, isPrimaryKey: true */ },
                { field: 'Division', allowEditing: true, headerText: 'Division', width: 100, visible: false/*, isIdendity: true, isPrimaryKey: true*//*, defaultValue: xDivision */ },
                { field: 'ReportingDate', allowEditing: true, headerText: 'ReportingDate', width: 100, visible: false, format: "yyyy-MM-dd"/*, isIdendity: true, isPrimaryKey: true*//*, defaultValue: xReportingDate*/ },
                { field: 'SitRep', allowEditing: false, headerText: 'Variable', width: 150, visible: true },
                { field: 'Category', allowEditing: false, headerText: 'Category', width: 180 },
                { field: 'ValueResponse', allowEditing: true, headerText: 'No.', width: 90, type: 'number', editType: 'numericedit', edit: { params: { min: 0,/*validateDecimalOnType: true, decimals: 0, format: "N" */} } },
                //{ field: 'District', allowEditing: false, headerText: 'District', width: 100, visible: false },
            ],
        });
        grid.appendTo('#SitGrd');
    }

    function onChildLoad(args) {
        var instance = this;//document.getElementById('Grid').ej2_instances[0];
        window.grd = this;
        instance.element.addEventListener('mousedown', function (e) {
            if (e.target.classList.contains("e-rowcell")) {
                //if (instance.isEdit)
                //    instance.endEdit();
                var index = parseInt(e.target.getAttribute("Index"));
                instance.selectRow(index);
                instance.startEdit();
            };
        });
    }

    function load2(args) {
        var instance = this;//= document.getElementById('Grid').ej2_instances[0];
        window.grd = this;
        instance.element.addEventListener('mousedown', function (e) {
            if (e.target.classList.contains("e-rowcell")) {
                var index = parseInt(e.target.getAttribute("Index"));
                var colindex = parseInt(e.target.getAttribute("aria-colindex"));
                var field = instance.getColumns()[colindex].field;
                instance.editModule.editCell(index, field);
            };
        });
        
    }
    function QueryCellEvent(args) {
        var data = args.data;
        var grid = this;//document.getElementById("Grid").ej2_instances[0];
        var currentdata = grid.currentViewData;
        //console.log(currentdata);
        if (args.column.field == "SitRep" && args.data.SitRepCategoryId != null) {
            var value = currentdata.filter((m) => { return m.SitRepId == data.SitRepId });
            args.rowSpan = value.length;
        }

    }
    function rowdatabound(args) {
        if (args.data.Category != null && args.data.Category.includes("TOTAL")) {
            args.row.classList.add('GrandTotal');
        }
    }

</script>

<script>
    function onLoad(args) { setToolbarItems();}
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
     function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
    function xxCellEdit(args) {
        //debugger;
        var data = args.data;
        var grid = this;// document.getElementById("Grid").ej2_instances[0];
        var currentdata = grid.currentViewData;

        //if (args.columnName == "DateofConfirmation") {
        //    //debugger;
        //    if (args.rowData.SitRepCategoryId != 64) {
        //        args.cancel = true;
        //    }
        //}
        if (args.columnName == "ValueResponse") {
            //debugger;
            if (args.rowData.SitRepCategoryId == 64) {
                args.cancel = true;
            }

            if ((args.rowData.SitRepCategoryId == 4) || (args.rowData.SitRepCategoryId == 8) || (args.rowData.SitRepCategoryId == 12) || (args.rowData.SitRepCategoryId == 16) || (args.rowData.SitRepCategoryId == 20) || (args.rowData.SitRepCategoryId == 24) || (args.rowData.SitRepCategoryId == 28) || (args.rowData.SitRepCategoryId == 32) || (args.rowData.SitRepCategoryId == 36) || (args.rowData.SitRepCategoryId == 40) || (args.rowData.SitRepCategoryId == 68) ) {
                args.cancel = true;
            }
        }


    }

    function oncellSave(args) {
        
        //alert("Cell save");
        var xdate = document.getElementById("ReportingDate").ej2_instances[0];
        var xdivision = document.getElementById("Division").ej2_instances[0];
        var grd = this;
        var _edit = grd.editModule;
        //_edit.updateCell(grd.selectedRowIndex, "Division", xdivision.value);
        //_edit.updateCell(grd.selectedRowIndex, "ReportingDate", formatdate(xdate.value));
        debugger;
        //if (window.requestType == 'add')
        {
            if (window.Count > 0) {
                //alert(window.Count);
                for (i = 0; i < window.Count; i++) {
                    //$("#Grid").ejGrid("setCellValue", i, "Division", xdivision.value);
                    //$("#Grid").ejGrid("setCellValue", i, "ReportingDate", formatdate(xdate.value));
                    _edit.updateCell(i, "Division", xdivision.value);
                    //_edit.updateCell(i, "ReportingDate", formatdate(xdate.value));
                    _edit.updateCell(i, "ReportingDate", formatdate(xdate.value));
                }
            }
        }

        //if (window.requestType == 'beginEdit') {
        //    if (window.Count > 0) {
        //        //alert(window.Count);
        //        for (i = 0; i < window.Count; i++) {
        //            //$("#Grid").ejGrid("setCellValue", i, "Division", xdivision.value);
        //            //$("#Grid").ejGrid("setCellValue", i, "ReportingDate", formatdate(xdate.value));
        //            _edit.updateCell(i, "Division", xdivision.value);
        //            _edit.updateCell(i, "ReportingDate", formatdate(xdate.value));
        //        }
        //    }
        //}

        var data = args.rowData;
        var currentdata = grd.currentViewData;

        if (args.columnName == "ValueResponse") {
            var total = 0;
            debugger;
            var _SitRepID = data.SitRepId;
            var x = currentdata.filter(x => x.SitRepId == _SitRepID && (x.Category != null && x.Category.includes("TOTAL")));
            //alert(_SitRepID);
            var totalIndex = 0;
            if (x.length > 0) {
                for (var a = 0; a <= (currentdata.length - 1); a++) {
                    if (currentdata[a].SitRepCategoryId == x[0].SitRepCategoryId) {
                        totalIndex = a;
                        break;
                    }
                }
                if (args.value != null) {
                    var newvalue = 0;
                    if (args.previousValue == undefined) {
                        newvalue = parseInt(args.value);
                    }
                    else {
                        newvalue = parseInt(args.value) - parseInt(args.previousValue);
                    }
                    var m = grd.getRowByIndex(totalIndex);
                    totalValue = m.children[4].innerText;
                    if (totalValue != null && totalValue != "") {
                        total = parseInt(totalValue) + newvalue;
                    }
                    else {
                        total = newvalue;
                    }
                    //_edit.editCell(totalIndex, "ValueResponse");
                    _edit.updateCell(totalIndex, "Category", total);
                    //_edit.updateCell(totalIndex, "Division", xdivision.value);
                    //_edit.updateCell(totalIndex, "ReportingDate", formatdate(xdate.value));
                }
            }

        }

    }
</script>

<style>
    .GrandTotal {
        color: white;
        font-weight: bold;
        background-color: #7986cb;
        padding-left: 1%;
        font-size: large;
        font-family: Cambria;
    }

    .e-grid .e-alt_row /*For Alternate row color*/ {
        background-color: #E5E4E2; /*#99CFE3;*/
        /*font-size: 12px;*/
    }
</style>
<script>
    window.Count = 0;
    $.ajax({
        type: 'GET',
        url: "BatchDataKount",
        success: function (result) {
            window.Count = result;
        },
    });
 </script>

<script>
     function savess(args) {
         var grid = document.getElementById("Grid").ej2_instances[0];

         var ReportingDate = document.getElementById("ReportingDate").ej2_instances[0].value;
         var Division = document.getElementById("Division").ej2_instances[0].value;
         if (Division == null || ReportingDate == null) {
             alert("Please Fill in the Division / Reporting-Date")
             return false;
         }
         //debugger;
         grid.endEdit();
         window.grd.editModule.batchSave();
         grid.refresh();
         grid.closeEdit();

     }

     @*function savessXX(args) {
        //debugger;

        var ReportingDate = document.getElementById("ReportingDate").ej2_instances[0].value;
        var Division = document.getElementById("Division").ej2_instances[0].value;
        if (Division == null || ReportingDate == null) {
            alert("Please Fill in the Division / ReportingDate")
            return false;
        }

        //var DateofConfirmation = document.getElementById("DateofConfirmation").ej2_instances[0].value;
        //var WashComments = document.getElementById("WashComments").ej2_instances[0].value;
        //var RiskComments = document.getElementById("RiskComments").ej2_instances[0].value;
        //var UpdateComments = document.getElementById("UpdateComments").ej2_instances[0].value;
        //var GeneralComments = document.getElementById("GeneralComments").ej2_instances[0].value;

        //var _type = 0;
        //if (window.args === 'beginEdit') {
        //    _type = 2;
        //}
        //else if (window.args === 'add') {
        //    _type = 1;
        //}

        $.ajax({
            //url: "SaveSummit",
            url: "@Url.Action("DialogInsert", "SitRep")",
            type: "Get",
            dataType: "json",
            //data: {
            //    "ReportingDate": formatdate(ReportingDate),
            //    "Division": Division,
            //    "DateofConfirmation": formatdate(DateofConfirmation),
            //    "WashComments": WashComments,
            //    "RiskComments": RiskComments,
            //    "UpdateComments": UpdateComments,
            //    "GeneralComments": GeneralComments,
            //    "_type": _type,
            //},

            success: function (data) {

                var grid = document.getElementById("Grid").ej2_instances[0];
                debugger;
                //var SitGrd = document.getElementById("SitGrd").ej2_instances[0]; //editModule.batchSave();
                window.grd.editModule.batchSave();
                //cellSaved();
                //alert('This is it');
                grid.refresh();
                grid.closeEdit();

            }

        });
    }*@

    function savessYY(args) {
        debugger;

        var ReportingDate = document.getElementById("ReportingDate").ej2_instances[0].value;
        var Division = document.getElementById("Division").ej2_instances[0].value;
        if (Division == null || ReportingDate == null) {
            alert("Please Fill in the Division / ReportingDate")
            return false;
        }

        //var DateofConfirmation = document.getElementById("DateofConfirmation").ej2_instances[0].value;
        var WashComments = document.getElementById("WashComments").ej2_instances[0].value;
        var RiskComments = document.getElementById("RiskComments").ej2_instances[0].value;
        var UpdateComments = document.getElementById("UpdateComments").ej2_instances[0].value;
        var GeneralComments = document.getElementById("GeneralComments").ej2_instances[0].value;


        @*var ajax = new ej.base.Ajax({
                        url: "@Url.Action("DialogInsert", "SitRep")", //render the partial view
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            //value: { "CaseNo": _contactData.CaseNo } 
            data: JSON.stringify({
                value: {
                    "ReportingDate": formatdate(ReportingDate),
                    "Division": Division,
                    "DateofConfirmation": formatdate(DateofConfirmation),
                    "WashComments": WashComments,
                    "RiskComments": RiskComments,
                    "UpdateComments": UpdateComments,
                    "GeneralComments": GeneralComments,
                }
            }),
        });
        ajax.send().then(function (data) {
            //if (data > 0)
            {
                var grid = document.getElementById("Grid").ej2_instances[0];
                debugger;
                //var SitGrd = document.getElementById("SitGrd").ej2_instances[0]; //editModule.batchSave();
                window.grd.editModule.batchSave();
                //cellSaved();
                //alert('This is it');
                grid.refresh();
                grid.closeEdit();
            }

        }).catch(function (xhr) {
            //debugger;
            console.log(xhr);
           // ej.popups.hideSpinner(args.dialog.element);
        });*@


        $.ajax({
            url: "@Url.Action("DialogInsert", "SitRep")",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            //data: JSON.stringify({ value: args.rowData }),
            data: {
                //value: {
                    "ReportingDate": formatdate(ReportingDate),
                    "Division": Division,
                    //"DateofConfirmation": formatdate(DateofConfirmation),
                    "WashComments": WashComments,
                    "RiskComments": RiskComments,
                    "UpdateComments": UpdateComments,
                    "GeneralComments": GeneralComments,
                //}
            },

            //url: "SaveSitRepHeader?ReportingDate=" + formatdate(ReportingDate) + '&Division=' + Division +
            //    '&DateofConfirmation=' + formatdate(DateofConfirmation) + '&WashComments=' + WashComments + '&RiskComments=' + RiskComments +
            //    '&UpdateComments=' + UpdateComments + '&GeneralComments=' + GeneralComments,

            success: function (data) {
                //alert(data);
                if (data > 0) {
                    var grid = document.getElementById("Grid").ej2_instances[0];
                    //debugger;
                    //var SitGrd = document.getElementById("SitGrd").ej2_instances[0]; //editModule.batchSave();
                    window.grd.editModule.batchSave();
                    //cellSaved();
                    //alert('This is it');
                    grid.refresh();
                    grid.closeEdit();
                }

            }

        });

        //var grid = document.getElementById("Grid").ej2_instances[0];
        //grid.refresh();
        //grid.closeEdit();
    }

    function cancelss() {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        gridObj.cancelEdit;
        gridObj.refresh; // refresh the Grid.
    }


    function cellSaved(args) {
        window.grd.editModule.batchSave();
    }

</script>