﻿
@{
    ViewData["Title"] = "SitRep";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var content = "#SearchPanel";
    var contentComments = "#SearchPanelComments";
}

@*<partial name="MessagePartial" />*@

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;"> <stong> SitRep - Summary of statistics as at -  @System.DateTime.Now.ToLongDateString(). </stong></li>
</ol>
<ejs-accordion id="defaultAccordion">
    <e-accordion-accordionitems>
        <e-accordion-accordionitem expanded="true" header=" Search Panel  - (Collapsible Search Panel)" content=@content></e-accordion-accordionitem>
    </e-accordion-accordionitems>
</ejs-accordion>

<div id="SearchPanel" style="min-width: 100%;display: none; padding-top:10px;">
    <div class="form-row">
        <div class="form-group col-md-5">
            <ejs-datepicker id="ReportingDate" cssClass="e-outline" max="DateTime.Now" format="dd/MMM/yyyy" value="@System.DateTime.Today" placeholder="Date of Reporting" floatLabelType="Auto"></ejs-datepicker>
        </div>
        <div class="form-group col-md-5">
            <ejs-dropdownlist id="division" cssClass="e-outline" dataSource="@ViewBag.division" placeholder="Division" filterBarPlaceholder="Search Division" allowFiltering="true" floatLabelType="Auto" popupHeight="300px">
                <e-dropdownlist-fields text="CountyName" value="CountyId"></e-dropdownlist-fields>
            </ejs-dropdownlist>
        </div>
        <div class="form-group col-md-2">
            <input type="button" class="btn btn-primary e-btn-medium" style="margin-top:8px;" value="Load Record" onclick="LoadSitRep()" />
        </div>
    </div>

</div>
<hr />
<ejs-accordion id="defaultAccordionComments">
    <e-accordion-accordionitems>
        <e-accordion-accordionitem expanded="false" header=" Comments Section - (Collapsible Section)" content=@contentComments></e-accordion-accordionitem>
    </e-accordion-accordionitems>
</ejs-accordion>
<div id="SearchPanelComments" style="min-width: 100%;display: none; padding-top:10px; background-color:whitesmoke">
    <div class="panel-body">
        <hr />
        <div class="row material2">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-datetimepicker id="DateofConfirmation" max="DateTime.Now" value="@System.DateTime.Today" cssClass="e-outline" format="yyyy-MM-dd hh:mm" placeholder="Date of Confirmation" floatLabelType="Auto"></ejs-datetimepicker>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <ejs-textbox id="GeneralComments" cssClass="e-outline" placeholder="General Comments" floatLabelType="Auto" type="text"></ejs-textbox>
            </div>
            <hr />
        </div>
        <hr />
        <div class="row material2">
            <div class="form-group col-md-12">
                <ejs-textbox id="UpdateComments" multiline="true" cssClass="e-outline" placeholder="Update Comments" floatLabelType="Auto" type="text"></ejs-textbox>
            </div>

        </div>

    </div>
</div>
<hr />
<ejs-grid id="Grid"
          allowPaging="false" allowResizing="true" allowTextWrap="true" showColumnChooser="false" gridLines="Both" load="load" cellEdit="CellEdit" cellSave="onCellSave"
          allowSorting="true" allowReordering="true" allowGrouping="false" queryCellInfo="QueryCellEvent" rowDataBound="rowdatabound"
          toolbar="@(new List<string>() { "Search","Edit",  "ExcelExport" , "CsvExport" ,"PdfExport", "ColumnChooser"})"
          allowFiltering="true" allowSelection="true" allowExcelExport="true"
          allowPdfExport="true" toolbarClick="toolbarClick">
    <e-grid-searchSettings fields="@(new string[] {"SitRepCategoryID","SitRep","Category", "ValueResponse" })" operator="contains" ignoreCase="true"></e-grid-searchSettings>
    <e-data-manager url="/SitRep/GetSitRep" batchUrl="UpdateSitRep" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-pagesettings pageSize="20" pageSizes="true" />
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-editSettings allowAdding="false" allowDeleting="false" allowEditing="true" mode="Batch" showConfirmDialog="false"></e-grid-editSettings>
    <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
    <e-grid-columns>
        @*<e-grid-column type="checkbox" width="50"></e-grid-column>*@
        <e-grid-column field="SitRepCategoryId" headerText="No." visible="false" isPrimaryKey="true" isIdentity="true" width="250"></e-grid-column>
        <e-grid-column field="Division" headerText="Division" visible="false" allowEditing="true" width="100"></e-grid-column>
        <e-grid-column field="ReportingDate" headerText="ReportingDate" visible="false" allowEditing="true" format="dd/MMM/yyyy" width="100"></e-grid-column>
        <e-grid-column field="SitRep" headerText="Variable" allowEditing="false" width="100"></e-grid-column>
        <e-grid-column field="Category" headerText="Category" allowEditing="false" width="100"></e-grid-column>
        <e-grid-column field="ValueResponse" headerText="No." width="90" type="number" editType="numericedit"></e-grid-column>
        <e-grid-column field="DateofConfirmation" headerText="Date of Confirmation" visible="false" width="90" customFormat="@(new { type ="date", format="dd/MMM/yyyy" })" editType="datetimepickeredit" format='yMd' edit="@(new { @params = new { max = DateTime.Today } })"></e-grid-column>
        <e-grid-column field="GeneralComments" headerText="General-Comments" width="100" visible="false" edit="@(new {create = "create", read = "read", destroy = "destroy", write = "write"})"></e-grid-column>
        <e-grid-column field="UpdateComments" headerText="Update-Comments" width="100" visible="false" edit="@(new {create = "create", read = "read", destroy = "destroy", write = "write"})"></e-grid-column>
        <e-grid-column field="DateAdded" visible="false" headerText="Date Added" format='yMd'></e-grid-column>
        <e-grid-column field="AddedBy" visible="false" headerText="Added-By"></e-grid-column>
        <e-grid-column field="DateEdited" visible="false" headerText="Date Edited" format='yMd'></e-grid-column>
        <e-grid-column field="EditedBy" visible="false" headerText="Edited-By"></e-grid-column>

    </e-grid-columns>
</ejs-grid>

<button value="Save Change" onclick="SaveChanges()" style="margin-top:10px;" class="btn btn-danger e-btn-medium">Save Change</button>
<script>
    function formatdate(value) {
        var d = new Date(value);
        var day = d.getDate();
        var month = d.getMonth() + 1;
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        var year = d.getFullYear();
        return day + '/' + month + '/' + year;
    }
    function load(args) {
        var instance = document.getElementById('Grid').ej2_instances[0];
        instance.element.addEventListener('mousedown', function (e) {
            if (e.target.classList.contains("e-rowcell")) {
                var index = parseInt(e.target.getAttribute("Index"));
                var colindex = parseInt(e.target.getAttribute("aria-colindex"));
                var field = instance.getColumns()[colindex].field;
                instance.editModule.editCell(index, field);
            };
        });
        //debugger;
        //if (args.requestType == "save") {
        //    alert('save..');
        //    grid.refresh(); // refresh the Grid.
        //}
    }
    function onCellSave(args) {
        var xdate = document.getElementById("ReportingDate").ej2_instances[0];
        var xdivision = document.getElementById("division").ej2_instances[0];
        var grd = this;
        var _edit = grd.editModule;
        //_edit.updateCell(grd.selectedRowIndex, "Division", xdivision.value);
        //_edit.updateCell(grd.selectedRowIndex, "ReportingDate", formatdate(xdate.value));

        var data = args.rowData;
        var currentdata = grd.currentViewData;

        if (args.columnName == "ValueResponse") {
            var total = 0;
            //debugger;
            var _SitRepID = data.SitRepId;
            var x = currentdata.filter(x => x.SitRepId == _SitRepID && (x.Category != null && x.Category.includes("TOTAL")));
            //alert(_SitRepID);
            var totalIndex = 0;
            if (x.length > 0) {
                for (var a = 0; a <= (currentdata.length - 1); a++) {
                    if (currentdata[a].SitRepCategoryId == x[0].SitRepCategoryId) {
                        totalIndex = a;
                        break;
                    }
                }
                if (args.value != null) {
                    var newvalue = 0;
                    if (args.previousValue == undefined) {
                        newvalue = parseInt(args.value);
                    }
                    else {
                        newvalue = parseInt(args.value) - parseInt(args.previousValue);
                    }
                    var m = grd.getRowByIndex(totalIndex);
                    totalValue = m.children[4].innerText;
                    if (totalValue != null && totalValue != "") {
                        total = parseInt(totalValue) + newvalue;
                    }
                    else {
                        total = newvalue;
                    }
                    //_edit.editCell(totalIndex, "ValueResponse");
                    _edit.updateCell(totalIndex, "Category", total);
                    //_edit.updateCell(totalIndex, "Division", xdivision.value);
                    //_edit.updateCell(totalIndex, "ReportingDate", formatdate(xdate.value));
                }
            }

            //if (args.rowData.SitRepCategoryId == 1) {
            //    total = total + parseInt(data.ValueResponse);
            //}
            //if (args.rowData.SitRepCategoryId == 2) {
            //    total = total + parseInt(data.ValueResponse);
            //}
            //if (args.rowData.SitRepCategoryId == 3) {
            //    total = total + parseInt(data.ValueResponse);
            //}
            //total = total + parseInt(data.ValueResponse);
            //alert(total);
        }


        //set values for comments and date of confirmation

        var xDateofConfirmation = document.getElementById("DateofConfirmation").ej2_instances[0];
        var xGeneralComments = document.getElementById("GeneralComments").ej2_instances[0];
        var xUpdateComments = document.getElementById("UpdateComments").ej2_instances[0];
        debugger;
        if (args.columnName == "ValueResponse") {
            //if (args.rowData.SitRepCategoryId == 64 || args.rowData.SitRepCategoryId == 1)
            {
                _edit.updateCell(grd.selectedRowIndex, "GeneralComments", xGeneralComments.value);
                _edit.updateCell(grd.selectedRowIndex, "UpdateComments", xUpdateComments.value);
                _edit.updateCell(grd.selectedRowIndex, "DateofConfirmation", xDateofConfirmation.value);
            }
        }

    }
    function SaveChanges() {
        var grid = document.getElementById("Grid").ej2_instances[0];
        grid.editModule.batchSave();
        grid.refresh(); // refresh the Grid.
    }
    function cellSaved(args) {
        this.editModule.batchSave();
    }
    function LoadSitRep() {
        var xdate = document.getElementById("ReportingDate").ej2_instances[0];
        //alert(formatdate(xdate.value));
        var xdivision = document.getElementById("division").ej2_instances[0];
        var xGeneralComments = document.getElementById("GeneralComments").ej2_instances[0];
        var grid = document.getElementById("Grid").ej2_instances[0];
        if (xdate.value == null || xdivision.value == null /*|| xGeneralComments.value == null*/) {
            alert("Please Select the date and the Division and the comments.");
        }
        else {
            grid.dataSource = new ej.data.DataManager({ url: "GetSitRep?ReportingDate=" + formatdate(xdate.value) + "&division=" + xdivision.value, batchUrl: "UpdateSitRep", adaptor: new ej.data.UrlAdaptor() });

        }
    }
    function toolbarClick(args) {
        if (args.item.id == this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id == this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id == this.element.id + '_excelexport') {
            this.excelExport();
        }

    }

    function QueryCellEvent(args) {
        var data = args.data;
        var grid = document.getElementById("Grid").ej2_instances[0];
        var currentdata = grid.currentViewData;

        if (args.column.field == "SitRep" && args.data.SitRepCategoryId != null) {
            var value = currentdata.filter((m) => { return m.SitRepId == data.SitRepId });
            args.rowSpan = value.length;
        }
        // event triggers on every cell render.
        //new ej.popups.Tooltip({
        //    content: args.data[args.column.field].toString() // add Essential JS2 tooltip for every cell.
        //}, args.cell);

        //if (args.column.field == "Category" && args.data.SitRepCategoryId == 24) {
        //    args.row.bgColor = "#7986cb";
        //}
        //if (args.column.field == "Category") {
        //    if (args.data.Category.includes("TOTAL")) {
        //        debugger;
        //        //args.cell.classList.remove('e-rowcell');
        //        args.cell.classList.add('GrandTotal');
        //    }
        //}

    }
    function rowdatabound(args) {
        if (args.data.Category != null && args.data.Category.includes("TOTAL")) {
            //debugger;
            //args.row.bgColor = "#7986cb";
            args.row.classList.add('GrandTotal');
        }
    }

    function OnSuccess(args) {
        var grid = document.getElementById("Grid").ej2_instances[0];
        grid.refresh(); // refresh the Grid.
    }

    function CellEdit(args) {
        var data = args.data;
        var grid = document.getElementById("Grid").ej2_instances[0];
        var currentdata = grid.currentViewData;

        if (args.columnName == "DateofConfirmation") {
            //debugger;
            if (args.rowData.SitRepCategoryId != 64) {
                args.cancel = true;
            }
        }
        if (args.columnName == "ValueResponse") {
            //debugger;
            if (args.rowData.SitRepCategoryId == 64) {
                args.cancel = true;
            }

            //if ((args.rowData.SitRepCategoryId == 4) || (args.rowData.SitRepCategoryId == 8) || (args.rowData.SitRepCategoryId == 12) || (args.rowData.SitRepCategoryId == 16) || (args.rowData.SitRepCategoryId == 20) || (args.rowData.SitRepCategoryId == 24) || (args.rowData.SitRepCategoryId == 28) || (args.rowData.SitRepCategoryId == 32) || (args.rowData.SitRepCategoryId == 36) || (args.rowData.SitRepCategoryId == 40)) {
            //    args.cancel = true;
            //}
        }


    }

    var elem;
    var dObj;

    function create(args) {
        elem = document.createElement('textarea');
        return elem;
    }

    function write(args) {
        dObj = new ej.inputs.TextBox({
            hieght: "100px",
            value: args.rowData[args.column.field],
        });
        dObj.appendTo(elem);
    }

    function destroy() {
        dObj.destroy();
    }

    function read(args) {
        return dObj.value;
    }
</script>
<style>
    .GrandTotal {
        color: white;
        font-weight: bold;
        background-color: #7986cb;
        padding-left: 1%;
        font-size: large;
        font-family: Cambria;
    }

    .e-grid .e-alt_row /*For Alternate row color*/ {
        background-color: #E5E4E2; /*#99CFE3;*/
        /*font-size: 12px;*/
    }
</style>
