﻿
@{
    ViewData["Title"] = "Cases";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<object> commands = new List<object>();
    commands.Add(new { type = "userstatus", buttonOption = new { iconCss = "e-icons e-edit", cssClass = "btn btn-danger btn-sm", content = "Reset Password" } });
    //var promptanimation1 = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.SlideLeft };
    var promptanimation = new Syncfusion.EJ2.Popups.DialogAnimationSettings { Effect = Syncfusion.EJ2.Popups.DialogEffect.SlideLeft };
}
@*<partial name="MessagePartial" />*@

<ol class="breadcrumb" style="margin-top:5px;">
    @*<img class="imgId" width="40" height="40" src="~/kcca-logo.jpg" />*@
    <li class="breadcrumb-item active" style="width: 100%; background-color: black; color: white; font-family: Cambria; padding: 5px; font: bolder;"> <stong> Cases - The Case Management Module is used to capture case details such as personal information, address and location data and epidemiology data and questionnaires. </stong></li>
</ol>
@*<ejs-button id="addContacts" cssClass="e-danger" iconCss="e-btn-sb-icon e-stop-icon" content="Add Contacts"></ejs-button>*@
@*commandClick="onCommandClick"*@
<div class=" col-lg-12 control-section" id="target2">
    <ejs-grid id="Grid"
              allowPaging="true" allowResizing="true" allowTextWrap="true" showColumnChooser="true" gridLines="Both"
              allowSorting="true" allowReordering="true" allowGrouping="true" load="onLoad"
              toolbar="@(new List<string>() { "Search", "Edit", "Delete", "ExcelExport" , "CsvExport" ,"PdfExport", "Assign Evacuation Details", "ColumnChooser"})"
              allowFiltering="true" allowSelection="true" allowExcelExport="true"
              allowPdfExport="true" toolbarClick="toolbarClick" actionComplete="onEdit" actionBegin="OnBeging" created="createCase"
              queryCellInfo="queryCellInfo">
        <e-grid-searchSettings fields="@(new string[] {"CaseNo","ExternalCaseNo","FirstName", "LastName" , "Address", "LabResults" , "Symptoms", "GeneralComments"})" operator="contains" ignoreCase="true"></e-grid-searchSettings>
        <e-data-manager url="/Cases/GetCases" insertUrl="/Cases/DialogInsert" updateUrl="/Cases/DialogUpdate" removeUrl="/Cases/DeleteUrl" adaptor="UrlAdaptor"></e-data-manager>
        <e-grid-pagesettings pageSize="7" pageSizes="true" pageCount="4" />
        <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
        <e-grid-editSettings allowAdding="false" allowDeleting="true" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
        <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
        <e-grid-columns>
            <e-grid-column type="checkbox" width="50"></e-grid-column>
            @*<e-grid-column headerText="Options" width="130" commands="commands"></e-grid-column>*@
            <e-grid-column field="CaseNo" visible="false" headerText="Case No."  isPrimaryKey="true" isIdentity="true" width="250"></e-grid-column>
            <e-grid-column field="ExternalCaseNo" template="#persontemplate" headerText="External-Case No."></e-grid-column>
            <e-grid-column field="FirstName" headerText="Name"></e-grid-column>
            <e-grid-column field="LastName" visible="false" headerText="Last-Name"></e-grid-column>
            <e-grid-column field="WasContact" headerText="Was Contact?" visible="false" foreignKeyField="Id" foreignKeyValue="YesNo" dataSource="@ViewBag.YesNo"></e-grid-column>
            <e-grid-column field="DateOfReporting" headerText="Date of Reporting" visible="true" format='yMd'></e-grid-column>
            <e-grid-column field="GeneralComments" headerText="Division/District" visible="true" ></e-grid-column>
            <e-grid-column field="Address" headerText="Address" foreignKeyField="VillageId" foreignKeyValue="VillageName" dataSource="@ViewBag.Village"></e-grid-column>
            <e-grid-column field="Longitude" headerText="Longitude" visible="false" template="#coltemplate"></e-grid-column>
            <e-grid-column field="Latitude" headerText="Latitude" visible="false" template="#coltemplate"></e-grid-column>
            <e-grid-column field="RiskLevel" headerText="Risk Level" visible="false" foreignKeyField="Id" foreignKeyValue="Name" dataSource="@ViewBag.Risk"></e-grid-column>
            <e-grid-column field="FacilityUnit" headerText="Facility" visible="false" foreignKeyField="FacilityCode" foreignKeyValue="Facility" dataSource="@ViewBag.Facility"></e-grid-column>
            <e-grid-column field="Symptoms" headerText="Symptoms" template="${SymptomsNames(data)}" filter="@(new { type="CheckBox", itemTemplate="${SymptomsNames(data)}"})"></e-grid-column>
            <e-grid-column field="LabResults" headerText="Lab Results" foreignKeyField="Id" foreignKeyValue="Name" dataSource="@ViewBag.LabResults"></e-grid-column>
            <e-grid-column field="LabTestDate" headerText="LabTest Date" format='yMd'></e-grid-column>
            <e-grid-column field="CaseDate" headerText="Date of becoming Case" visible="false" format='yMd'></e-grid-column>
            <e-grid-column field="DateOfInfection" headerText="Date of Infection" visible="false" format='yMd'></e-grid-column>
            <e-grid-column field="DateOnset" headerText="Date of Onset" visible="false" format='yMd'></e-grid-column>
            <e-grid-column field="DateAdded" visible="false" headerText="Date Added" format='yMd'></e-grid-column>
            <e-grid-column field="AddedBy" visible="false" headerText="Added-By"></e-grid-column>
            <e-grid-column field="DateEdited" visible="false" headerText="Date Edited" format='yMd'></e-grid-column>
            <e-grid-column field="EditedBy" visible="false" headerText="Edited-By"></e-grid-column>


        </e-grid-columns>
    </ejs-grid>

    <script>
    //function onLoadChild(args) { setToolbarItemsChild(); }
    function onLoad(args) {

        setToolbarItems();
        this.childGrid = {
                      dataSource: new ej.data.DataManager({
                          url: "ContactsDataSource",
                          insertUrl: "@Url.Action("DialogInsert", "Contacts")",
                          updateUrl: "@Url.Action("DialogUpdate", "Contacts")",
                          removeUrl: "@Url.Action("DeleteChildUrl", "Contacts")",
                        adaptor: new ej.data.UrlAdaptor()
                      }),
             //load: Childload,
            queryString: 'CaseNo',
            editSettings: { allowEditing: true, allowColumnChooser: true, allowAdding: true, allowDeleting: true, mode: 'Dialog', template: '#dialogtemplate' },
            toolbar: ["Search", "Add", "Edit", "Delete",'Cancel', "ColumnChooser"],
             allowFiltering: true,
             filterSettings: { type:'Excel' },
             allowPaging: true,
            pageSettings: { pageSizes: true, pageSize: 8 },
            selectionsettings: { type:'Single'},
             queryCellInfo: queryCellInfoChild,
             //       cellSaved:cellSaved,
            showColumnChooser:true,
            actionComplete: onChildEdit,
            actionBegin: OnChildBeging,
            created: createContacts,
            load: setToolbarItemsChild,
            columns: [
                {type:'checkbox', width:15},
                { field: 'ContactCaseNo', allowEditing: false, visible: false, headerText: 'Contact Case No', width: 60, isIdendity: true, isPrimaryKey: true },
                { field: 'CaseNo', allowEditing: false, headerText: 'Case No', width: 50, visible: false },
                { field: 'FirstName', allowEditing: false, headerText: 'First Name', width: 60, visible: true },
                { field: 'LastName', allowEditing: false, headerText: 'Last Name', width: 60, visible: true },
                { field: 'StatusFlag', allowEditing: false, headerText: 'Elevated to Case', width: 50, foreignKeyField: "Id", foreignKeyValue: "Name", dataSource:@Html.Raw(Json.Serialize(@ViewBag.Elevate)) },
                { field: 'AssignFollowUpContactPerson', allowEditing: false, headerText: 'Surveillance Officer', width: 50, foreignKeyField: "EmployeeId", foreignKeyValue: "Name", dataSource:@Html.Raw(Json.Serialize(@ViewBag.Employee)) },
                { field: 'Address', allowEditing: false, headerText: 'Address', width: 50, foreignKeyField: "VillageId", foreignKeyValue: "VillageName", dataSource:@Html.Raw(Json.Serialize(@ViewBag.Village)) },
                { field: 'DoB', allowEditing: false, headerText: 'Date Of Birth', format: 'dd/MM/yyyy', width: 50, visible: false },
                { field: 'RiskReason', allowEditing: false, headerText: 'Risk Reason', width: 80, visible: false },
                { field: 'Classification', allowEditing: false, headerText: 'Classification', width: 50, visible: false , foreignKeyField: "Id", foreignKeyValue: "Classification", dataSource:@Html.Raw(Json.Serialize(@ViewBag.classfn)) },
                 @*{ field: 'StatusComments', headerText: 'Status Comments', width: 250, edit: { create: Childcreate, read: Childread, destroy: Childdestroy, write:Childwrite } },
                 { field: 'ImplementationStatusNarrative', headerText: 'Implementation Status Narrative', width: 250, edit: { create: Childcreate, read: Childread, destroy: Childdestroy, write:Childwrite }},
                 { field: 'ImplementationStatusId', headerText: 'Implementation Status', width: 200, foreignKeyField:"Id", foreignKeyValue:"Status", dataSource:@Html.Raw(Json.Serialize(@ViewBag.TrafficLightDataSource)), editType: 'dropdownedit', edit: { params: {dataSource: @Html.Raw(Json.Serialize(@ViewBag.TrafficLightDataSource)) } } },*@
                    ],
          };
    }
    function onChildEdit(args) {
        var grd = this;
         if (args.requestType == 'beginEdit' || args.requestType == 'add') {
             window.requestTypeChild = args.requestType;
                let spinner = ej.popups.createSpinner({ target: args.dialog.element });
             //ej.popups.showSpinner(args.dialog.element);

             //#####
             var data = args.rowData;

             window.args = args.requestType;

             // For custom save button
             args.dialog.btnObj[0].destroy();
             args.dialog.btnObj[0].element.id = "save";

             var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                 content: 'Save',
                 enableProgress: true,
                 animationSettings: { effect: 'SlideRight' },
                 spinSettings: { position: 'Center' },
                 cssClass: 'e-success',
             }); progressSaveButton.appendTo('#save');

             // For custom cancel button
             args.dialog.btnObj[1].destroy();
             args.dialog.btnObj[1].element.id = "cancel";

             var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                 content: 'Cancel',
                 enableProgress: true,
                 animationSettings: { effect: 'SlideRight' },
                 spinSettings: { position: 'Center' },
                 cssClass: 'e-danger',

             });
             progressCancelButton.appendTo('#cancel');

             // saving the edit action
             document.getElementById('save').addEventListener('click', function (args) {
                 //onclick = savess();
             }.bind(this));

             // Cancelling the edit action
             document.getElementById('cancel').addEventListener('click', function (args) {
                 //onclick = cancelss();

             }.bind(this));

             //#####

             if (args.requestType == 'beginEdit') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("EditPartial", "Contacts")", //render the partial view
                        type: "POST",

                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('Contact_CaseNo').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                        LoadUploadedEvidence();
                        LoadUploadedPhoto();
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
             if (args.requestType == 'add') {
                 //args.rowData.CaseNo = grd.query.queries[0].e.value;
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddPartial", "Contacts")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: { "CaseNo": grd.query.queries[0].e.value }})
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('Contact_CaseNo').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                        LoadUploadedEvidence();
                        LoadUploadedPhoto();
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
        }
        else if(args.requestType=="save") {
              this.refresh(); // refresh the Grid.
         }
    }
    function OnChildBeging(args) {
        //var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0]
        var grid = this;
        if (args.requestType == 'delete') {
            //debugger
            grid.dataSource.dataSource.headers = [];
            grid.dataSource.dataSource.headers.push({ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val(), "additional_key": args.data[0].ContactCaseNo, "additional_key1": args.data[0].CaseNo });
        }

        if (args.requestType == "delete") {
            var deleteMessage = "Please confirm you would wish to delete this record for " + args.data[0].FirstName + "  " + args.data[0].LastName
            if (confirm(deleteMessage)) {
                //if yes ,record will delete
            }
            else
                args.cancel = true // if no the record wont delete
        }
         if (args.requestType == "cancel") {

             if (window.requestTypeChild == 'add') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveRecord", "Contacts")',
                        data: {
                            "CaseNo": $("#CaseNo").val(),
                            "ContactCaseNo": $("#ContactCaseNo").val()
                        }
                        })
                            .done(function (response) {
                            })
                            .fail(function (a, b, c) {
                            alert("fail");
                        });
                    }
        }

        if (args.requestType == 'save') {

            var DateOfReporting = document.getElementById("DateOfReporting").ej2_instances[0].value;
            var Sex = document.getElementById("Sex").ej2_instances[0].value;
            var FName = document.getElementById("FirstName").ej2_instances[0].value;
            var LName = document.getElementById("LastName").ej2_instances[0].value;
            var ExposureType = document.getElementById("ExposureType").ej2_instances[0].value;
            var Age = document.getElementById("Age").ej2_instances[0].value;
            var Address = document.getElementById("Address").ej2_instances[0].value;
            var AssignFollowUpContactPerson = document.getElementById("AssignFollowUpContactPerson").ej2_instances[0].value;

            if (DateOfReporting == null || DateOfReporting == "0" || DateOfReporting == "" || DateOfReporting == "undifined") {
                alert("Date Of Reporting is required, Please provide the Date Of Reporting");
                args.cancel = true;
            }
            else if (Sex == null || Sex == "0" || Sex == "" || Sex == "undifined") {
                alert("Gender is required, Please provide the Gender");
                args.cancel = true;
            }

            //else
            //if (FName == null || FName == "0" || FName == "" || FName == "undifined") {
            //    alert("First Name is required, Please provide the First-Name");
            //    args.cancel = true;
            //}

            //else
            //if (LName == null || LName == "0" || LName == "" || LName == "undifined") {
            //    alert("Last Name is required, Please provide the Last-Name");
            //    args.cancel = true;
            //}

            //else
            //if (ExposureType == null || ExposureType == "0" || ExposureType == "" || ExposureType == "undifined") {
            //    alert("Exposure Type is required, Please provide the Exposure Type");
            //    args.cancel = true;
            //}

            else
            if (Age == null || Age == "0" || Age == "" || Age == "undifined") {
                alert("Age is required, Please provide the Age");
                args.cancel = true;
            }

            else
            if (Address == null || Address == "0" || Address == "" || Address == "undifined") {
                alert("Address is required, Please provide the Address");
                args.cancel = true;
            }

            //else
            //if (AssignFollowUpContactPerson == null || AssignFollowUpContactPerson == "0" || AssignFollowUpContactPerson == "" || AssignFollowUpContactPerson == "undifined") {
            //    alert("Assign Follow-Up Contact Person is required, Please provide the Assign Follow-Up Contact Person");
            //    args.cancel = true;
            //}

        }
    }
    function onCommandClick(args) {
        if (args.commandColumn.type == "userstatus") {
            //$("#Id").val(args.rowData.UserId);
            //$("#NameOfUserAccountHolder").val(args.rowData.Name);
            //$("#Email").val(args.rowData.Email);
            //window.promptObj.show();

             var ajax = new ej.base.Ajax({

            //url: "~/Contacts/AddPartial?CaseNo=" + _contactData.CaseNo,
                 url: "@Url.Action("AddPartial", "Contacts")?CaseNo=" + args.rowData.CaseNo, //render the partial view
                        type: "POST",
                        contentType: "application/json",
                 data: JSON.stringify({ value: { "CaseNo": args.rowData.CaseNo } })
                    });
            ajax.send().then(function (data) {
                //debugger;
                //var x = document.getElementById("ContactForm");
                //document.getElementById("ContactForm").innerHTML = data;
                appendElementCase(data, null); //Render the edit form with selected record
                document.getElementById('Contact_CaseNo').focus();
                        //ej.popups.hideSpinner(_contactData.dialog.element);
                        LoadUploadedEvidence();
                        LoadUploadedPhoto();
                        window.promptObj.show();

                    }).catch(function (xhr) {
                        console.log(xhr);
                        //ej.popups.hideSpinner(_contactData.dialog.element);
                    });
        }
    }

    function onLoadprompt() {
        var promptObj = this;
        window.promptObj = this;
    }
    </script>

    @*code to add a new contact from this window*@
    @*<script>
            document.getElementById("addContacts").addEventListener('click', () => {
                var gridObj = document.getElementById("Grid").ej2_instances[0];
                var _contactData = gridObj.getSelectedRecords()[0];
                //alert(gridObj.getSelectedRecords().CaseNo);
                //console.log(_contactData.CaseNo)
                @Url.Content("~/Contacts/AddPartial?CaseNo=" + _contactData.CaseNo)

                //code to add a new contact from this window
                var ajax = new ej.base.Ajax({

                    //url: "~/Contacts/AddPartial?CaseNo=" + _contactData.CaseNo,
                    url: "@Url.Action("AddPartial", "Contacts")?CaseNo=" + _contactData.CaseNo, //render the partial view
                                type: "POST",
                                contentType: "application/json",
                    data: JSON.stringify({ value: { "CaseNo": _contactData.CaseNo } })
                            });
                            ajax.send().then(function (data) {
                                appendElementCase(data, _contactData.form); //Render the edit form with selected record
                                args.form.elements.namedItem('Contact_CaseNo').focus();
                                ej.popups.hideSpinner(_contactData.dialog.element);
                                LoadUploadedEvidence();
                                LoadUploadedPhoto();
                                window.promptObj.show();

                            }).catch(function (xhr) {
                                console.log(xhr);
                                ej.popups.hideSpinner(_contactData.dialog.element);
                            });

            })

        </script>*@

    <script type="text/x-jsrender" id="CountryTemp">
        <label>SymptomsNames(${Symptoms})</label>
    </script>
    <script>
        function SymptomsNames(e) {
            var span = "";
            //span = document.createElement('span');
            if (e.Symptoms != null && e.Symptoms != "") {
                if (e.Symptoms.includes(',')) {
                    var a = e.Symptoms.split(',');
                    for (var x = 0; x <= (a.length - 1); x++) {
                        if (a[x].trim() == "1") {
                            span += "Running Nose,";
                        }
                        if (a[x].trim() == "2") {
                            span += "Sore Throat,";
                        }
                        if (a[x].trim() == "3") {
                            span += "Cough,";
                        }
                        if (a[x].trim() == "4") {
                            span += "Fever,";
                        }
                        if (a[x].trim() == "5") {
                            span += "Difficulty in Breathing,";
                        }

                    }
                }
                else {
                    if (e.Symptoms.trim() == "1") {
                        span = "Running Nose";
                    }
                    if (e.Symptoms.trim() == "2") {
                        span = "Sore Throat";
                    }
                    if (e.Symptoms.trim() == "3") {
                        span = "Cough";
                    }
                    if (e.Symptoms.trim() == "4") {
                        span = "Fever";
                    }
                    if (e.Symptoms.trim() == "5") {
                        span = "Difficulty in Breathing";
                    }

                }
            }
            //div.appendChild(span);
            return span;
        }
    </script>
    <script>
    function toolbarClick(args) {
        if (args.item.id == this.element.id + '_pdfexport') {
            this.pdfExport();
        }
        if (args.item.id == this.element.id + '_csvexport') {
            this.csvExport();
        }
        if (args.item.id == this.element.id + '_excelexport') {
            this.excelExport();
        }
        if (args.item.id === this.element.id + '_Assign Evacuation Details') {
            // console.log(args.item.id);
            window.promptObj.show();
            //this.prefixIcon = "e-expand";
        }
    }

    function OnBeging(args) {

        var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0]
        if (args.requestType == 'delete') {
            //debugger
            grid.dataSource.dataSource.headers = [];
            grid.dataSource.dataSource.headers.push({ 'XSRF-TOKEN': $("input:hidden[name='__RequestVerificationToken']").val(), "additional_key": args.data[0].CaseNo});
        }
        if (args.requestType == "delete") {
            var deleteMessage = "Please confirm you would wish to delete this record for " + args.data[0].FirstName + "  " + args.data[0].LastName
            if (confirm(deleteMessage)) {
                //if yes ,record will delete
            }
            else
                args.cancel = true // if no the record wont delete
        }
         if (args.requestType == "cancel") {

                if (window.requestType == 'add') {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveRecord", "Cases")',
                        data: {
                            "CaseNo": $("#CaseNo").val()
                        }
                        })
                            .done(function (response) {
                            })
                            .fail(function (a, b, c) {
                            alert("fail");
                        });
                    }
        }

        if (args.requestType == 'save') {
            var Symptoms = document.getElementById("Symptoms").ej2_instances[0];
            if (Symptoms.value != null ) {
               // if (Symptoms.value.includes(','))
                {
                    args.data["Symptoms"] = Symptoms.value.join();
                }
            }

            //Save validations
            var ExternalValue = document.getElementById("ExternalCaseNo").ej2_instances[0].value;
            var DateOfReporting = document.getElementById("DateOfReporting").ej2_instances[0].value;
            var Sex = document.getElementById("Sex").ej2_instances[0].value;
            var FName = document.getElementById("FirstName").ej2_instances[0].value;
            var LName = document.getElementById("LastName").ej2_instances[0].value;
            var Age = document.getElementById("Age").ej2_instances[0].value;
            var Address = document.getElementById("Address").ej2_instances[0].value;
            var Classification = document.getElementById("Classification").ej2_instances[0].value;
            var Symptoms2 = document.getElementById("Symptoms").ej2_instances[0].value;
            var DateOnset = document.getElementById("DateOnset").ej2_instances[0].value;
            var DateOfInfection = document.getElementById("DateOfInfection").ej2_instances[0].value;
            var Outcome = document.getElementById("Outcome").ej2_instances[0].value;
            var LabTestDate = document.getElementById("LabTestDate").ej2_instances[0].value;
            var LabResults = document.getElementById("LabResults").ej2_instances[0].value;

            //if (ExternalValue == null || ExternalValue == "0" || ExternalValue == "" || ExternalValue == "undifined") {
            //    alert("External Case-No. is required, Please provide the External Case-No.");
            //    args.cancel = true;
            //}
            //else
            if (DateOfReporting == null || DateOfReporting == "0" || DateOfReporting == "" || DateOfReporting == "undifined") {
                alert("Date Of Reporting is required, Please provide the Date Of Reporting");
                args.cancel = true;
            }

          else
            if (Sex == null || Sex == "0" || Sex == "" || Sex == "undifined") {
                alert("Gender is required, Please provide the Gender");
                args.cancel = true;
            }

            //else
            //if (FName == null || FName == "0" || FName == "" || FName == "undifined") {
            //    alert("First Name is required, Please provide the First-Name");
            //    args.cancel = true;
            //}
            //else

            //if (LName == null || LName == "0" || LName == "" || LName == "undifined") {
            //    alert("Last Name is required, Please provide the Last-Name");
            //    args.cancel = true;
            //}
            else

            if (Age == null || Age == "0" || Age == "" || Age == "undifined") {
                alert("Age is required, Please provide the Age");
                args.cancel = true;
            }

           else
            if (Address == null || Address == "0" || Address == "" || Address == "undifined") {
                alert("Address is required, Please provide the Address");
                args.cancel = true;
            }

            //else
            //if (Classification == null || Classification == "0" || Classification == "" || Classification == "undifined") {
            //    alert("Classification is required, Please provide the Classification");
            //    args.cancel = true;
            //}

           //else
           // if (Symptoms2 == null || Symptoms2 == "0" || Symptoms2 == "" || Symptoms2 == "undifined") {
           //     alert("Symptom (s) is required, Please provide the Symptom (s)");
           //     args.cancel = true;
           // }

           // else
           // if (DateOnset == null || DateOnset == "0" || DateOnset == "" || DateOnset == "undifined") {
           //     alert("Date of On set is required, Please provide the Date of On set");
           //     args.cancel = true;
           // }
           // else

           // if (DateOfInfection == null || DateOfInfection == "0" || DateOfInfection == "" || DateOfInfection == "undifined") {
           //     alert("Date Of Infection is required, Please provide the Date Of Infection");
           //     args.cancel = true;
           // }

           // else
           // if (Outcome == null || Outcome == "0" || Outcome == "" || Outcome == "undifined") {
           //     alert("Outcome is required, Please provide the Outcome");
           //     args.cancel = true;
           // }

           //else
           // if (LabTestDate == null || LabTestDate == "0" || LabTestDate == "" || LabTestDate == "undifined") {
           //     alert("Lab Test Date is required, Please provide the Lab Test Date");
           //     args.cancel = true;
           // }

           // else
           // if (LabResults == null || LabResults == "0" || LabResults == "" || LabResults == "undifined") {
           //     alert("Lab Results is required, Please provide the Lab Results");
           //     args.cancel = true;
           // }
        }
    }
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    function onFileUpload(args) {

        // add addition data as key-value pair.
        var inputElement = document.getElementById('CaseNo');
        if (inputElement.value == null || inputElement.value == " ") {
            args.cancel = true;
        }

        args.customFormData = [{'CaseNo': inputElement.value}];
    }
    function onFileSelect(args) {
        var inputElement = document.getElementById('Photo_type');
        inputElement.value = args.filesData[0].type;
    }
    function onfilesuccess(args) {
        //alert()
        var _UserImage = document.getElementById("UserImage");
        _UserImage.src = "GetImage?userid=" + document.getElementById("User_Code").value;
    }

    function onEdit(args) {
            if (args.requestType == 'beginEdit' || args.requestType == 'add') {
                window.requestType = args.requestType;
                let spinner = ej.popups.createSpinner({ target: args.dialog.element });
                //ej.popups.showSpinner(args.dialog.element);

                //#####
                var data = args.rowData;

                window.args = args.requestType;

                // For custom save button
                args.dialog.btnObj[0].destroy();
                args.dialog.btnObj[0].element.id = "save";

                var progressSaveButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Save',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-success',
                }); progressSaveButton.appendTo('#save');

                // For custom cancel button
                args.dialog.btnObj[1].destroy();
                args.dialog.btnObj[1].element.id = "cancel";

                var progressCancelButton = new ejs.splitbuttons.ProgressButton({
                    content: 'Cancel',
                    enableProgress: true,
                    animationSettings: { effect: 'SlideRight' },
                    spinSettings: { position: 'Center' },
                    cssClass: 'e-danger',

                });
                progressCancelButton.appendTo('#cancel');

                // saving the edit action
                document.getElementById('save').addEventListener('click', function (args) {
                    //onclick = savess();
                }.bind(this));

                // Cancelling the edit action
                document.getElementById('cancel').addEventListener('click', function (args) {
                    //onclick = cancelss();

                }.bind(this));

             //#####

                if (args.requestType == 'beginEdit') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddCasesPartial", "Cases")", //render the partial view
                        type: "POST",

                        data: JSON.stringify({ value: args.rowData})
                    });
                    ajax.send().then(function (data) {
                        //debugger;
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('CaseNo').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                        LoadUploadedEvidence();
                        LoadUploadedPhoto();
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
                if (args.requestType == 'add') {
                    var ajax = new ej.base.Ajax({
                        url: "@Url.Action("AddCasesPartial", "Cases")", //render the partial view
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ value: args.rowData })
                    });
                    ajax.send().then(function (data) {
                        appendElement(data, args.form); //Render the edit form with selected record
                        args.form.elements.namedItem('CaseNo').focus();
                        ej.popups.hideSpinner(args.dialog.element);
                        LoadUploadedEvidence();
                        LoadUploadedPhoto();
                    }).catch(function (xhr) {
                        console.log(xhr);
                        ej.popups.hideSpinner(args.dialog.element);
                    });
                }
        }
        else if(args.requestType=="save") {
             var grid = document.getElementById("Grid").ej2_instances[0];
              grid.refresh(); // refresh the Grid.
         }
    }
    function appendElement(elementString, form) {
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
    }
    function appendElementCase(elementString, form) {
        document.getElementById("ContactForm").innerHTML = elementString;
        var script = document.createElement('script');
        script.type = "text/javascript";
        var serverScript = document.getElementById("ContactForm").querySelector('script');
        script.textContent = serverScript.innerHTML;
        document.head.appendChild(script);
        serverScript.remove();
    }
    function queryCellInfo(args) {
        if (args.column.field == "CaseNo") {
            if (args.data.StatusFlag == "1") {
                $(args.cell).addClass("Medium");
            }
            //if (args.data.RiskLevel == "2") {
            //    $(args.cell).addClass("Medium");
            //}
            //if (args.data.RiskLevel == "3") {
            //    $(args.cell).addClass("High");
            //}

        }
        // event triggers on every cell render.
        //new ej.popups.Tooltip({
        //    content: args.data[args.column.field].toString() // add Essential JS2 tooltip for every cell.
        //}, args.cell);

    }
    function queryCellInfoChild(args) {
        if (args.column.field == "StatusFlag" || args.column.field == "ContactCaseNo") {
            if (args.data.StatusFlag == "1") {
                $(args.cell).addClass("Medium");
            }
            //if (args.data.RiskLevel == "2") {
            //    $(args.cell).addClass("Medium");
            //}
            //if (args.data.RiskLevel == "3") {
            //    $(args.cell).addClass("High");
            //}

        }
        // event triggers on every cell render.
        //new ej.popups.Tooltip({
        //    content: args.data[args.column.field].toString() // add Essential JS2 tooltip for every cell.
        //}, args.cell);

    }
    function OnFileSuccess(args) {
        var grid = document.getElementById("PreInvestGrd").ej2_instances[0];
        grid.refresh(); // refresh the Grid.
        var gridPhoto = document.getElementById("PreInvestGrd_photo").ej2_instances[0];
        gridPhoto.refresh();
    }

    function LoadUploadedEvidence() {
        var grid = new ej.grids.Grid({
            dataSource: new ej.data.DataManager({ url: "GetSupportingDocuments?CaseNo=" + $("#CaseNo").val(), adaptor: new ej.data.UrlAdaptor() }),

            commandClick:DownloadFile,
                columns: [
                    { field: "Id", visible: false, headerText: 'ID', width: 85, isPrimaryKey: true },
                    { field: "Details", headerText: 'File Name', width: 120 },
                    { field: "CaseNo", visible: false, headerText: 'Case No.', width: 100 },
                    { field: "FileType", visible: true, headerText: 'Document Type', width: 50 },
                    { headerText: 'Manage Records', width: 50,
                        commands: [{ type: 'userstatus',  buttonOption: { /*iconCss: ' e-icons e-fe-download',*/ cssClass: 'e-flat e-details',content :'Download'} },
                            //{ type: 'Delete', buttonOption: { iconCss: 'e-icons e-delete', cssClass: 'e-flat' } },
                            //{ type: 'Save', buttonOption: { iconCss: 'e-icons e-update', cssClass: 'e-flat' } },
                            //{ type: 'Cancel', buttonOption: { iconCss: 'e-icons e-cancel-icon', cssClass: 'e-flat' } }
                        ]
                    }
                    ],
            });
                    grid.appendTo('#PreInvestGrd');
    }
    function DownloadFile(fileId) {
        var grid = document.getElementById("PreInvestGrd").ej2_instances[0];
        $.ajax({
            url: 'DownloadEvidenceFile',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            data: {
                'DocumentCode': grid.getSelectedRecords()[0].Id,
            },
            success: function (data) {

            },
            error: function () {
                //memberFound = false;
            },
        });
    };
    //Photoz
    function LoadUploadedPhoto() {
        var grid = new ej.grids.Grid({
            dataSource: new ej.data.DataManager({ url: "GetPhotoz?CaseNo=" + $("#CaseNo").val(), adaptor: new ej.data.UrlAdaptor() }),

            commandClick: DownloadFilePhoto,
            columns: [
                { field: "CaseNo", visible: false, headerText: 'Case No.', width: 150, isPrimaryKey: true },
                { field: "FileType", visible: true, headerText: 'Document Type', width: 50 },
                {
                    headerText: 'Manage Records', width: 50,
                    commands: [{ type: 'userstatus', buttonOption: { /*iconCss: ' e-icons e-fe-download',*/ cssClass: 'e-flat e-details', content: 'Download' } },
                        //{ type: 'Delete', buttonOption: { iconCss: 'e-icons e-delete', cssClass: 'e-flat' } },
                        //{ type: 'Save', buttonOption: { iconCss: 'e-icons e-update', cssClass: 'e-flat' } },
                        //{ type: 'Cancel', buttonOption: { iconCss: 'e-icons e-cancel-icon', cssClass: 'e-flat' } }
                    ]
                }
            ],
        });
        grid.appendTo('#PreInvestGrd_photo');
    }
    function DownloadFilePhoto(fileId) {
        var grid = document.getElementById("PreInvestGrd_photo").ej2_instances[0];
        $.ajax({
            url: 'DownloadCasePhotoFile',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            data: {
                'DocumentCode': grid.getSelectedRecords()[0].CaseNo,
            },
            success: function (data) {

            },
            error: function () {
                //memberFound = false;
            },
        });
    };
    </script>
    <script id='dialogtemplate' type="text/x-template">
        <div id="dialogTemp">
        </div>
    </script>
    <style type="text/css">

        .High {
            background-color: red;
            color: whitesmoke;
            font-size: larger;
            font: bolder;
            /*font-weight: 700;*/
            animation: mymove 5s infinite;
        }

        .Medium {
            background-color: yellow;
            color: black;
            font-size: larger;
            /*font-weight:700;*/
            animation: mymove 5s infinite;
        }

        .Low {
            background-color: green;
            color: whitesmoke;
            font-size: larger;
            /*font-weight: 700;*/
            animation: mymove 5s infinite;
        }
    </style>



    @*<div class="col-lg-12 control-section" id="target">
            <ejs-button id="normalbtn" content="Open"></ejs-button>
            <ejs-dialog id="dialog" width="400px" target="#target"
                        showCloseIcon="true" header="File and Folder Rename">
                <e-dialog-animationsettings effect="Zoom"></e-dialog-animationsettings>
                <e-dialog-buttons>
                    <e-dialog-dialogbutton buttonModel="ViewBag.button1" click="dlgButtonClick"></e-dialog-dialogbutton>
                    <e-dialog-dialogbutton buttonModel="ViewBag.button2" click="dlgButtonClick"></e-dialog-dialogbutton>
                </e-dialog-buttons>
                <e-content-template>
                    <div class='dialog-content'>
                        <div class='msg-wrapper  col-lg-12'>
                            <span class='e-icons close-icon col-lg-2'></span>
                            <span class='error-msg col-lg-10'>Can not rename 'pictures' because a file or folder with that name already exists </span>
                        </div><div class='error-detail col-lg-8'><span>Specify a different name</span> </div>
                    </div>
                </e-content-template>
            </ejs-dialog>
        </div>
        <script>
            document.getElementById('normalbtn').onclick = function () {
                var dialogObj = document.getElementById('dialog').ej2_instances[0];
                dialogObj.show();
            };
            function dlgButtonClick() {
                var dialogObj = document.getElementById('dialog').ej2_instances[0];
                dialogObj.hide();
            }
        </script>*@
    <style>
        .control-section {
            padding-left: 10px;
        }

        #target {
            height: 100%;
            min-height: 350px;
        }

        span.close-icon {
            width: 24px;
            height: 24px;
            position: relative;
            display: inline-block;
        }

        span.error-msg {
            color: #66afe9;
            display: inline-block;
            position: relative;
        }

        .error-detail.col-lg-8 {
            position: relative;
            left: 45px;
            margin: 20px 0px 21px;
        }

        .e-icons.close-icon.col-lg-2:before {
            content: '\e7e9';
            font-size: 26px;
            color: #d9534f;
            position: relative;
            left: -12px;
        }

        .e-dialog .e-footer-content {
            background-color: #f8f8f8;
        }

        .e-dialog.e-control.e-popup, .e-dialog.e-control.e-popup .e-dlg-header-content {
            background-color: #d9edf7;
        }

        .e-dialog.e-control.e-popup {
            padding: 3px;
        }

        .e-dialog.e-control .e-dlg-header-content {
            padding: 10px;
        }

        .e-dialog.e-control .e-footer-content {
            padding: 8px 12px;
        }

        .e-dialog.e-control .e-dlg-content {
            padding: 15px 0px 0px;
        }
    </style>

    <script id="coltemplate" type="text/x-template">
        <div class="image">
            <img src="@Url.Content("~/location2.png")" class="e-image" alt="${Address}" /> &nbsp
            <span id="locationtext">${Address}</span>
        </div>
    </script>
    <script id="persontemplate" type="text/x-template">
        <div class="image">
            <img src="@Url.Content("~/person.png")" class="e-image" alt="${ExternalCaseNo}" /> &nbsp
            <span id="locationtext">${ExternalCaseNo}</span>
        </div>
    </script>

    @using Newtonsoft.Json
    <script type="text/javascript">
        function onfiltering(e) {
            var query = new ej.data.Query();
            query = (e.text !== '') ? query.where('VillageName', 'startswith', e.text, true) : query;
            e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Address)), query);
    }

    </script>


    @*<ejs-dialog id="promptdialog" allowDragging="true" animationSettings="promptanimation1" visible="false" created="onLoadprompt" target="#Grid" width="80%" header="New Contact">
            <e-content-template>
                <div style="padding:10px;" id="ContactForm"></div>
            </e-content-template>
            <e-dialog-buttons>
                <e-dialog-dialogbutton buttonModel="ViewBag.promptbutton" click="ResetPassword"></e-dialog-dialogbutton>
                <e-dialog-dialogbutton buttonModel="ViewBag.promptbutton1" click="promptCancelBtnClick"></e-dialog-dialogbutton>
            </e-dialog-buttons>
        </ejs-dialog>*@


    @*<script>
            function ResetPassword() { }
            function promptCancelBtnClick() { }
        </script>*@


    <script>
        function createCase() {
            //$("#" + this._id + "_search").append("Search");
            $("#" + this.element.id + "_add").append(" Cases");
            $("#" + this.element.id + "_edit").append(" Cases");
            $("#" + this.element.id + "_delete").append(" Cases");
            $("#" + this.element.id + "_update").append(" Cases");
            $("#" + this.element.id + "_cancel").append(" Cases");
            //$("#" + this._id + "_printGrid").append("Print");
        }

        function createContacts() {
            //$("#" + this._id + "_search").append("Search");
            $("#" + this.element.id + "_add").append(" Contacts");
            $("#" + this.element.id + "_edit").append(" Contacts");
            $("#" + this.element.id + "_delete").append(" Contacts");
            $("#" + this.element.id + "_update").append(" Contacts");
            $("#" + this.element.id + "_cancel").append(" Contacts");
            //$("#" + this._id + "_printGrid").append("Print");
        }
    </script>

    <script>
     function setToolbarItems()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('Grid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

                var $toolbar = $("#Grid_toolbarItems");
                ////Gets the tool

                li = $("#Grid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

                li = $("#Grid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
      function setToolbarItemsChild()
      {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

          if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE') {
              //debugger;
             var gridObj = this; //document.getElementById('childGrid').ej2_instances[0];
              gridObj.toolbar = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

             //var grid = $("#childGrid").ejGrid({
             //       //  editSettings: { allowDeleting: true },
             //       toolbarSettings: { showToolbar: true, toolbarItems: ["search"] }  ,
             //       editSettings: { allowEditing: false, allowAdding: false, allowDeleting: false },
             //   });

                return;

              var $toolbar = $("#" +gridObj + "_toolbarItems");
                ////Gets the tool

              li = $("#" +gridObj + "_excelExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" +gridObj + "_wordExport");
                $toolbar.ejToolbar("disableItem", li);

              li = $("#" + gridObj + "_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }

    function setToolbarItemsAdmin()
     {
            //Gets the ToolBar.
            var myRoleIsinKCCA = "@User.IsInRole("KCCA General")";
            var myRoleIsinViewer = "@User.IsInRole("Viewer")";

         if (myRoleIsinKCCA.toUpperCase() == 'TRUE' || myRoleIsinViewer.toUpperCase() == 'TRUE'){
             var gridObj = document.getElementById('MainGrid').ej2_instances[0];
             gridObj.toolbarSettings = { showToolbar: true, toolbarItems: ["search"] };
             gridObj.editSettings = { allowEditing: false, allowAdding: false, allowDeleting: false };

                return;

             var $toolbar = $("#MainGrid_toolbarItems");
                ////Gets the tool

             li = $("#MainGrid_excelExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_wordExport");
                $toolbar.ejToolbar("disableItem", li);

             li = $("#MainGrid_pdfExport");
                $toolbar.ejToolbar("disableItem", li);
         }
    }
    </script>

    <style>
        #prompt_dialog {
            min-height: 50%;
            min-width: 80%;
        }
    </style>

    <div>
        <ejs-dialog id="prompt_dialog" animationSettings="promptanimation" visible="false" created="onLoadprompt" target="#target2" width="80%" header="Case Evacuated Records Details">
            <e-content-template>
                <div class="panel-body">
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="EmployeeID" dataSource="@ViewBag.EmployeeEvacute" placeholder="Evacuation Officer" allowFiltering="true" filterBarPlaceholder="Search Evacuation Officer" floatLabelType="Always" popupHeight="300px">
                                <e-dropdownlist-fields text="Name" value="EmployeeId"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-dropdownlist id="CaseEvacuated1" cssClass="e-outline" dataSource="@ViewBag.YesNo" floatLabelType="Auto" placeholder="Was Case Evacuated ?" allowFiltering="true" filterBarPlaceholder="Search Case Evacuated?" popupHeight="300px">
                                <e-dropdownlist-fields text="YesNo" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                        </div>

                    </div>
                    <hr />
                    <div class="row material2">
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="EvacuationFacility1" cssClass="e-outline" placeholder="Evacuation Site or Facility" floatLabelType="Auto" name="EvacuationFacility" type="text"></ejs-textbox>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <ejs-textbox id="EvacuationComments1" cssClass="e-outline" placeholder="Evacuation Comment(s) if any" floatLabelType="Auto" name="EvacuationComments" type="text"></ejs-textbox>
                        </div>
                        <hr />

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label id="Approving"></label>
                    </div>
                </div>
            </e-content-template>
            <e-dialog-buttons>
                <e-dialog-dialogbutton buttonModel="ViewBag.promptbutton" click="AssignRecordbtn"></e-dialog-dialogbutton>
                <e-dialog-dialogbutton buttonModel="ViewBag.promptbutton1" click="promptCancelBtnClick"></e-dialog-dialogbutton>
            </e-dialog-buttons>
        </ejs-dialog>


        <script>
            function AssignRecord() {
                window.promptObj.show();
            }
            function AssignRecordbtn() {
                //debugger;
                var RPObj = document.getElementById("EmployeeID").ej2_instances[0];
                var CaseEvacuated = document.getElementById("CaseEvacuated1").ej2_instances[0];
                var EvacuationFacility = document.getElementById("EvacuationFacility1").ej2_instances[0];
                var EvacuationComments = document.getElementById("EvacuationComments1").ej2_instances[0];

                if (CaseEvacuated.value == null) {
                    alert("Please select if Case was Evacuated.")
                }
                else if (RPObj.value == null) {
                    alert("Please select a supervisor you would like to assign the selected case to.")
                }
                else if (EvacuationFacility.value == null) {
                    alert("Please provide Evacuation Facility.")
                }
                else {
                    var grid = document.getElementById("Grid").ej2_instances[0];
                    var selectedindex = grid.selectionModule.selectedRowIndexes;
                    var currentdata = grid.currentViewData;
                    //console.log(currentdata.ContactCaseNo);
                    //console.log(selectedindex.ContactCaseNo);
                    reCursive(0, selectedindex.length, selectedindex, currentdata, RPObj.value, CaseEvacuated.value, EvacuationFacility.value, EvacuationComments.value);
                }
            }
            function reCursive(curr, total, selecetedIndex, currentData, employee, CaseEvacuated, EvacuationFacility, EvacuationComments) {
                //debugger;
                //console.log(currentData[selecetedIndex[curr]].CaseNo);
                if (curr <= (total - 1)) {
                    document.getElementById('Approving').innerHTML = 'Assign Case Evacuation details ' + (curr + 1) + ' out of ' + total;
                    $.ajax({
                        type: 'GET',
                        url: "SaveEvacuationDetails",
                        data: {
                            "EmployeeID": employee,
                            "CaseEvacuated": CaseEvacuated,
                            "EvacuationFacility": EvacuationFacility,
                            "EvacuationComments": EvacuationComments,
                            "CaseNo": currentData[selecetedIndex[curr]].CaseNo,
                            //"ContactCaseNo": currentData.records[selecetedIndex[curr]].ContactCaseNo,
                        },
                        success: function (result) {
                            curr++;
                            reCursive(curr, total, selecetedIndex, currentData, employee, CaseEvacuated, EvacuationFacility, EvacuationComments);
                        },
                    });
                }
                else {
                    alert("All seleceted Cases have been successfully Allocated to monitoring/Evacuation officers.....");
                    var grid = document.getElementById("Grid").ej2_instances[0];
                    grid.refresh();
                    document.getElementById('Approving').innerHTML = "";
                    window.promptObj.hide();
                }
            }


            function onLoadprompt() {
                window.promptObj = this;
            }
            function promptCancelBtnClick() {
                window.promptObj.hide();
            }

        </script>
        <style>
            .e-float-input, .e-float-input.e-control-wrapper {
                line-height: 1.4;
                margin-bottom: 0;
                margin-top: 8px;
                padding-top: 0;
                position: relative;
                width: 100%;
            }
        </style>
    </div>

</div>
@*<script>
        //County Change
        function CountyChange(e) {
            $.ajax({
                url: 'getcounty?DistrictId=' + e.value,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (data) {

                    var DistrictObj = document.getElementById("CountyId").ej2_instances[0];
                    DistrictObj.dataSource = data;

                },
            });
        }


        //Division Change
        function DivisionChange(e) {
            $.ajax({
                url: 'getdivision?CountyId=' + e.value,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (data) {

                    var CountyObj = document.getElementById("SubcountyId").ej2_instances[0];
                    CountyObj.dataSource = data;

                },
            });
        }

        //Parish Change
        function ParishChange(e) {
            $.ajax({
                url: 'getparish?SubcountyId=' + e.value,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (data) {

                    var SubCountyObj = document.getElementById("ParishId").ej2_instances[0];
                    SubCountyObj.dataSource = data;

                },
            });
        }

        //Village Change
        function VillageChange(e) {
            $.ajax({
                url: 'getvillage?ParishId=' + e.value,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (data) {

                    var ParishObj = document.getElementById("VillageId").ej2_instances[0];
                    ParishObj.dataSource = data;

                },
            });
        }

    </script>*@

